<!-- <section class="m-7 h-auto " >
    <div class="relative controls text-plomo-290 py-1 w-full h-full justify-between grid grid-cols-12 gap-9 items-center space-x-5">
        
        <div class="col-span-2 text-azul-300 flex gap-2 items-center  ">
            <img class="object-contain "  src="assets/img/almacen/caja.svg" alt=""><span class="text-lg font-bold whitespace-nowrap">Compras</span>
        </div>
    </div>
    <div  class=" overflow-y-auto w-full h-88 scroollpersonalizadotabla   tablas    bg-white "  >
        <div class="h-full">
            <table class="tablaretorno relative scroollpersonalizadotabla  overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                <thead class="z-10 border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium ">
                        <tr  class="text-sm w-full font-extralight ">
                            <th class="w-2/12 "> <div class="whitespace-nowrap w-full flex lg:justify-start justify-center pl-8">Vendedor Solcitante</div> </th>
                            <th class="w-2/12 pl-5"> <div class="whitespace-nowrap w-full flex justify-start  pl-10">Tienda Solicitante</div> </th>
                            <th class="w-3/12 pl-5"> <div class="whitespace-nowrap w-full flex justify-start  pl-10">Producto</div>  </th>   
                            <th class="w-2/12 pl-5"> <div class="whitespace-nowrap w-full flex justify-start  px-10">Talla</div>  </th>                                                                            
                            <th class="w-2/12 px-2"> <div class="whitespace-nowrap w-full flex justify-start  pr-5">Accion</div>  </th>                                  
                        </tr>
                </thead>
                <tbody>
                    <tr  class=" text-sm  text-plomo-170 items-center  ">
                            <td class="w-2/12   ">
                                <div class="whitespace-nowrap pl-8  w-full flex justify-start ">Juan Carlos Meza</div>  
                            </td>
                            <td class="w-2/12 pl-5  ">
                                <div class="whitespace-nowrap pl-10  w-full flex justify-start ">2-Tienda</div>  
                            </td>
                            <td class="w-3/12 pl-5   ">
                                <div class=" flex gap-4 pl-10 justify-start ">
                                    <div class="justify-start  lg:flex hidden ">
                                        <img class="object-contain w-20" src="assets/img/venta/controldeventa/tenisazul.svg" alt=""> 
                                        
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-plomo-800 lg:text-lg text-base whitespace-nowrap ">Zapatilla NIKE</div>
                                        <div class="text-plomo-430 lg:text-sm text-xs whitespace-nowrap">New Edition 2020 Rx2</div>
                                    </div>
                                </div>
                            </td>
                            <td class="w-2/12 pl-5 ">
                                <div class="whitespace-nowrap px-10 w-full flex justify-start ">7</div>  
                            </td>
                            <td class="w-2/12 px-2  ">
                                <div class="whitespace-nowrap pr-5 w-full flex justify-start relative  gap-5">
                                    <button  class="lg:text-base text-sm  bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 rounded-md focus:outline-none lg:px-5 lg:py-2 px-3 py-1 ">Rechazar</button>
                                    <button  class="lg:text-base text-sm  bg-azul-300 text-white hover:bg-azul-350  rounded-md focus:outline-none lg:px-7 lg:py-2 px-4 py-1 ">Aceptar</button>   
                                </div>  
                            </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-azul-700 pt-6 font-medium ">Mostrando: <strong>1</strong> cajas</div>
</section> -->

<router-outlet></router-outlet>
