<section class="flex justify-between border-b-2 shadow-lg border-plomo-50 p-4 bg-white">
    <div class="relative flex items-center w-3/6 ">
        <input class="w-full rounded-md border-gray-300 border-2" type="text" placeholder="Buscar Aquí...">
        <button class="absolute right-6 focus:outline-none">
            <svg class="w-5 h-5 " viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6074 9.5607C11.5309 8.36965 11.9661 6.87139 11.8245 5.37071C11.683 3.87004 10.9752 2.47968 9.84533 1.4825C8.71542 0.485318 7.24821 -0.0437825 5.74219 0.00283868C4.23617 0.0494599 2.80447 0.6683 1.73835 1.73346C0.671303 2.79936 0.0506861 4.23219 0.00296979 5.73996C-0.0447465 7.24772 0.484029 8.71696 1.48154 9.84825C2.47905 10.9795 3.87022 11.6877 5.37156 11.8286C6.8729 11.9694 8.37141 11.5322 9.56172 10.6061L9.59357 10.6394L12.7351 13.7829C12.8039 13.8517 12.8856 13.9063 12.9755 13.9436C13.0654 13.9808 13.1617 14 13.259 14C13.3563 14 13.4527 13.9808 13.5426 13.9436C13.6325 13.9063 13.7142 13.8517 13.783 13.7829C13.8518 13.7141 13.9064 13.6323 13.9436 13.5424C13.9808 13.4525 14 13.3561 14 13.2587C14 13.1614 13.9808 13.065 13.9436 12.975C13.9064 12.8851 13.8518 12.8034 13.783 12.7346L10.6407 9.59181C10.6299 9.58114 10.6188 9.57076 10.6074 9.5607ZM9.06999 2.78179C9.48811 3.19332 9.82065 3.6836 10.0484 4.22435C10.2762 4.7651 10.3947 5.34561 10.3971 5.9324C10.3995 6.51919 10.2857 7.10065 10.0623 7.64324C9.83898 8.18582 9.51044 8.6788 9.09568 9.09372C8.68091 9.50865 8.18814 9.83732 7.64577 10.0608C7.1034 10.2842 6.52217 10.398 5.93561 10.3957C5.34906 10.3933 4.76878 10.2747 4.22824 10.0469C3.68771 9.81899 3.19762 9.48632 2.78625 9.06802C1.96416 8.2321 1.50555 7.10506 1.51033 5.9324C1.5151 4.75975 1.98287 3.63648 2.81174 2.80728C3.64061 1.97808 4.76342 1.51013 5.93561 1.50535C7.1078 1.50058 8.23439 1.95937 9.06999 2.78179Z" fill="#9A9A9A"/>
            </svg>
        </button>
    </div>
    <div class="flex justify-end space-x-5 items-center pr-16 gap-6">
        <button class="focus:outline-none relative rounded-full w-7 h-7 border-2 border-celeste-20">
            <img class="object-cover" src="assets/img/navbar/chat.png" alt="">
            <div class="absolute right-0 -top-1 h-1 w-1  p-1 bg-red-400 rounded-full bottom-4 animate-ping"></div>
            <div class="absolute right-0 -top-1 h-1 w-1  p-1 bg-red-400 border border-white rounded-full bottom-4"></div>
        </button>
        <button class="focus:outline-none relative rounded-full  w-7 h-7 border-2 border-celeste-20">
            <img class="object-cover" src="assets/img/navbar/notificaciones.png" alt="">
            <div class="absolute right-0 -top-1 h-1 w-1  p-1 bg-green-400 rounded-full bottom-4 animate-ping"></div>
            <div class="absolute right-0 -top-1 h-1 w-1  p-1 bg-green-400 border border-white rounded-full bottom-4"></div>
        </button>
        <span class="flex items-center">
            <button class="focus:outline-none flex justify-center items-center relative rounded-full bg-azul-300 w-7 p-6 text-white h-7 border-2 border-celeste-20">
                <div class="text-bold text-lg font-bold font-Roboto">T1</div>
            </button>
            <button class="focus:outline-none">
                <svg class="object-cover w-4" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 6L0.669872 0L9.33013 0L5 6Z" fill="#636363"/>
                </svg>
            </button>
        </span>
        
    </div>
</section>