<section class=" font-Poppins bg-azul-100 overflow-y-auto overflow-x-auto h-auto">
    <div class="w-auto h-full  flex">   
        <div class="w-1/6 h-auto"> 
            <!-- Seccion del SIDEBAR -->
            <div class="w-full h-full">
                <app-sidebar ></app-sidebar> 
            </div>
        </div>
        <div class="w-5/6 relative h-full">
            <!-- Seccion del NAVBAR-PRINCIPAL -->
            <div class="w-full h-auto">
                <app-navbarprincipal></app-navbarprincipal>
            </div>
            <div class="w-full h-auto">
                <router-outlet></router-outlet>                
            </div>        
        </div> 
    </div>
</section>

