
<section class="m-7 " >
    <div class=" relative controls py-1 text-plomo-290 w-full h-full justify-between grid grid-cols-6 gap-9 items-center space-x-5">
        <!-- logo de  punto de  Almacenes-->
        <div class="col-span-2 text-azul-300 flex gap-2 items-center  ">
            <img src="assets/img/compras/proveedores/icoproveedores.svg" alt=""><span class="text-lg font-bold whitespace-nowrap">Proveedores</span>
        </div>
        
        <div class="relative col-span-4 flex items-start w-full justify-end ">
            <div class="relative   flex items-start pr-6  w-full space-x-3  justify-end">
                
                <div  class="relative col-span-4 flex items-start  w-full  justify-end"  >                     
                    <!-- FILTRO -->
                    <button class=" border-2 rounded-md bg-white items-center flex  h-9 w-24 focus:outline-none">
                        <input type="checkbox" id="filtro" class="hidden absolute">
                        <label for="filtro" (click)="onMostratrFiltroProveedores()" class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                            <span>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.9 11.1012L6.3 11.8012V7.18822C6.29923 7.00458 6.22632 6.8286 6.097 6.69822L1.561 2.09922H12.453L7.924 6.69822C7.79468 6.8286 7.72177 7.00458 7.721 7.18822L7.7 12.5992L9.1 13.2992V7.47522L13.706 2.79922C13.8902 2.61229 13.9955 2.36165 14 2.09922V1.39922C14 1.21357 13.9263 1.03552 13.795 0.904244C13.6637 0.772969 13.4857 0.699219 13.3 0.699219H0.7C0.514348 0.699219 0.336301 0.772969 0.205025 0.904244C0.0737499 1.03552 0 1.21357 0 1.39922V2.09922C0.00447825 2.36165 0.10975 2.61229 0.294 2.79922L4.9 7.47522V11.1012Z" fill="#212121"/>
                                </svg>     
                            </span>
                            <span class="">Filtrar</span>                                   
                        </label>
                        <!-- Opción - Filtro Existencia -->
                        <div *ngIf="filtroProveedores"  class="adornofiltrotransferencia w-100 absolute right-5 top-11 mt-1    rounded  bg-white shadow-md transition delay-75 ease-in-out z-10">
                            <!-- Articulo y Marca -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                                
                                <div class="flex gap-3 items-center w-full">
                                    <section class="flex w-full gap-16 items-center   ">
                                        <div class=" w-1/12 flex justify-start relative">Fecha</div>
                                        <div class="w-11/12 focus:outline-none relative flex border-1 pl-5 border-gray-400 bg-plomo-135  rounded items-center   text-plomo-21">
                                            <mat-date-range-input [rangePicker]="picker" class="focus:outline-none   ">
                                                <input matStartDate placeholder="12/07/2021" class=" text-plomo-21   placeholder-gray-500 text-sm font-medium focus:outline-none">
                                                <input matEndDate placeholder="5/10/2022" class=" text-sm text-plomo-21   font-medium placeholder-gray-500 focus:outline-none">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle class="focus:outline-none" matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker class="focus:outline-none" #picker></mat-date-range-picker>
                                        </div> 
                                    </section>
                                </div>                                           
                            </section> 
                            <!-- Genero y Stock  -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                                <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                                    <div class="w-1/4 flex justify-start">Proveedor</div>
                                    <div class="w-3/4 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                        <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                            <option selected disabled>Elige una opción</option>
                                            <option value="">Zapatilla</option>
                                            <option value="">Ropa</option>
                                            <option value="">Accesorio</option>   
                                        </select>
                                        <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                                    </div>
                                </div> 

                                <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                                    <div class="w-1/4 flex justify-start">Almacén</div>
                                    <div class="w-3/4 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                        <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                            <option selected disabled>Elige una opción</option>
                                            <option value="">Zapatilla</option>
                                            <option value="">Ropa</option>
                                            <option value="">Accesorio</option>   
                                        </select>
                                        <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                                    </div>
                                </div> 
                            </section>  
                            <!-- Botones  -->
                            <section class="flex justify-between p-5 items-center">
                                 <div class="text-red-500">Quitar todos filtros</div>
                                 <div class="flex gap-4">
                                     <div><button (click)="onMostratrFiltroProveedores()" class="rounded-md  focus:outline-none px-5 py-2 text-base bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 ">Cancelar</button></div>
                                     <div><button class="rounded-md  focus:outline-none px-8 py-2  bg-plomo-480 hover:border-plomo-230 hover:text-white hover:bg-plomo-230 text-plomo-270 border-plomo-300 border-2 text-base ">Aplicar</button></div>
                                 </div>
                            </section>                          
                        </div>
                    </button>
                </div>
                <div>
                    <button (click)="onModalNuevoProveedor()" class=" h-9 w-24 flex justify-center items-center  bg-azul-300 hover:bg-azul-350 text-white font-bold   rounded-md gap-2 focus:outline-none"> 
                        <div>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 5.6H8.4V0H5.6V5.6H0V8.4H5.6V14H8.4V8.4H14" fill="white"/>
                            </svg>
                        </div>
                        <div>Nuevo</div>
                    </button> 
                </div>
                
            </div> 
        </div>
    </div>

    <div  class="verflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white"  >
        <div class="h-full">
            <table class="tablaretorno relative scroollpersonalizadotabla  overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                <thead class=" border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium  ">
                    <tr  class="text-sm w-full font-extralight ">
                        <th class="w-2/12"><div class="w-full flex justify-start pl-12">Proveedor</div> </th>
                        <th class="w-3/12"><div class="w-full flex justify-start pl-10">Contacto</div> </th>
                        <th class="w-2/12"><div class="w-full flex justify-start pl-14">Numero</div></th>   
                        <th class="w-3/12"><div class="w-full flex justify-start pl-14">Correo</div></th>                                                                             
                        <th class="w-2/12"></th>                                  
                    </tr>
                </thead>
                <tbody class="text-center gap-3   " >
                    <tr  class=" text-sm  text-plomo-170 items-center ">
                        <td class="w-1/12  pl-12" >
                            <span class="flex gap-4">                      
                                <div class="flex flex-col">
                                    <div class="text-plomo-800 font-medium whitespace-nowrap">Adidas Perú S.A.C.</div>
                                </div>
                            </span>
                        </td>
                        <td class="w-3/12  pl-10">
                            <div class="w-full flex justify-start whitespace-nowrap">Jose Matias Peréz Mendez</div>  
                        </td>
                        <td class="w-2/12  pl-14">
                            <div class="w-full flex justify-start whitespace-nowrap">+ 49 1234565555</div> 
                        </td>
                        <td class="w-2/12  pl-14">
                            <div class="w-full flex justify-start">michael.mitc@example.com</div> 
                        </td>   
                        <td class="w-2/12">
                            <div class="">
                                <button class=" relative  rounded-md bg-white h-9 w-24 focus:outline-none">
                                    <input type="checkbox" id="filtro" class="hidden absolute">
                                    <label for="filtro" (click)='MostrarFiltroTresPuntos()'  class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                                        <svg class="object-cover w-6" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2" cy="2" r="2" fill="#515151"/>
                                            <circle cx="8" cy="2" r="2" fill="#515151"/>
                                            <circle cx="14" cy="2" r="2" fill="#515151"/>
                                        </svg>                                 
                                    </label>
                                    <!-- Opción - Filtro Almacenes -->
                                    <div *ngIf="VerFiltroTresPuntos" class="absolute  top-7 right-8   min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out ">
                                        <a (click)="onModalNuevoProveedor()" class="focus:outline-none items-center flex gap-3 px-3 py-2 hover:bg-azul-100"> 
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>    
                                            <span>Editar</span> 
                                        </a> 
                                        <a (click)="onModalEliminarProveedor()" class="focus:outline-none items-center flex gap-3 px-3 py-2 hover:bg-azul-100">
                                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.92367 10.9128L11.0994 7.82529L14.2752 10.9128L15.1237 10.0879L11.9479 7.00034L15.1237 3.9128L14.2752 3.08789L11.0994 6.1754L7.92367 3.08789L7.0752 3.9128L10.2509 7.00034L7.0752 10.0879L7.92367 10.9128Z" fill="#575757"/>
                                                <path d="M17.1 0H6.69915C6.57692 0.000197164 6.456 0.0245066 6.34372 0.0714566C6.23144 0.118407 6.13012 0.187021 6.0459 0.273146L0 6.47584V7.52416L6.0459 13.7269C6.13012 13.813 6.23144 13.8816 6.34372 13.9285C6.456 13.9755 6.57692 13.9998 6.69915 14H17.1C17.3386 13.9997 17.5674 13.9075 17.7361 13.7434C17.9048 13.5794 17.9997 13.357 18 13.125V0.875C17.9997 0.643018 17.9048 0.420616 17.7361 0.25658C17.5674 0.0925441 17.3386 0.000270173 17.1 0V0ZM16.8 12.8333H6.82815L1.2 7.05917V6.94083L6.82815 1.16667H16.8V12.8333Z" fill="#575757"/>
                                            </svg>  
                                            <span>Eliminar</span> 
                                        </a>                                           
                                    </div>
                                </button>   
                            </div>  
                        </td>  
                    </tr>
                </tbody>  
            </table>
        </div>
    </div>
    <div class="text-azul-700 pt-6 font-medium ">Mostrando: <strong>1</strong> cajas</div>
</section>

