
<div class=" relative  items-center lg:pt-0  pt-20  ">
    <app-navbar class="relative h-1/6"></app-navbar>
    <section class="relative h-4/6 adorno flex justify-center w-full  ">
        <div class=" h-full  flex items-center ">
            <form class=" 3xl:gap-14 gap-3 2xl:px-40 xl:px-14 lg:px-10 md:px-6   alturalogin flex justify-center items-center ">
                <div class="3xl:px-44 xl:px-28 hidden md:flex  px-8 bg-white">
                    <div class="space-y-9 ">
                        <div class="2xl:text-4xl text-2xl leading-snug tracking-widest font-masgrande text-oscuro-800">Bienvenido a FactuTED</div>
                        <div class="justify-end text-base text-plomo-190  leading-loose lg:text-justify text-lef  ">Duis autem vel eum velit esse molestie consequat, eu  praesent luptatum zzril e te feugait nulla facilisi. Lorem ipsum, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt magna aliquam erat volutpat.   </div>
                        <div class="flex justify-center"><img src="assets/img/sticker.svg" alt=""></div>
                    </div>
                </div>
                <div class="3xl:px-20 md:px-6  h-full flex items-center">
                    <form class="3xl:w-98 sm:w-96 w-83 border-1 bg-white flex justify-center shadow-lg rounded-2xl border-plomo-50 h-85  items-center ">
                        <div class="px-0 space-y-8">
                            <div class="flex justify-center font-medium text-2xl">Iniciar Sesión</div>
                            <div class="space-y-1 focus-within:text-gray-600 text-gray-400">
                                <span class="text-oscuro-700">Ruc:</span>
                                <div class="relative 3xl:w-97 w-72 flex items-center ">
                                    <svg class=" absolute left-0 ml-5  " fill="currentColor" width="20" height="10" viewBox="0 0 20 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 10V2H0V0H4V10H2ZM20 8C20 8.53043 19.7893 9.03914 19.4142 9.41421C19.0391 9.78929 18.5304 10 18 10H14V8H18V6H16V4H18V2H14V0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2V3.5C20 3.89782 19.842 4.27936 19.5607 4.56066C19.2794 4.84196 18.8978 5 18.5 5C18.8978 5 19.2794 5.15804 19.5607 5.43934C19.842 5.72064 20 6.10218 20 6.5V8ZM12 8V10H6V6C6 5.46957 6.21071 4.96086 6.58579 4.58579C6.96086 4.21071 7.46957 4 8 4H10V2H6V0H10C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V4C12 4.53043 11.7893 5.03914 11.4142 5.41421C11.0391 5.78929 10.5304 6 10 6H8V8H12Z" />
                                    </svg>    
                                    <input class="w-full pl-14 rounded-md border-plomo-300" stroke="currentColor" type="text" placeholder="0000000000">
                                </div>
                            </div>
                            <div class="space-y-1 focus-within:text-gray-600 text-gray-400">
                                <span class="text-oscuro-700">Usuario:</span>
                                <div class="relative w-full  flex items-center ">
                                    <svg class=" absolute left-0 ml-5 " width="22" height="22" viewBox="0 0 22 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0ZM11 20.35C9.77207 20.3499 8.55618 20.108 7.42174 19.638C6.28731 19.168 5.25655 18.4792 4.38832 17.6109C3.5201 16.7426 2.8314 15.7117 2.36156 14.5772C1.89172 13.4428 1.64993 12.2268 1.65 10.9989C1.65007 9.77097 1.892 8.55507 2.36198 7.42064C2.83195 6.28621 3.52077 5.25545 4.3891 4.38722C5.25743 3.519 6.28827 2.8303 7.42276 2.36046C8.55725 1.89062 9.77317 1.64883 11.0011 1.6489C13.481 1.64905 15.8593 2.63433 17.6128 4.388C19.3662 6.14167 20.3512 8.52008 20.3511 11C20.351 13.4799 19.3657 15.8582 17.612 17.6117C15.8583 19.3651 13.4799 20.3501 11 20.35ZM11 11.55C7.6582 11.55 4.95 13.4508 4.95 15.4C4.95 17.3492 7.6582 19.25 11 19.25C14.3418 19.25 17.05 17.3492 17.05 15.4C17.05 13.4508 14.3418 11.55 11 11.55ZM11 11C11.8752 11 12.7146 10.6523 13.3335 10.0335C13.9523 9.41458 14.3 8.57521 14.3 7.7C14.3 6.82479 13.9523 5.98542 13.3335 5.36655C12.7146 4.74768 11.8752 4.4 11 4.4C10.1248 4.4 9.28542 4.74768 8.66655 5.36655C8.04768 5.98542 7.7 6.82479 7.7 7.7C7.7 8.57521 8.04768 9.41458 8.66655 10.0335C9.28542 10.6523 10.1248 11 11 11Z" />
                                    </svg>    
                                    <input class="w-full pl-14 rounded-md border-plomo-300" stroke="currentColor" type="text" placeholder="Aurelio20">
                                </div>
                            </div>
                            <div class="space-y-1 focus-within:text-gray-600 text-gray-400">
                                <span class="text-oscuro-700">Contraseña:</span>
                                <div class="relative w-full  flex items-center ">
                                    <svg class=" absolute left-0 ml-6" width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z" />
                                    </svg>    
                                    <input class="w-full pl-14 rounded-md border-plomo-300" stroke="currentColor" type="password" placeholder="*******">
                                </div>
                            </div>
                            <div class="flex  justify-end text-azul-300 font-medium underline"><button class="focus:outline-none">¿Olvidaste tu contraseña?</button></div>
                            <div [routerLink]="['/inicio']" class="flex justify-center"><button class="bg-azul-350 transform hover:scale-105 hover:bg-azul-400 px-28 py-3 rounded-3xl text-white focus:outline-none">Iniciar</button></div>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </section>
    <app-footer class="relative h-1/6"></app-footer>
</div>

 <!-- <section class="font-Poppins w-full flex justify-center ">
   <div class="flex w-full md:flex-row  flex-col alrutalogin adorno object-contain lg:pb-11  container">
       <div class="md:w-1/2 w-full lg:pl-36 lg:pr-20 lg:pt-12 mt-8 space-y-5 p-5">
           <div class=" font-bold flex justify-center md:justify-start md:text-xl 2xl:text-4xl text-base">Bienvenido a FactuTED</div>
           <div class="text-plomo-450 leading-relaxed sm:leading-loose pt-4">Duis autem vel eum velit esse molestie consequat, eu  praesent luptatum zzril e te feugait nulla facilisi. Lorem ipsum, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt magna aliquam erat volutpat.   </div>
           <div class="flex justify-center pt-10"><img src="assets/img/sticker.svg" alt=""></div>
       </div>
       
       <div class="md:w-1/2 w-full  flex lg:pt-8 mt-5 justify-center mb-1 p-5">
           <div class=" flex font-semibold flex-col shadow-xl border border-gray-200  rounded-2xl lg:ml-11 lg:px-10 pt-16 p-5  justify-center bg-white">
               <div class="flex justify-center items-start h"><img src="assets/img/iniciars.svg" alt=""></div>
               <form  class="  text-gray-600 space-y-5 h-full w-full pt-9">
                   
                   <div class="space-y-1">
                       <span>Ruc:</span>
                       <div class="relative  flex items-center ">
                           <svg class=" absolute left-0 ml-5  fill-current" width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M2 10V2H0V0H4V10H2ZM20 8C20 8.53043 19.7893 9.03914 19.4142 9.41421C19.0391 9.78929 18.5304 10 18 10H14V8H18V6H16V4H18V2H14V0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2V3.5C20 3.89782 19.842 4.27936 19.5607 4.56066C19.2794 4.84196 18.8978 5 18.5 5C18.8978 5 19.2794 5.15804 19.5607 5.43934C19.842 5.72064 20 6.10218 20 6.5V8ZM12 8V10H6V6C6 5.46957 6.21071 4.96086 6.58579 4.58579C6.96086 4.21071 7.46957 4 8 4H10V2H6V0H10C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V4C12 4.53043 11.7893 5.03914 11.4142 5.41421C11.0391 5.78929 10.5304 6 10 6H8V8H12Z" fill="#3A3A3A"/>
                           </svg>    
                           <input class="w-full pl-14 rounded-md border-plomo-300" stroke="currentColor" type="text" placeholder="0000000000">
                       </div>
                      
                   </div>
                   
                   <div class="space-y-1">
                       <span>Usuario:</span>
                       <div class="relative  flex items-center ">
                            <svg class=" absolute left-0 ml-5 " width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0ZM11 20.35C9.77207 20.3499 8.55618 20.108 7.42174 19.638C6.28731 19.168 5.25655 18.4792 4.38832 17.6109C3.5201 16.7426 2.8314 15.7117 2.36156 14.5772C1.89172 13.4428 1.64993 12.2268 1.65 10.9989C1.65007 9.77097 1.892 8.55507 2.36198 7.42064C2.83195 6.28621 3.52077 5.25545 4.3891 4.38722C5.25743 3.519 6.28827 2.8303 7.42276 2.36046C8.55725 1.89062 9.77317 1.64883 11.0011 1.6489C13.481 1.64905 15.8593 2.63433 17.6128 4.388C19.3662 6.14167 20.3512 8.52008 20.3511 11C20.351 13.4799 19.3657 15.8582 17.612 17.6117C15.8583 19.3651 13.4799 20.3501 11 20.35ZM11 11.55C7.6582 11.55 4.95 13.4508 4.95 15.4C4.95 17.3492 7.6582 19.25 11 19.25C14.3418 19.25 17.05 17.3492 17.05 15.4C17.05 13.4508 14.3418 11.55 11 11.55ZM11 11C11.8752 11 12.7146 10.6523 13.3335 10.0335C13.9523 9.41458 14.3 8.57521 14.3 7.7C14.3 6.82479 13.9523 5.98542 13.3335 5.36655C12.7146 4.74768 11.8752 4.4 11 4.4C10.1248 4.4 9.28542 4.74768 8.66655 5.36655C8.04768 5.98542 7.7 6.82479 7.7 7.7C7.7 8.57521 8.04768 9.41458 8.66655 10.0335C9.28542 10.6523 10.1248 11 11 11Z" fill="#3A3A3A"/>
                           </svg> 
                          
                           <input class="w-full pl-14 rounded-md border-plomo-300" stroke="currentColor" type="text" placeholder="Aurelio20">
                       </div>
                   </div>
                   
                   <div class="space-y-1">
                       <span>Contraseña:</span>
                       <div class="relative  flex items-center ">
                           <svg class=" absolute left-0 ml-6" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z" fill="#3A3A3A"/>
                           </svg>
                           <input class="w-full pl-14 rounded-md border-plomo-300" stroke="currentColor" type="password" placeholder="********">
                       </div>
                       <button type="button" class="text-azul-300 font-bold  flex w-full justify-end pt-2 hover:underline focus:underline focus:outline-none">¿Olvidaste tu contraseña?</button>
                   </div>
                   <div class="px-5 pt-2">
                       <button [routerLink]="['/inicio']" routerLinkActive="router-link-active"  type="button" class="flex w-full bg-azul-300 hover:bg-azul-400 text-white rounded-3xl p-2 mt-6  focus:outline-none justify-center"> <a class="py-1 cursor-pointer">Iniciar</a>   </button>
                   </div>
               </form>
           </div>
       </div>
   </div>
</section>  -->

