<section class="space-y-4 text-plomo-190 w-120 ">
    <div class="text-azul-350 text-lg border-plomo-315  border-b-1 ">
        <div class=" p-5 w-full items-center flex justify-between ">
            <div>Nuevo Empleado</div>
            <button mat-dialog-close class="focus:outline-none">    
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
                    <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
                </svg>
            </button> 
        </div>
    </div>
    <div class="">
        <input type="radio" name="person" id="infopersonal1" class="selectpersonal" checked>
        <input type="radio" name="person" id="infopersonal2" class="selectpersonal">
        <div class="flex flex-col pers pt-3">
            <div class=" grid grid-cols-2 info w-full  flex-row px-12 justify-center gap-16 focus:text-azul-300 ">
                <label  for="infopersonal1" class="col-span-1 cursor-pointer gap-2 flex justify-center "> 
                    <span>
                        <svg width="16" height="18" viewBox="0 0 16 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.2857 5.71429V0H0V17.1429H4.57143V13.7143H5.71429V17.1429H16V5.71429H10.2857ZM2.85714 14.8571H1.71429V13.7143H2.85714V14.8571ZM2.85714 12H1.71429V10.8571H2.85714V12ZM2.85714 9.14286H1.71429V8H2.85714V9.14286ZM2.85714 6.28571H1.71429V5.14286H2.85714V6.28571ZM2.85714 3.42857H1.71429V2.28571H2.85714V3.42857ZM7.42857 2.28571H8.57143V3.42857H7.42857V2.28571ZM5.71429 12H4.57143V10.8571H5.71429V12ZM5.71429 9.14286H4.57143V8H5.71429V9.14286ZM5.71429 6.28571H4.57143V5.14286H5.71429V6.28571ZM5.71429 3.42857H4.57143V2.28571H5.71429V3.42857ZM8.57143 14.8571H7.42857V13.7143H8.57143V14.8571ZM8.57143 12H7.42857V10.8571H8.57143V12ZM8.57143 9.14286H7.42857V8H8.57143V9.14286ZM8.57143 6.28571H7.42857V5.14286H8.57143V6.28571ZM14.8571 16H10.2857V14.8571H11.4286V13.7143H10.2857V12H11.4286V10.8571H10.2857V9.14286H11.4286V8H10.2857V6.85714H14.8571V16Z" />
                        </svg>
                    </span> Empresa 
                </label>
                <label  for="infopersonal2" class="col-span-1 cursor-pointer gap-2 flex justify-center "> 
                    <span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2 0H3.2C2.77565 0 2.36869 0.168571 2.06863 0.468629C1.76857 0.768687 1.6 1.17565 1.6 1.6V4H0V5.6H1.6V7.2H0V8.8H1.6V10.4H0V12H1.6V14.4C1.6 14.8243 1.76857 15.2313 2.06863 15.5314C2.36869 15.8314 2.77565 16 3.2 16H15.2C15.4122 16 15.6157 15.9157 15.7657 15.7657C15.9157 15.6157 16 15.4122 16 15.2V0.8C16 0.587827 15.9157 0.384344 15.7657 0.234315C15.6157 0.0842854 15.4122 0 15.2 0ZM8.8 2.3992C10.1184 2.3992 11.2 3.48 11.2 4.7992C11.1977 5.43508 10.9441 6.04427 10.4945 6.49398C10.045 6.94369 9.43588 7.19747 8.8 7.2C7.4824 7.2 6.4 6.1176 6.4 4.7992C6.4 3.48 7.4824 2.3992 8.8 2.3992ZM13.6 12.8H4V12.2C4 10.4248 6.164 8.6 8.8 8.6C11.436 8.6 13.6 10.4248 13.6 12.2V12.8Z" />
                        </svg>  
                    </span> Contacto 
                </label>
            </div>
            <div class="informac  w-full">
                <div class="  personal">
                    <section class=" pb-7 px-7 pt-4 text-plomo-280">
                        <div class=" grid grid-cols-8">
                            <div class="grid grid-cols-8 col-span-8  space-y-4">
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3" >
                                    <div class="col-span-4 grid grid-cols-4 gap-3">
                                        <div class="col-span-4 justify-start flex flex-col items-center space-y-2">
                                            <div class="flex w-full justify-start">Razón Social</div>
                                            <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingresa una dirección" type="text"></div>
                                        </div>
                                    </div>
                                    <div class="col-span-4 flex flex-col space-y-1" >
                                        <div class="w-full flex justify-start">Denomación</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingresa una dirección" type="text"></div>
                                    </div> 
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center space-y-1" >
                                        <div class="w-full flex justify-start">Dirección</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingresa tu apellidos" type="text"></div>
                                    </div>
                                    <div class="col-span-4 h-16  justify-start flex flex-col items-center space-y-1" >
                                        <label class="w-full flex justify-start">Teléfono</label>
                                        <mat-chip-list #chipList  class="p-3 border-plomo-335 border-1 w-full  rounded">
                                          <mat-chip *ngFor="let correoelec of correo" [selectable]="selectable" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md"
                                                   [removable]="removable" (removed)="remove(correoelec)">
                                            {{correoelec.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                          </mat-chip>
                                          <input placeholder="Ingrese su(s) correo(s)"
                                                 [matChipInputFor]="chipList"
                                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                 [matChipInputAddOnBlur]="addOnBlur"
                                                 (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>                
                                    </div>

                                    <!-- <div class="col-span-4  justify-start flex flex-col items-center space-y-1" >
                                        <div class="w-full flex justify-start">Teléfono</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese un correo electrónica" type="number"></div>
                                    </div> -->
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8  gap-3">
                                    <div class="col-span-4 h-16 relative justify-start flex flex-col items-center space-y-1" >
                                        <label class="w-full flex justify-start"> Correo Electrónico</label>
                                        <mat-chip-list #chipList  class="p-3 border-plomo-335 border-1 w-full  rounded">
                                          <mat-chip *ngFor="let correoelec of correo" [selectable]="selectable" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md"
                                                   [removable]="removable" (removed)="remove(correoelec)">
                                            {{correoelec.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                          </mat-chip>
                                          <input placeholder="Ingrese su(s) correo(s)"
                                                 [matChipInputFor]="chipList"
                                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                 [matChipInputAddOnBlur]="addOnBlur"
                                                 (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>                
                                    </div>
                                    <div class="col-span-4 pt-40 relative h-full   justify-start flex  items-center space-y-1" >
                                        <label for="orden" class="flex gap-3 cursor-pointer items-center" >
                                            <input class="rounded-sm border-1 border-plomo-70" id="orden" type="checkbox">
                                            <span>Usa Orden de Compra</span>
                                        </label>  
                                    </div>
                                </div>
                                <div class="hidden">
                                    <div class="col-span-8 space-x-4 gap-5 grid grid-cols-8 ">
                                        <div class="col-span-4 flex items-center mr-4 mb-4">
                                            <input id="radio2" type="radio" name="radio" class="hidden" />
                                            <label for="radio2" class="flex items-center cursor-pointer">
                                             <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
                                             Proveedor de compras
                                            </label>
                                        </div>
                                        <div class="col-span-4 flex items-center mr-4 mb-4">
                                            <input id="radio1" type="radio" name="radio" class="hidden" />
                                            <label for="radio1" class="flex items-center cursor-pointer">
                                             <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
                                             Proveedor de gastos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>  
                        <div class=" flex justify-end pt-14">
                            <div class="flex gap-7  ">
                                <button mat-dialog-close class="text-plomo-335 font-grande text-base border-2 bg-white border-plomo-335 hover:border-plomo-330 hover:text-plomo-330 px-6 py-2 rounded-md focus:outline-none">
                                    <div>Cancelar</div>
                                </button>
                                <button class="text-plomo-230 text-base border-2 border-plomo-310 font-grande bg-plomo-310 hover:bg-plomo-330 hover:border-plomo-330 hover:text-white px-6 py-2 rounded-md focus:outline-none ">
                                    <div>Guardar</div>
                                </button>
                            </div> 
                        </div>
                        
                    </section>
                    <section class=" pb-7 px-7 pt-4 text-plomo-280">
                        <div class=" grid grid-cols-8">
                            <div class="grid grid-cols-8 col-span-8  space-y-6">
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center space-y-1" >
                                        <div class="w-full  flex justify-start">Número de identidad</div>
                                        <div class="w-full bg-plomo-140 border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Numero de identidad" type="text"></div>
                                    </div>
                                    <div class="col-span-4  justify-start flex flex-col items-center space-y-1" >
                                        <div class="w-full flex justify-start">Nombres</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese nombre" type="text"></div>
                                    </div>
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center space-y-1" >
                                        <div class="w-full flex justify-start">Correo electrónico</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese correo" type="text"></div>
                                    </div>
                                    <div class="col-span-4  justify-start flex flex-col items-center space-y-1" >
                                        <div class="w-full flex justify-start">Teléfono</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese telefono" type="text"></div>
                                    </div>
                                </div>
                                                               
                            </div>                     
                        </div>   
                        <div class="flex gap-7 justify-end pt-56 ">
                            <button mat-dialog-close class="text-plomo-335 font-grande text-base border-2 bg-white border-plomo-335 hover:border-plomo-330 hover:text-plomo-330 px-6 py-2 rounded-md focus:outline-none">
                                <div>Cancelar</div>
                            </button>
                            <button class="text-plomo-230 text-base border-2 border-plomo-310 font-grande bg-plomo-310 hover:bg-plomo-330 hover:border-plomo-330 hover:text-white px-6 py-2 rounded-md focus:outline-none ">
                                <div>Guardar</div>
                            </button>
                        </div> 
                    </section> 
                </div>
            </div>
        </div>  
    </div>
    
   
</section>
