
<section class="m-7 " >
    <div class=" relative controls py-1 text-plomo-290 w-full h-full justify-between grid grid-cols-6 gap-9 items-center space-x-5">
        <!-- logo de  punto de  Almacenes-->
       <div class="col-span-2 text-azul-300 flex gap-2 items-center  ">
            <img class="object-contain" src="assets/img/almacen/caja.svg" alt=""><span class="text-lg font-bold whitespace-nowrap">Cajas</span>
        </div>
        
        <div class="relative col-span-4 flex items-start w-full justify-end ">
            <div class="relative   flex items-start pr-6  w-full space-x-3  justify-end">
                <div  class="relative col-span-4 flex items-start  w-full  justify-end"  >                     
                    <!-- FILTRO -->
                    <button class=" border-2 rounded-md bg-white items-center flex  h-9 w-24 focus:outline-none">
                        <input type="checkbox" id="filtro" class="hidden absolute">
                        <label for="filtro" (click)='MostrarFiltroEntradaMercaderia()' class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                            <span>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.9 11.1012L6.3 11.8012V7.18822C6.29923 7.00458 6.22632 6.8286 6.097 6.69822L1.561 2.09922H12.453L7.924 6.69822C7.79468 6.8286 7.72177 7.00458 7.721 7.18822L7.7 12.5992L9.1 13.2992V7.47522L13.706 2.79922C13.8902 2.61229 13.9955 2.36165 14 2.09922V1.39922C14 1.21357 13.9263 1.03552 13.795 0.904244C13.6637 0.772969 13.4857 0.699219 13.3 0.699219H0.7C0.514348 0.699219 0.336301 0.772969 0.205025 0.904244C0.0737499 1.03552 0 1.21357 0 1.39922V2.09922C0.00447825 2.36165 0.10975 2.61229 0.294 2.79922L4.9 7.47522V11.1012Z" fill="#212121"/>
                                </svg>     
                            </span>
                            <span class="">Filtrar</span>                                   
                        </label>
                        <!-- Opción - Filtro Existencia -->
                        <div *ngIf="VerFiltroEntradaMErcaderia" class="adornofiltrotransferencia absolute right-5 top-11 mt-1  min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out z-10">
                            <!-- Articulo y Marca -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                                <div class=" text-black " > Fecha </div>
                                <div class="flex gap-3 items-center w-1/2">
                                    <div>          
                                        <!-- fecha inicio -->
                                        <div class="w-full md:mb-2 col-span-1">
                                            
                                            <div class="flex w-full px-2 border border-gray-300 rounded ">
                                                <input class="w-full px-2 py-2 text-sm focus:outline-none bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md"
                                                    name="fechaemision"
                                                    placeholder="17/10/2020"
                                                    [matDatepicker]="fechainicio"
                                                    required
                                                    formControlName="fechainicio">
                                                <mat-datepicker #fechainicio> </mat-datepicker>
                                                <button type="button" (click)="fechainicio.open()"
                                                    class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                    <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                </button> 
                                            </div>
                                            <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="flex gap-3 items-center w-1/2">
                                    <div>          
                                        <!-- fecha inicio -->
                                        <div class="w-full md:mb-2 col-span-1">
                                           
                                            <div class="flex w-full px-2 border border-gray-300 rounded ">
                                                <input class="w-full px-2 py-2 text-sm  focus:outline-none bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md"
                                                    name="fechaemision"
                                                    placeholder="17/10/2020"
                                                    [matDatepicker]="fechafin"
                                                    required
                                                    formControlName="fechafin">
                                                <mat-datepicker #fechafin> </mat-datepicker>
                                                <button type="button" (click)="fechafin.open()"
                                                    class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                    <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                </button> 
                                            </div>
                                            <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                                        </div>
                                    </div>
                                </div>                                           
                            </section> 
                            <!-- Genero y Stock  -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                               <div class="flex gap-3 items-center w-1/2">
                                <div class=" text-plomo-370 font-semibold w-1/5 flex justify-start" >Origen</div>                                   
                                <div class="select w-full bg-plomo">
                                    <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                        <option selected disabled>Seleccione</option>
                                        <option value="">Adidas</option>
                                        <option value="">Nike</option>
                                        <option value="">Puma</option>
                                        <option value="">Lee</option>
                                        <option value="">Fila</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="flex gap-3 items-center w-1/2">
                                <div class=" text-plomo-370 font-semibold w-1/5">Destino</div>                                   
                                <div class="select w-full">
                                    <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                        <option selected disabled>Elige un opción</option>
                                        <option value="">Disponible</option>
                                        <option value="">Sin stock</option>  
                                        <option value="">Bajo Minímo</option>
                                        <option value="">Stock Negativo</option>           
                                    </select>
                                 </div>
                               </div>
                                                                                  
                            </section> 
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between  ">
                                <div class="flex gap-3 items-center w-1/2">
                                 <div class=" w-full bg-plomo flex gap-5">
                                    <label class="text-plomo-400 flex cursor-pointer gap-2 items-center">
                                        <input type="checkbox"  class="rounded-sm border-gray-400">
                                        <div>En espera</div> 
                                    </label>
                                    <label class="text-plomo-400 flex cursor-pointer gap-2 items-center">
                                        <input type="checkbox"  class="rounded-sm border-gray-400">
                                        <div>Aceptada</div> 
                                    </label>
                                  </div>
                                </div>
                                
                                                                                   
                             </section>  
                            <!-- Botones  -->
                            <section class="flex justify-between p-5 items-center">
                                 <div class="text-red-500">Quitar todos filtros</div>
                                 <div class="flex gap-4">
                                     <div><button class="rounded-md  focus:outline-none px-5 py-2 text-base bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 ">Cancelar</button></div>
                                     <div><button class="rounded-md  focus:outline-none px-8 py-2  bg-plomo-480 hover:border-plomo-230 hover:text-white hover:bg-plomo-230 text-plomo-270 border-plomo-300 border-2 text-base ">Aplicar</button></div>
                                 </div>
                            </section>                             
                        </div>
                    </button>
                </div>
                <div>
                    <button  class=" h-9 w-24 flex justify-center items-center  bg-azul-300 hover:bg-azul-350 text-white font-bold   rounded-md gap-2 focus:outline-none"> 
                        <div>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 5.6H8.4V0H5.6V5.6H0V8.4H5.6V14H8.4V8.4H14" fill="white"/>
                            </svg>
                        </div>
                        <div>Nuevo</div>
                    </button>
                </div>
            </div> 
        </div>
    </div>
    <div  class="verflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white"  >
        <div class="h-full">
            <table class="tablaretorno relative scroollpersonalizadotabla  overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                <thead class=" border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium  ">
                    <tr  class="text-sm w-full font-extralight ">
                        <th class="w-1/6 "> <div class="w-full flex justify-start pl-12 ">ALMACÉN</div> </th>
                        <th class="w-1/6 "> <div class="w-full flex justify-start pl-10">NOMBRE</div> </th>
                        <th class="w-2/6 "> <div class="w-full flex justify-start pl-14">DIRECCIÓN</div>  </th>   
                        <th class="w-1/6 "> <div class="w-full flex justify-start pl-14">SALDO</div>  </th>                                                                            
                        <th class="w-1/6 "></th>                                  
                    </tr>
                </thead>
                <tbody class="text-center gap-3   " >
                    <tr  class=" text-sm  text-plomo-170 items-center ">
                        <td class="w-1/6  pl-12" >
                            <span class="flex gap-4">
                                <div class="flex justify-center ">
                                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 0L0 10H2V19H18V10H20L10 0ZM10 3L16 9V17H4V9L10 3ZM14 11V13H6V11H14Z" fill="#5B5B5B"/>
                                    </svg>       
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-plomo-800 font-medium">Almacén Principal</div>
                                </div>
                            </span>
                        </td>
                        <td class="w-1/6  pl-10">
                            <div class="w-full flex justify-start">Caja Chica</div>  
                        </td>
                        <td class="w-2/6  pl-14">
                            <div class="w-full flex justify-start">Av.  Parker Rd. Allentown, New Marin 344</div> 
                        </td>
                        <td class="w-1/6  pl-14">
                            <div class="w-full flex justify-start">
                                <div class="bg-azul-200 bg-opacity-20 text-azul-300  px-4 py-1 rounded-2xl"> S/. 589.00</div>                                 
                            </div> 
                        </td>                         
                       
                        <!-- uno -->
                        <td class="w-1/6  ">
                            <!-- COMPROBANTE - tres puntos -->
                            <div class="relative">
                                <button class="w-full focus:outline-none flex justify-center">
                                    <input type="checkbox" id="almacen" class="hidden absolute">
                                    <label for="almacen" class="z-auto flex w-full h-full  items-center justify-center space-x-1 cursor-pointer ">  
                                        <svg class="object-cover w-6" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2" cy="2" r="2" fill="#515151"/>
                                            <circle cx="8" cy="2" r="2" fill="#515151"/>
                                            <circle cx="14" cy="2" r="2" fill="#515151"/>
                                        </svg> 
                                    </label>
                                    <!-- Opcion de Ajustes -->
                                    <div id="principal" class="absolute comprobant mt-1  top-0 left-2 min-w-max  rounded opacity-0 bg-white shadow-md transition delay-75 ease-in-out ">
                                        <ul>
                                            <li><a href="#">Diseño web</a></li>
                                            <li><a href="#">Desarrollo web</a></li>
                                            <li><a href="#">Aplicaciones nativas</a></li>
                                        </ul>
                                    </div>
                                </button>
                            </div>                               
                        </td>  
                    </tr> 
                </tbody>  
            </table>
        </div>
    </div>
    <div class="text-azul-700 pt-6 font-medium ">Mostrando: <strong>1</strong> cajas</div>
</section>

