<section class="relative py-2 pt-7 pb-7 font-Poppins">
  <!-- cerrar Modal -->
  <button mat-dialog-close class="focus:outline-none cursor-pointer p-3 top-2 right-4 absolute rounded-full hover:bg-gray-100">
      <svg class="w-7 h-8 text-gray-900 border-gray-800" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
  </button>
  <!-- COntenido -->
  <div class="flex justify-center px-48">
      <img src="assets/img/Tiendavacia.svg" alt="" />
  </div>
  <div class="w-full px-48 space-y-1">
      <div class="flex justify-center text-plomo-490 whitespace-nowrap font-medium text-base pt-4">No se agregó ningun producto</div>
      <div class="flex justify-center text-plomo-170 whitespace-nowrap">Seleccione al menos un producto para continuar</div>
      <div class="flex justify-center pt-4"><button mat-dialog-close class="focus:outline-none px-12 py-2 bg-azul-350 text-white rounded-md hover:bg-azul-470">Cerrar</button></div>
  </div>
</section>
