<main class=" h-85 w-96 font-Poppins" >
    <div class="text-azul-350 text-lg   border-plomo-315  border-b-1 ">
        <div class=" p-5 w-full items-center flex justify-between ">
            <div>Anular</div>
            <button mat-dialog-close class="focus:outline-none">    
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
                    <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
                </svg>
            </button> 
        </div>
    </div>
    
    <div class="px-7 pt-7">
        <div class="col-span-1 z-40 ">
            <div>Vendedor</div>
            <div class=" w-full relative  rounded-lg  text-white">
                <input type="checkbox" id="filtro" class="hidden absolute">
                <label for="filtro" (click)='MostrarFiltroTresPuntos()' class="relative bg-azul-300 flex p-2 rounded-lg w-full h-full text-white items-center justify-between space-x-1 cursor-pointer">
                    <div class="flex gap-3 items-center">
                        <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                        <div>
                            <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                            <div class="flex whitespace-nowrap text-sm text-plomo-210">Vendedor</div>
                        </div>
                    </div>
                    <div>
                        <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.7977 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937177C-0.0172683 0.710485 0.052721 0.484775 0.198197 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326847C10.7202 0.222013 10.8734 0.155421 11.0358 0.13495C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="white"/>
                        </svg>
                    </div>
                </label>
                <div *ngIf="VerFiltroTresPuntos" class="h-62 vendedor absolute overflow-y-auto bg-white rounded-md shadow-lg w-full  items-center">
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a>     
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a> 
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a>   
                                    
                </div>
               
            </div> 
        </div> 
        <div class="pt-6 ">
            <div class="text-plomo-280 text-base">Tipo de anulacion</div>
            <div class="w-full pt-2">
                <div class="tipoanulacion z-0 w-full flex justify-between items-center  bg-plomo  relative">
                    <select name="format" id="format" class="w-full h-12 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                        <option selected disabled>Elige</option>
                        <option value="">Anulación total</option>
                        <option value="">Anulación por Item</option>
                    </select>
                    <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                </div>
            </div>
        </div> 
        <div class=" pt-10 ">
            <div class="space-y-4 text-plomo-470">
                <label class="cursor-pointer flex gap-3 items-center" for="modelo"><input id="modelo" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="">Cambio por Modelo</span></label>
                <label class="cursor-pointer flex gap-3 items-center" for="talla"><input id="talla" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="">Cambio por Talla</span></label>  
                <label class="cursor-pointer flex gap-3 items-center" for="falla"><input id="falla" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="">Devolución por falla</span></label>                  
            </div>
        </div>
        <div class="flex gap-5 justify-end pt-16">
            <button mat-dialog-close class="rounded-lg border-plomo-300 focus:outline-none px-7 py-3 border-2 hover:border-plomo-137 hover:text-plomo-137 text-plomo-300 bg-white ">Cancelar</button>
            <button (click)="onContinuar()" class="rounded-lg border-plomo-300 focus:outline-none px-7 py-3 hover:bg-plomo-280 hover:text-white text-plomo-230 bg-plomo-125 ">Continuar</button>
        </div>
    </div>
<!-- 
    <div>
        <div class="pt-10 space-y-4 text-plomo-215">
            <label class="cursor-pointer flex gap-3 items-center" for="imprienvi"><input id="imprienvi" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="text-plomo-305">Imprimir y enviar a correo.</span></label>
            <label class="cursor-pointer flex gap-3 items-center" for="noimprenv"><input id="noimprenv" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="text-plomo-305">No imprimir y enviar a correo.</span></label>                    
        </div>
    </div>

    <div class="grid grid-cols-2 space-x-8 px-10  py-5">
        <div class="col-span-1">
            <div>Vendedor</div>
            <div class=" w-full relative  rounded-lg  text-white">
                <input type="checkbox" id="filtro" class="hidden absolute">
                <label for="filtro" (click)='MostrarFiltroTresPuntos()' class="relative bg-azul-300 flex p-2 rounded-lg w-full h-full text-white items-center justify-between space-x-1 cursor-pointer">
                    <div class="flex gap-3 items-center">
                        <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                        <div>
                            <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                            <div class="flex whitespace-nowrap text-sm text-plomo-210">Vendedor</div>
                        </div>
                    </div>
                    <div>
                        <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.7977 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937177C-0.0172683 0.710485 0.052721 0.484775 0.198197 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326847C10.7202 0.222013 10.8734 0.155421 11.0358 0.13495C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="white"/>
                        </svg>
                    </div>
                </label>
                <div *ngIf="VerFiltroTresPuntos" class="h-62 absolute overflow-y-auto bg-white rounded-md shadow-lg w-full  items-center">
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a>     
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a> 
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a>                     
                </div>
                <div class="pt-10">
                    <div class="text-plomo-280 text-base">Comprobante Original</div>
                    <div class="w-full pt-2">
                        <div class="w-full bg-azul-30 text-center p-3 border-1 text-azul-300 border-azul-300 rounded-md text-base font-grande">Boleta</div>
                        <div class="w-full flex gap-3 pt-3">
                            <div class="w-1/2 bg-azul-30 text-center p-3 border-1 text-azul-300 border-azul-300 rounded-md text-base font-grande">B100</div>
                            <div class="w-1/2 bg-azul-30 text-center p-3 border-1 text-azul-300 border-azul-300 rounded-md text-base font-grande">00000582</div>
                        </div>
                        
                    </div>
                </div> 
                <div class="pt-10">
                    <div class="text-plomo-280 text-base">Canjear Por</div>
                    <div class="w-full pt-2">
                        <div class=" w-full flex justify-between items-center -space-x-5 bg-plomo text-black relative">
                            <select name="format" id="format" class="w-full h-12 bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md">
                                <option selected disabled>Elige la marca</option>
                                <option value="">Factura</option>
                                <option value="">Nike</option>
                                <option value="">Puma</option>
                                <option value="">Lee</option>
                                <option value="">Fila</option>
                            </select>
                            <span><img src="assets/img/modals/flechaab.svg" alt=""></span>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>  
        <div class="col-span-1">
            <div class="w-full ">
                <div>RUC o Rázon Social</div>
                <div class="flex gap-5">
                    <input class="w-full border-1 border-azul-300 rounded-md" type="text">
                    <button class="border-2 focus:outline-none border-azul-300 rounded-md px-7 items-center flex justify-center">
                        <img src="assets/img/modals/puntos.svg" alt="">
                    </button>
                </div>
            </div>
            <div>
                <div class="pt-10 space-y-4 text-plomo-215">
                    <label class="cursor-pointer flex gap-3 items-center" for="imprienvi"><input id="imprienvi" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="text-plomo-305">Imprimir y enviar a correo.</span></label>
                    <label class="cursor-pointer flex gap-3 items-center" for="noimprenv"><input id="noimprenv" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="text-plomo-305">No imprimir y enviar a correo.</span></label>                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex gap-5 justify-end px-10 pt-20">
        <button mat-dialog-close class="rounded-lg border-plomo-300 focus:outline-none px-7 py-3 border-2 hover:border-plomo-137 hover:text-plomo-137 text-plomo-300 bg-white ">Cancelar</button>
        <button class="rounded-lg border-plomo-300 focus:outline-none px-7 py-3 hover:bg-plomo-280 hover:text-white text-plomo-230 bg-plomo-125 ">Continuar</button>
    </div> -->
</main>