
<section class="m-7 " >
    <div class=" relative controls py-1 text-plomo-290 w-full h-full justify-between grid grid-cols-6 gap-9 items-center space-x-5">
        <!-- logo de  punto de  Almacenes-->
        <div class="col-span-2 text-azul-300 flex gap-2 items-center  ">
            <img class="object-contain" src="assets/img/almacen/empleado.svg" alt=""><span class="text-lg font-bold whitespace-nowrap">Empleado</span>
        </div>
        
        <div class="relative col-span-4 flex items-start w-full justify-end ">
            <div class="relative   flex items-start pr-6  w-full space-x-3  justify-end">
                
                <div  class="relative col-span-4 flex items-start  w-full  justify-end"  >                     
                    <!-- FILTRO -->
                    <button class=" border-2 rounded-md bg-white items-center flex  h-9 w-24 focus:outline-none">
                        <input type="checkbox" id="filtro" class="hidden absolute">
                        <label for="filtro" (click)='MostrarFiltroEntradaMercaderia()' class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                            <span>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.9 11.1012L6.3 11.8012V7.18822C6.29923 7.00458 6.22632 6.8286 6.097 6.69822L1.561 2.09922H12.453L7.924 6.69822C7.79468 6.8286 7.72177 7.00458 7.721 7.18822L7.7 12.5992L9.1 13.2992V7.47522L13.706 2.79922C13.8902 2.61229 13.9955 2.36165 14 2.09922V1.39922C14 1.21357 13.9263 1.03552 13.795 0.904244C13.6637 0.772969 13.4857 0.699219 13.3 0.699219H0.7C0.514348 0.699219 0.336301 0.772969 0.205025 0.904244C0.0737499 1.03552 0 1.21357 0 1.39922V2.09922C0.00447825 2.36165 0.10975 2.61229 0.294 2.79922L4.9 7.47522V11.1012Z" fill="#212121"/>
                                </svg>     
                            </span>
                            <span class="">Filtrar</span>                                   
                        </label>
                        <!-- Opción - Filtro Existencia -->
                        <div *ngIf="VerFiltroEntradaMErcaderia" class="adornofiltrotransferencia absolute right-5 top-11 mt-1  min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out z-10">
                            <!-- Articulo y Marca -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                                <div class=" text-black " > Fecha </div>
                                <div class="flex gap-3 items-center w-1/2">
                                    <div>          
                                        <!-- fecha inicio -->
                                        <div class="w-full md:mb-2 col-span-1">
                                            
                                            <div class="flex w-full px-2 border border-gray-300 rounded ">
                                                <input class="w-full px-2 py-2 text-sm focus:outline-none bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md"
                                                    name="fechaemision"
                                                    placeholder="17/10/2020"
                                                    [matDatepicker]="fechainicio"
                                                    required
                                                    formControlName="fechainicio">
                                                <mat-datepicker #fechainicio> </mat-datepicker>
                                                <button type="button" (click)="fechainicio.open()"
                                                    class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                    <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                </button> 
                                            </div>
                                            <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="flex gap-3 items-center w-1/2">
                                    <div>          
                                        <!-- fecha inicio -->
                                        <div class="w-full md:mb-2 col-span-1">
                                           
                                            <div class="flex w-full px-2 border border-gray-300 rounded ">
                                                <input class="w-full px-2 py-2 text-sm  focus:outline-none bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md"
                                                    name="fechaemision"
                                                    placeholder="17/10/2020"
                                                    [matDatepicker]="fechafin"
                                                    required
                                                    formControlName="fechafin">
                                                <mat-datepicker #fechafin> </mat-datepicker>
                                                <button type="button" (click)="fechafin.open()"
                                                    class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                    <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                </button> 
                                            </div>
                                            <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                                        </div>
                                    </div>
                                </div>                                           
                            </section> 
                            <!-- Genero y Stock  -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                               <div class="flex gap-3 items-center w-1/2">
                                <div class=" text-plomo-370 font-semibold w-1/5 flex justify-start" >Origen</div>                                   
                                <div class="select w-full bg-plomo">
                                    <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                        <option selected disabled>Seleccione</option>
                                        <option value="">Adidas</option>
                                        <option value="">Nike</option>
                                        <option value="">Puma</option>
                                        <option value="">Lee</option>
                                        <option value="">Fila</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="flex gap-3 items-center w-1/2">
                                <div class=" text-plomo-370 font-semibold w-1/5">Destino</div>                                   
                                <div class="select w-full">
                                    <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                        <option selected disabled>Elige un opción</option>
                                        <option value="">Disponible</option>
                                        <option value="">Sin stock</option>  
                                        <option value="">Bajo Minímo</option>
                                        <option value="">Stock Negativo</option>           
                                    </select>
                                 </div>
                               </div>
                                                                                  
                            </section> 
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between  ">
                                <div class="flex gap-3 items-center w-1/2">
                                 <div class=" w-full bg-plomo flex gap-5">
                                    <label class="text-plomo-400 flex cursor-pointer gap-2 items-center">
                                        <input type="checkbox"  class="rounded-sm border-gray-400">
                                        <div>En espera</div> 
                                    </label>
                                    <label class="text-plomo-400 flex cursor-pointer gap-2 items-center">
                                        <input type="checkbox"  class="rounded-sm border-gray-400">
                                        <div>Aceptada</div> 
                                    </label>
                                  </div>
                                </div>
                                
                                                                                   
                             </section>  
                            <!-- Botones  -->
                            <section class="flex justify-between p-5 items-center">
                                 <div class="text-red-500">Quitar todos filtros</div>
                                 <div class="flex gap-4">
                                     <div><button class="rounded-md  focus:outline-none px-5 py-2 text-base bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 ">Cancelar</button></div>
                                     <div><button class="rounded-md  focus:outline-none px-8 py-2  bg-plomo-480 hover:border-plomo-230 hover:text-white hover:bg-plomo-230 text-plomo-270 border-plomo-300 border-2 text-base ">Aplicar</button></div>
                                 </div>
                            </section> 
                                                         
                        </div>
                    </button>
                </div>

                <div>
                    <button (click)="onNuevoPersonalOPerativo()" class=" h-9 w-24 flex justify-center items-center  bg-azul-300 hover:bg-azul-350 text-white font-bold   rounded-md gap-2 focus:outline-none"> 
                        <div>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 5.6H8.4V0H5.6V5.6H0V8.4H5.6V14H8.4V8.4H14" fill="white"/>
                            </svg>
                        </div>
                        <div>Nuevo</div>
                    </button> 
                </div>
                
            </div> 
        </div>
       

    </div>


    <div  class="verflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white"  >
        <div class="h-full">
            <table class="tablaretorno relative scroollpersonalizadotabla  overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                <thead class=" border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium  ">
                    <tr  class="text-sm w-full font-extralight ">
                        <th class="w-1/12"><div class="w-full flex justify-start pl-12 ">#</div> </th>
                        <th class="w-3/12"><div class="w-full flex justify-start pl-10">PERSONAL</div> </th>
                        <th class="w-2/12"><div class="w-full flex justify-start pl-14">DEPARTAMENTO</div></th>   
                        <th class="w-2/12"><div class="w-full flex justify-start pl-14">CARGO</div></th>  
                        <th class="w-2/12"><div class="w-full flex justify-start pl-14">SALDO</div></th>                                                                              
                        <th class="w-2/12"></th>                                  
                    </tr>
                </thead>
                <tbody class="text-center gap-3   " >
                    <tr  class=" text-sm  text-plomo-170 items-center ">
                        <td class="w-1/12  pl-12" >
                            <span class="flex gap-4">                      
                                <div class="flex flex-col">
                                    <div class="text-plomo-800 font-medium">001</div>
                                </div>
                            </span>
                        </td>
                        <td class="w-3/12  pl-10">
                            <div class="w-full flex justify-start">Jane Cooper Mendoza</div>  
                        </td>
                        <td class="w-2/12  pl-14">
                            <div class="w-full flex justify-start">Almacén Principal</div> 
                        </td>
                        <td class="w-2/12  pl-14">
                            <div class="w-full flex justify-start">Almacenero</div> 
                        </td>   
                        <td class="w-2/12  pl-14">
                            <div class="w-full flex justify-start">
                                <div class="w-full flex justify-start">S/. 600.00</div>                            
                            </div> 
                        </td>                 
                        <td class="w-2/12  ">
                            <div class="">
                                <button class=" relative  rounded-md bg-white h-9 w-24 focus:outline-none">
                                    <input type="checkbox" id="filtro" class="hidden absolute">
                                    <label for="filtro" (click)='MostrarFiltroTresPuntos()' class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                                        <svg class="object-cover w-6" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2" cy="2" r="2" fill="#515151"/>
                                            <circle cx="8" cy="2" r="2" fill="#515151"/>
                                            <circle cx="14" cy="2" r="2" fill="#515151"/>
                                        </svg>                                 
                                    </label>
                                    <!-- Opción - Filtro Almacenes -->
                                    <div *ngIf="VerFiltroTresPuntos" class="absolute  top-7 right-8   min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out ">
                                        <a  class="focus:outline-none items-center flex gap-3 px-3 py-2 hover:bg-azul-100"> 
                                            <span>
                                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 5C0.751993 3.49519 1.89718 2.23177 3.309 1.34938C4.72082 0.466999 6.34429 0 8 0C9.65571 0 11.2792 0.466999 12.691 1.34938C14.1028 2.23177 15.248 3.49519 16 5C15.248 6.50481 14.1028 7.76823 12.691 8.65062C11.2792 9.533 9.65571 10 8 10C6.34429 10 4.72082 9.533 3.309 8.65062C1.89718 7.76823 0.751993 6.50481 0 5ZM8 8.33111C8.86601 8.33111 9.69656 7.98016 10.3089 7.35545C10.9213 6.73075 11.2653 5.88347 11.2653 5C11.2653 4.11653 10.9213 3.26925 10.3089 2.64455C9.69656 2.01984 8.86601 1.66889 8 1.66889C7.13399 1.66889 6.30344 2.01984 5.69108 2.64455C5.07872 3.26925 4.73469 4.11653 4.73469 5C4.73469 5.88347 5.07872 6.73075 5.69108 7.35545C6.30344 7.98016 7.13399 8.33111 8 8.33111ZM8 6.66556C7.56699 6.66556 7.15172 6.49008 6.84554 6.17773C6.53936 5.86537 6.36735 5.44173 6.36735 5C6.36735 4.55827 6.53936 4.13463 6.84554 3.82227C7.15172 3.50992 7.56699 3.33444 8 3.33444C8.43301 3.33444 8.84828 3.50992 9.15446 3.82227C9.46064 4.13463 9.63265 4.55827 9.63265 5C9.63265 5.44173 9.46064 5.86537 9.15446 6.17773C8.84828 6.49008 8.43301 6.66556 8 6.66556Z" fill="#575757"/>
                                                </svg>                                     
                                            </span> 
                                            <span>Ver más Detalle</span> 
                                        </a> 
                                        <a  class="focus:outline-none items-center flex gap-3 px-3 py-2 hover:bg-azul-100">
                                            <span>
                                                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6.15385 8.36028e-05C3.75385 8.36028e-05 1.84615 1.90778 1.84615 4.30778C1.84615 5.7847 2.58462 7.13854 3.75385 7.87701C1.53846 8.73854 0 10.9539 0 13.477H1.23077C1.23077 10.7693 3.44615 8.55393 6.15385 8.55393C6.52308 8.55393 6.83077 8.61547 7.13846 8.67701C7.16677 8.63824 7.20431 8.60501 7.23446 8.56685C6.53574 9.43527 6.1545 10.5162 6.15385 11.6309C6.15385 14.3385 8.36923 16.5539 11.0769 16.5539C13.7846 16.5539 16 14.3385 16 11.6309C16 8.92316 13.7846 6.70778 11.0769 6.70778C10.5449 6.70883 10.0167 6.79697 9.51323 6.9687C10.0218 6.33807 10.341 5.57609 10.4337 4.77128C10.5264 3.96647 10.3889 3.15187 10.0371 2.42211C9.6853 1.69235 9.13367 1.07738 8.44628 0.648652C7.75889 0.21992 6.96396 -0.00497832 6.15385 8.36028e-05ZM6.15385 1.16931C7.87692 1.16931 9.23077 2.52316 9.23077 4.24624C9.23077 5.96931 7.87692 7.32316 6.15385 7.32316C4.43077 7.32316 3.07692 5.96931 3.07692 4.24624C3.07692 2.52316 4.43077 1.16931 6.15385 1.16931ZM8.16923 7.67147L8.11631 7.71024C8.13386 7.69719 8.1515 7.68427 8.16923 7.67147ZM11.0769 7.93854C13.1077 7.93854 14.7692 9.60008 14.7692 11.6309C14.7692 13.6616 13.1077 15.3232 11.0769 15.3232C9.04615 15.3232 7.38462 13.6616 7.38462 11.6309C7.38462 9.60008 9.04615 7.93854 11.0769 7.93854ZM10.4615 9.16931V12.0001L9.41538 13.0462L10.2769 13.9078L11.6923 12.4924V9.16931H10.4615Z" fill="#575757"/>
                                                </svg>                                                                                   
                                            </span> 
                                            <span>Historial de Pagos</span> 
                                        </a>  
                                        <a   class="focus:outline-none items-center flex gap-3 px-3 py-2 hover:bg-azul-100">
                                            <span>
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                    <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>                                                         
                                            </span> 
                                            <span>Editar Empleado</span> 
                                        </a> 
                                        <a   class="focus:outline-none items-center flex gap-3 px-3 py-2 hover:bg-azul-100">
                                            <span>
                                                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.92367 10.9128L11.0994 7.82529L14.2752 10.9128L15.1237 10.0879L11.9479 7.00034L15.1237 3.9128L14.2752 3.08789L11.0994 6.1754L7.92367 3.08789L7.0752 3.9128L10.2509 7.00034L7.0752 10.0879L7.92367 10.9128Z" fill="#575757"/>
                                                    <path d="M17.1 0H6.69915C6.57692 0.000197164 6.456 0.0245066 6.34372 0.0714566C6.23144 0.118407 6.13012 0.187021 6.0459 0.273146L0 6.47584V7.52416L6.0459 13.7269C6.13012 13.813 6.23144 13.8816 6.34372 13.9285C6.456 13.9755 6.57692 13.9998 6.69915 14H17.1C17.3386 13.9997 17.5674 13.9075 17.7361 13.7434C17.9048 13.5794 17.9997 13.357 18 13.125V0.875C17.9997 0.643018 17.9048 0.420616 17.7361 0.25658C17.5674 0.0925441 17.3386 0.000270173 17.1 0V0ZM16.8 12.8333H6.82815L1.2 7.05917V6.94083L6.82815 1.16667H16.8V12.8333Z" fill="#575757"/>
                                                </svg>                                                         
                                            </span> 
                                            <span>Eliminar</span> 
                                        </a>                                     
                                    </div>
                                </button>   
                            </div>  
                        </td>  
                    </tr>
                </tbody>  
            </table>
        </div>
    </div>
    <div class="text-azul-700 pt-6 font-medium ">Mostrando: <strong>1</strong> cajas</div>
</section>








