<main class="p-10 w-99 flex h-85 flex-col justify-center items-center pt-5 ">
    <!-- Cargando -->
    <!-- <div>
        <img class="w-36 object-contain" src="assets/img/modals/cargando.gif" alt="">
    </div> -->
    <!-- Accion Finalizada -->
    <div>
        <div class="flex justify-center "><img src="assets/img/modals/ok.svg" alt=""></div>
        <div class="text-center text-plomo-275 text-base pt-10">Acción finalizada con <span class="text-azul-300">Exito</span> </div>
    </div> 
    
</main>