
<section class="m-7 h-auto">
    <div class="relative controls py-1 text-plomo-290 w-full h-full justify-between grid grid-cols-6 gap-9 items-center space-x-5">
        <!-- logo de  punto de  Almacenes-->
        <div class="col-span-2 text-azul-300 flex gap-2 items-center"><img class="object-contain" src="assets/img/almacen/entradamercaderia.svg" alt="" /><span class="text-lg font-bold whitespace-nowrap">Entrada Mercadería</span></div>

        <div class="relative col-span-4 flex items-start w-full justify-end">
            <div class="relative flex items-start pr-6 w-full space-x-3 justify-end">
                <div class="relative col-span-4 flex items-start w-full justify-end">
                    <!-- FILTRO -->
                    <button class="border-2 rounded-md bg-white items-center flex h-9 w-24 focus:outline-none">
                        <input type="checkbox" id="filtro" class="hidden absolute" />
                        <label for="filtro" (click)="onMostratrFiltroEntradaMercaderia()" class="flex w-full h-full text-black items-center justify-center space-x-1 cursor-pointer">
                            <span>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.9 11.1012L6.3 11.8012V7.18822C6.29923 7.00458 6.22632 6.8286 6.097 6.69822L1.561 2.09922H12.453L7.924 6.69822C7.79468 6.8286 7.72177 7.00458 7.721 7.18822L7.7 12.5992L9.1 13.2992V7.47522L13.706 2.79922C13.8902 2.61229 13.9955 2.36165 14 2.09922V1.39922C14 1.21357 13.9263 1.03552 13.795 0.904244C13.6637 0.772969 13.4857 0.699219 13.3 0.699219H0.7C0.514348 0.699219 0.336301 0.772969 0.205025 0.904244C0.0737499 1.03552 0 1.21357 0 1.39922V2.09922C0.00447825 2.36165 0.10975 2.61229 0.294 2.79922L4.9 7.47522V11.1012Z"
                                        fill="#212121"
                                    />
                                </svg>
                            </span>
                            <span class="">Filtrar</span>
                        </label>
                        <!-- Opción - Filtro Existencia -->
                        <div *ngIf="filtroEntradaMercaderia" class="adornofiltrotransferencia w-100 absolute right-5 top-11 mt-1 rounded bg-white shadow-md transition delay-75 ease-in-out z-10">
                            <!-- Fecha Inicio y Fin -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200">
                                <div class="flex gap-3 items-center w-full">
                                    <section class="flex w-full gap-16 items-center">
                                        <div class="w-1/12 flex justify-start relative">Fecha</div>
                                        <div class="w-11/12 focus:outline-none relative flex border-1 pl-5 border-gray-400 bg-plomo-135 rounded items-center text-plomo-21">
                                            <mat-date-range-input [rangePicker]="picker" class="focus:outline-none">
                                                <input matStartDate placeholder="12/07/2021" class="text-plomo-21 placeholder-gray-500 text-sm font-medium focus:outline-none" />
                                                <input matEndDate placeholder="5/10/2022" class="text-sm text-plomo-21 font-medium placeholder-gray-500 focus:outline-none" />
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle class="focus:outline-none" matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker class="focus:outline-none" #picker></mat-date-range-picker>
                                        </div>
                                    </section>
                                </div>
                            </section>
                            <!-- Proveedor y Almacen  -->
                            <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200">
                                <!-- Proveedor -->
                                <div class="items-center xl:w-1/2 w-full flex gap-10">
                                    <div class="w-1/4 flex justify-start">Proveedor</div>
                                    <div class="w-3/4 bg-plomo tipoanulacion z-0 flex justify-between items-center bg-plomo relative">
                                        <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                            <option selected disabled>Elige una opción</option>
                                            <option value="">Zapatilla</option>
                                            <option value="">Ropa</option>
                                            <option value="">Accesorio</option>
                                        </select>
                                        <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt="" /></div>
                                    </div>
                                </div>
                                <!-- Almacén -->
                                <div class="items-center xl:w-1/2 w-full flex gap-10">
                                    <div class="w-1/4 flex justify-start">Almacén</div>
                                    <div class="w-3/4 bg-plomo tipoanulacion z-0 flex justify-between items-center bg-plomo relative">
                                        <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                            <option selected disabled>Elige una opción</option>
                                            <option value="">Zapatilla</option>
                                            <option value="">Ropa</option>
                                            <option value="">Accesorio</option>
                                        </select>
                                        <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt="" /></div>
                                    </div>
                                </div>
                            </section>
                            <!-- Botones  -->
                            <section class="flex justify-between p-5 items-center">
                                <div class="text-red-500">Quitar todos filtros</div>
                                <div class="flex gap-4">
                                    <div>
                                        <button (click)="onMostratrFiltroEntradaMercaderia()" class="rounded-md focus:outline-none px-5 py-2 text-base bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230"> Cancelar </button>
                                    </div>
                                    <div>
                                        <button class="rounded-md focus:outline-none px-8 py-2 bg-plomo-480 hover:border-plomo-230 hover:text-white hover:bg-plomo-230 text-plomo-270 border-plomo-300 border-2 text-base">Aplicar</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </button>
                </div>
                <!-- Boton Nuevo -->
                <div>
                    <button (click)="abrirnuevoentradamercaderia = true" class="h-9 w-24 flex justify-center items-center bg-azul-300 hover:bg-azul-350 text-white font-bold rounded-md gap-2 focus:outline-none">
                        <div>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 5.6H8.4V0H5.6V5.6H0V8.4H5.6V14H8.4V8.4H14" fill="white" />
                            </svg>
                        </div>
                        <div>Nuevo</div>
                    </button>
                </div> 
            </div>
        </div>
    </div>
    <div class="verflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white">
        <div class="h-full">
            <table class="tablaretorno relative scroollpersonalizadotabla overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                <thead class="border-b-1 border-plomo-50 w-auto text-plomo-130 font-medium">
                    <tr class="text-sm w-full font-extralight">
                        <th class="w-2/12"><div class="w-full flex justify-start pl-12">#</div></th>
                        <th class="w-2/12"><div class="w-full flex justify-start pl-10">Proveedor</div></th>
                        <th class="w-2/12"><div class="w-full flex justify-start pl-14">Almacén</div></th>
                        <th class="w-2/12"><div class="w-full flex justify-center pl-6">Fecha y Hora Compra</div></th>
                        <th class="w-2/12"><div class="w-full flex justify-center pl-14">Cantidad Entrante</div></th>
                        <th class="w-2/12"></th>
                    </tr>
                </thead>
                <tbody class="text-center gap-3">
                    <tr class="text-sm text-plomo-170 items-center">
                        <td class="w-2/12 pl-12">
                            <div class="w-full flex justify-start text-plomo-170 font-medium">EM-012</div>
                        </td>
                        <td class="w-2/12 pl-10">
                            <div class="w-full flex justify-start text-plomo-170 font-medium">Adidas Perú S.A.C.</div>
                        </td>
                        <td class="w-2/12 pl-14">
                            <div class="w-full flex justify-start text-plomo-170 font-medium">Amacén Principal</div>
                        </td>
                        <td class="w-2/12 pl-6">
                            <div class="w-full flex justify-center text-plomo-170 font-medium">06/16/2020, 05:02 AM</div>
                        </td>
                        <td class="w-2/12 pl-14">
                            <div class="w-full flex justify-center">
                                <span class="bg-verde-100 text-verde-500 flex items-center gap-2 font-semibold px-3 py-1 rounded-2xl">
                                    <span><img src="assets/img/almacen/flechaverde.svg" alt="" /></span>
                                    <span>52</span>
                                </span>
                            </div>
                        </td>
                        <!-- uno -->
                        <td class="w-2/12 pr-10">
                            <div class="text-azul-470 flex items-center gap-2 w-full justify-end">
                                <div>Ver</div>
                                <div><img src="assets/img/almacen/ver.svg" alt="" /></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-azul-700 pt-6 font-medium">Mostrando: <strong>1</strong> cajas</div>
</section>

<!-- abrirnuevoentradamercaderia -->
<div *ngIf="abrirnuevoentradamercaderia" [ngClass]="{'animaciondeizquierdaderecha': cerrar, 'animaciondederechaizquierda': abrirnuevoentradamercaderia}" class="z-50 modalvender sticky top-0 main bg-white text-black border-l-1 shadow-lg">
    <!-- Carrito lleno de productos -->
    <div class="flex w-full h-full" >
        <div class="w-5/7 bg-plomo-20  border-b-1 border-plomo-210">
            <div class="flex justify-start px-7 pt-7  w-full">
                <button (click)="CerrarNuevoEntradaMercaderia()" class="focus:outline-none pl-5 cursor-pointer pt-4 rounded-full relative">
                    <div class="flex gap-5 items-center text-plomo-145">
                        <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.00446 11.9999C4.87639 12.0004 4.74984 11.9721 4.63412 11.9172C4.51841 11.8624 4.41646 11.7823 4.33577 11.6828L0.195025 6.54046C0.068932 6.3871 0 6.19474 0 5.99622C0 5.7977 0.068932 5.60534 0.195025 5.45199L4.48151 0.309616C4.62703 0.134589 4.83613 0.0245216 5.06282 0.00362666C5.28952 -0.0172683 5.51523 0.052721 5.6903 0.198197C5.86537 0.343674 5.97547 0.552721 5.99637 0.779351C6.01727 1.00598 5.94726 1.23163 5.80175 1.40665L1.96963 6.00051L5.67315 10.5944C5.77799 10.7202 5.84458 10.8734 5.86505 11.0358C5.88552 11.1983 5.85902 11.3632 5.78867 11.5111C5.71833 11.6589 5.60708 11.7835 5.46811 11.8702C5.32913 11.9568 5.16823 12.0019 5.00446 11.9999Z" fill="#7A8699"/>
                        </svg>
                        <div>Cerrar</div>
                    </div>
                </button>
            </div>
            <div class="border-b-1 px-7 border-plomo-210">
                <div class="flex   flex-wrap justify-between py-10 px-5 ">
                    <div class="font-medium text-2xl">Productos</div>
                    <div class="font-grande text-plomo-460 ">0 Productos Ingresados</div>
                </div>
                <div class="flex items-center justify-between py-3 px-5">
                    <div class="w-5/12 text-plomo-420 relative flex items-center">
                        <input class="w-full border-plomo-125 border-2 flex rounded-md" type="text" placeholder="Buscar">
                        <div class="cursor-pointer absolute right-4 h-10 w-4">
                            <button class=" focus:outline-none h-full w-10 "><img src="assets/img/entramercaderia/lupa.svg" alt=""></button>
                        </div>
                    </div>
                    <button class="w-1/6 focus:outline-none"><span class="border-2 border-plomo-125  rounded-md hover:border-azul-300 hover:bg-azul-300 hover:text-white  px-5 py-2">+ Nuevo Producto</span></button>
                </div>
            </div>

            <div class="overflow-y-auto  h-100 scroollpersonalizadotabla tablas px-7  w-full bg-white">
                <div class="h-full px-5">
                    <!-- Tabla Listado -->
                    <table class="relative overflow-x-auto  scroollpersonalizadotabla w-full whitespace-no-wrap bg-white">
                        <!-- Cabezera de tabla -->
                        <thead class="z-10   w-auto text-plomo-235 font-medium">
                            <tr class="text-sm w-full font-extralight">
                                <th class="w-2/12"><div class="cursor-pointer whitespace-nowrap w-full flex lg:justify-start justify-center">Producto</div></th>
                                <th class="w-2/12"><div class="cursor-pointer whitespace-nowrap w-full flex lg:justify-start justify-center ">Género</div></th>
                                <th class="w-2/12 pl-5"><div class="cursor-pointer whitespace-nowrap w-full flex lg:justify-start justify-center ">Talla</div></th>
                                <th class="w-2/12 pr-5"><div class="cursor-pointer whitespace-nowrap w-full flex justify-start ">Cantidad</div></th>
                                <th class="w-2/12 pl-5"><div class="cursor-pointer whitespace-nowrap w-full flex  justify-center pl-5">P. Compra</div></th>
                                <th class="w-2/12"><div class="cursor-pointer whitespace-nowrap w-full flex  justify-center pl-5">Total</div></th>
                            </tr>
                        </thead>
                        <!-- Cuerpo de tabla -->
                        <!-- <tbody class=" text-oscuro-750">
                             <tr class="text-sm  items-center">
                                <td class="w-2/12 ">
                                    <div class="whitespace-nowrap w-full flex lg:justify-start justify-center">B100</div>
                                </td>
                                <td class="w-2/12 ">
                                    <div class="whitespace-nowrap w-full flex lg:justify-start justify-center">00000582</div>
                                </td>
                                <td class="w-2/12 pl-5">
                                    <div class="whitespace-nowrap  w-full flex lg:justify-start justify-center">Boleta</div>
                                </td>
                                <td class="w-2/12 pr-5">
                                    <div class="whitespace-nowrap  w-full flex lg:justify-start justify-center">Juan Carmelo Vargas Rodriguez</div>   
                                </td>
                                <td class="w-2/12 pl-5"> 
                                    <div class="whitespace-nowrap  w-full flex  justify-center pl-5">25/02/2021</div>
                                </td>
                                <td class="w-2/12">
                                    <div class="whitespace-nowrap  w-full flex text-azul-300 justify-center pl-5">
                                        <button class="focus:outline-none">No Anulado</button>
                                    </div>
                                </td>
                            </tr>  
                        </tbody> -->
                        
                    </table>

                    <div class=" flex flex-col justify-center  pt-56 items-center w-full">
                        <img class="w-60 object-contain" src="assets/img/entramercaderia/sindatos.svg" alt="">
                        <div class="flex justify-center text-plomo-235 pt-4">Sin datos que mostrar</div>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="w-2/7 bg-plomo-100">
            
            <div class="flex items-center justify-between w-full pt-4">
                <div class="lg:text-xl text-azul-300 text-md font-grande p-5 ">Entrada Mercadería</div> 
                <button (click)="CerrarNuevoEntradaMercaderia()" class="focus:outline-none cursor-pointer p-3 rounded-full hover:bg-gray-100 relative">
                    <div class="flex flex-col">
                        <svg class="top-2 right-4 absolute w-7 h-8 text-gray-900 border-gray-800" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </button>
            </div>

            <div>
                 
                <section class="flex flex-col lg:flex-row lg:p-5 md:p-3 p-1 2xl:gap-7 gap-3 ">
                    <div class=" gap-3 items-center xl:w-1/2 w-full">
                        <div>Serie</div>
                        <input class="w-full bg-plomo-135 text-plomo placeholder-plomo-335 rounded-md border border-plomo-130" placeholder="F0001" type="text">
                    </div>
                    <div class=" gap-3 items-center xl:w-1/2 w-full">
                        <div>Número</div>
                        <input class="w-full bg-plomo-135 text-plomo placeholder-plomo-335 rounded-md border border-plomo-130" placeholder="000001" type="text">
                    </div>
                </section>
                
                <section class="flex flex-col lg:flex-row lg:p-5 md:p-3 p-1 2xl:gap-7 gap-3">
                    <div class="items-center xl:w-1/2 w-full ">
                        <div class="">Documento</div>
                        <div class="w-full bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                            <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                <option selected disabled>Elige Documento</option>
                                <option value="">Todos</option>
                                <option value="">Nike</option>
                                <option value="">Puma</option>
                                <option value="">Lee</option>
                                <option value="">Fila</option>
                            </select>
                            <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                        </div>
                    </div> 
    
                    <div class="items-center xl:w-1/2 w-full ">
                        <div class="">Anulado</div>
                        <div class=" bg-plomo tipoanulacion z-0  flex justify-between items-center  bg-plomo  relative">
                            <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                <option selected disabled>Elige Anulados</option>
                                <option value="">Todos</option>
                                <option value="">Semi-hueso</option>
                                <option value="">Norma</option>
                            </select>
                            <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                        </div>
                    </div>
                </section>
                
                <section class="flex flex-col lg:p-5 md:p-3 p-1  ">
                    <div>Fecha</div>
                    <div class="focus:outline-none flex w-full px-2 border-1 border-gray-400 bg-plomo-135  rounded items-center h-10 sm:mb-1  text-plomo-21">
                        <mat-date-range-input [rangePicker]="picker" class="focus:outline-none   ">
                            <input matStartDate placeholder="12/07/2021" class="w-full text-plomo-21   placeholder-gray-500 text-sm font-medium focus:outline-none">
                            <input matEndDate placeholder="5/10/2022" class="w-full text-sm text-plomo-21   font-medium placeholder-gray-500 focus:outline-none">
                        </mat-date-range-input>
                        <mat-datepicker-toggle class="focus:outline-none" matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker class="focus:outline-none" #picker></mat-date-range-picker>
                    </div> 
                </section>
    
                <section class="flex flex-col lg:p-5 md:p-3 p-1">
                    <div class=" gap-3 items-center w-full">
                        <div>Cliente</div>
                        <input class="w-full bg-plomo-135 text-plomo placeholder-plomo-335 rounded-md border border-plomo-130" placeholder="Ejemplo: Jose Miranda" type="text">
                    </div>
                </section>
    
                <section class="flex flex-col lg:p-5 md:p-3 p-1">
                    <div class=" gap-3 items-center w-full">
                        <div>Producto</div>
                        <input class="w-full bg-plomo-135 text-plomo placeholder-plomo-335 rounded-md border border-plomo-130" placeholder="Ejemplo: Zapatilla nike 8'" type="text">
                    </div>
                </section>
    
                <section  class="flex  pt-6 items-center gap-7 p-5  ">
                    <button class="w-full focus:outline-none bg-azul-300 hover:bg-azul-500 hover:bg-azul-400 text-white h-10 rounded-md focus:oultline-none">Buscar</button>
                </section>



            </div>
        </div> 
    </div> 
</div>
