<main class="w-140 h-88 font-Poppins" >
    <div class="text-azul-350 text-lg  border-plomo-315  border-b-1 ">
        <div class=" p-5 w-full items-center flex justify-between ">
            <div>Nuevo Empleado</div>
            <button mat-dialog-close class="focus:outline-none">    
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
                    <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
                </svg>
            </button> 
        </div>
    </div>

    <div class="grid grid-cols-2 space-x-8 px-10  py-5">
        <div class="col-span-1">
            <div>Vendedor</div>
            <div class=" w-full relative  rounded-lg  text-white">
                <input type="checkbox" id="filtro" class="hidden absolute">
                <label for="filtro" (click)='MostrarFiltroTresPuntos()' class="relative bg-azul-300 flex p-2 rounded-lg w-full h-full text-white items-center justify-between space-x-1 cursor-pointer">
                    <div class="flex gap-3 items-center">
                        <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                        <div>
                            <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                            <div class="flex whitespace-nowrap text-sm text-plomo-210">Vendedor</div>
                        </div>
                    </div>
                    <div>
                        <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.7977 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937177C-0.0172683 0.710485 0.052721 0.484775 0.198197 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326847C10.7202 0.222013 10.8734 0.155421 11.0358 0.13495C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="white"/>
                        </svg>
                    </div>
                </label>
                <div *ngIf="VerFiltroTresPuntos" class="vendedor h-62 absolute overflow-y-auto bg-white rounded-md shadow-lg w-full  items-center">
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a>     
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a> 
                    <a class="text-oscuro-860 border-b-1 border-plomo-133 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-azul-100"> 
                        <div class="flex gap-3 items-center">
                            <img class="w-16 object-cover" src="assets/img/modals/user.svg" alt="">
                            <div>
                                <div class="flex whitespace-nowrap text-lg">Gustavo Marquez Perez</div>
                                <div class="flex whitespace-nowrap text-sm text-plomo-345">Vendedor</div>
                            </div>
                        </div>
                    </a>                     
                </div>
                <div class="pt-10">
                    <div class="text-plomo-280 text-base">Comprobante Original</div>
                    <div class="w-full pt-2">
                        <div class="w-full bg-azul-30 text-center p-3 border-1 text-azul-300 border-azul-300 rounded-md text-base font-grande">Boleta</div>
                        <div class="w-full flex gap-3 pt-3">
                            <div class="w-1/2 bg-azul-30 text-center p-3 border-1 text-azul-300 border-azul-300 rounded-md text-base font-grande">B100</div>
                            <div class="w-1/2 bg-azul-30 text-center p-3 border-1 text-azul-300 border-azul-300 rounded-md text-base font-grande">00000582</div>
                        </div>
                        
                    </div>
                </div> 
                <!-- <div class="pt-10">
                    <div class="text-plomo-280 text-base">Canjear Por</div>
                    <div class="w-full pt-2">
                        <div class=" w-full flex justify-between items-center -space-x-5 bg-plomo text-black relative">
                            <select name="format" id="format" class="w-full h-12 bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md">
                                <option selected disabled>Elige la marca</option>
                                <option value="">Factura</option>
                                <option value="">Nike</option>
                                <option value="">Puma</option>
                                <option value="">Lee</option>
                                <option value="">Fila</option>
                            </select>
                            <span><img src="assets/img/modals/flechaab.svg" alt=""></span>
                        </div>
                    </div>
                </div>  -->
                <div class="pt-6 ">
                    <div class="text-plomo-280 text-base">Canjear Por</div>
                    <div class="w-full pt-2 text-oscuro-830">
                        <div class=" canjearpor z-0 w-full flex justify-between items-center  bg-plomo  relative">
                            <select name="format" id="format" class="w-full h-12 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                <option selected disabled>Elige </option>
                                <option value="">Factura</option>
                                <option value="">Nike</option>
                                <option value="">Puma</option>
                                <option value="">Lee</option>
                                <option value="">Fila</option>
                            </select>
                            <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                        </div>
                    </div>
                </div> 
            </div> 
        </div>  
        <div class="col-span-1">
            <div class="w-full ">
                <div>RUC o Rázon Social</div>
                <div class="flex gap-5">
                    <input class="w-full border-1 border-azul-300 rounded-md" type="text">
                    <!-- inicio -->
                    <button class="focus:outline-none bg-azul-300 text-white rounded-md px-7 items-center flex justify-center">
                        Buscar
                    </button>
                    <!-- cargando -->
                    <!-- <button class="border-2 focus:outline-none border-azul-300 rounded-md px-7 items-center flex justify-center">
                        <img class="object-contain w-16" src="assets/img/modals/loading.gif" alt="">
                    </button>   -->
                    <!-- aceptado -->
                     <!-- <button class="focus:outline-none border-1 border-plomo-220 text-white rounded-md px-7 items-center flex justify-center">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.3061 0.394702C11.5359 0.160415 11.8461 0.0285594 12.1698 0.0276412C12.4934 0.026723 12.8043 0.156816 13.0354 0.389796C13.2665 0.622775 13.3991 0.939921 13.4046 1.27267C13.4101 1.60541 13.2881 1.92702 13.0649 2.16796L6.5092 10.5952C6.39653 10.72 6.26055 10.8201 6.10938 10.8897C5.95821 10.9592 5.79496 10.9966 5.6294 10.9998C5.46383 11.0029 5.29934 10.9717 5.14578 10.908C4.99221 10.8443 4.85271 10.7494 4.73563 10.629L0.392006 6.16034C0.270998 6.04438 0.17394 5.90454 0.106624 5.74917C0.0393065 5.5938 0.00310951 5.42608 0.000191679 5.25601C-0.00272616 5.08594 0.027695 4.91701 0.0896405 4.7593C0.151586 4.60158 0.243787 4.45831 0.360742 4.33804C0.477697 4.21776 0.617011 4.12294 0.770373 4.05924C0.923735 3.99553 1.088 3.96425 1.25338 3.96725C1.41875 3.97025 1.58184 4.00747 1.73293 4.0767C1.88401 4.14593 2.01998 4.24574 2.13274 4.37019L5.57151 7.90489L11.2732 0.431857C11.2835 0.418818 11.2944 0.406412 11.3061 0.394702ZM9.79524 9.07524L11.3061 10.629C11.4231 10.7491 11.5625 10.8438 11.7159 10.9074C11.8693 10.9709 12.0336 11.0021 12.199 10.9989C12.3644 10.9958 12.5274 10.9584 12.6784 10.889C12.8295 10.8197 12.9654 10.7197 13.078 10.5952L19.6337 2.16796C19.7514 2.0484 19.8446 1.90565 19.9075 1.74825C19.9704 1.59085 20.0018 1.42202 19.9999 1.25185C19.998 1.08167 19.9627 0.913646 19.8962 0.757796C19.8298 0.601946 19.7334 0.461473 19.613 0.344763C19.4925 0.228053 19.3505 0.137501 19.1952 0.0785148C19.04 0.0195283 18.8748 -0.0066833 18.7095 0.00144586C18.5442 0.00957502 18.3822 0.0518786 18.2332 0.125829C18.0841 0.199779 17.9511 0.30386 17.842 0.431857L12.1387 7.90489L11.3422 7.08412L9.7936 9.07524H9.79524Z" fill="#1491ED"/>
                        </svg>
                    </button> -->
                </div>
                <div class="pt-7">
                    <div class="p-5 flex justify-between items-center bg-plomo-170 text-white rounded-lg">
                        <div>Corporacion Tecnologica DYM S.A.C</div>
                        <button class="focus:outline-none">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0C4.023 0 0 4.023 0 9C0 13.977 4.023 18 9 18C13.977 18 18 13.977 18 9C18 4.023 13.977 0 9 0ZM13.5 12.231L12.231 13.5L9 10.269L5.769 13.5L4.5 12.231L7.731 9L4.5 5.769L5.769 4.5L9 7.731L12.231 4.5L13.5 5.769L10.269 9L13.5 12.231Z" fill="#BEBEBE"/>
                            </svg>     
                        </button>
                    </div>
                    
                </div>
            </div>
            <div>
                <div class="pt-10 space-y-4 text-plomo-570">
                    <label class="cursor-pointer flex gap-3 items-center" for="imprienvi"><input id="imprienvi" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="">Imprimir y enviar a correo.</span></label>
                    <label class="cursor-pointer flex gap-3 items-center" for="noimprenv"><input id="noimprenv" class="border-1 text-azul-300 rounded-sm border-plomo-485" type="checkbox"> <span class="">No imprimir y enviar a correo.</span></label>                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex gap-5 justify-end px-10 pt-20">
        <button mat-dialog-close class="rounded-lg border-plomo-300 focus:outline-none px-7 py-3 border-2 hover:border-plomo-137 hover:text-plomo-137 text-plomo-300 bg-white ">Cancelar</button>
        <!-- <button class="rounded-lg border-plomo-300 focus:outline-none px-7 py-3 hover:bg-plomo-280 hover:text-white text-plomo-230 bg-plomo-125 ">Continuar</button> -->
        <button (click)="onNotaCredito()" class="rounded-lg focus:outline-none px-7 py-3   text-white bg-azul-300 ">Continuar</button>
    </div>
</main>