<main class=" w-full font-Poppins p-8">
    <button mat-dialog-close class="focus:outline-none flex w-full justify-end">    
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
            <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
        </svg>
    </button> 
    <div class="w-full flex justify-center"> 
        <img class="object-contain w-40  " src="assets/img/modals/pregunta.svg" alt="">
    </div>
    <div class="pt-7">
        <div class="flex justify-center text-plomo-490 font-masgrande ">¿ Solicitar cambio de precios ?</div>
        <div class="flex justify-center text-plomo-327">Un administrador atendera tu solicitud</div>
        <div class="flex gap-6 justify-center pt-10">
            <button mat-dialog-close class="border-2 rounded-md px-10 py-2 focus:outline-none border-plomo-250 text-oscuro-810">Cancelar</button>
            <button (click)="onRespuestaCambioPrecio()" class="border-2 rounded-md px-10 py-2 focus:outline-none bg-azul-300 border-azul-300 text-white">Aceptar</button>
        </div>
    </div>
   
</main>
