<!-- seleccion de  tabs -->
<main class=" m-7">  
    <!-- Inputs del TAB principal de la pagina Venta -->
    <input  type="radio"  name="buttons" id="r1" class="selector" checked>
    <input type="radio" name="buttons" id="r2" class="selector">
    <input type="radio" name="buttons" id="r3" class="selector">
    <input type="radio" name="buttons" id="r4" class="selector">
    <input type="radio" name="buttons" id="r5" class="selector">
    <div class="relative controls text-plomo-290 my-1 grid grid-cols-12 xl:grid-cols-12 gap-9 items-center space-x-5">
        <!-- logo de  punto de  venta -->
        <div class="col-span-2 text-azul-300 flex gap-2 items-center  ">
            <img  src="assets/img/gestionpedido/icogestionpedido.svg" alt=""><span class="text-lg font-bold whitespace-nowrap"> Gestión Pedidos </span>
        </div>

        <!-- Opciones de Tabs -->
        <div class="  xl:col-span-6 col-span-9 flex  xl:justify-start  justify-center  w-full 2xl:gap-9 xl:gap-4 gap-3  text-base ">
            <label  for="r1" class=" cursor-pointer" (click)="onMostrarOpcionBotonListadoPedido()"> Listado Pedidos </label>
            <label for="r2" class=" cursor-pointer" (click)="onMostrarOpcionBotonSeguimiento()"> Seguimiento</label>
            <label for="r3" class=" cursor-pointer" (click)=" onMostrarOpcionBotonRetornos()"> Retorno </label>
        </div>

        <!-- Botones de opciones  -->
        <div  class="relative xl:col-span-4 col-span-1 "  >  
            <!-- Listado Pedido   -->
            <input type="checkbox" id="botonsolicitudeslistadopedido" class="hidden absolute">
            <!-- Seguimiento -->
            <input type="checkbox" id="botonsolicitudesseguimiento" class="hidden absolute">
            <input type="checkbox" id="botonfiltrarseguimiento" class="hidden absolute">
            <input type="checkbox" id="botontiemposeguimiento" class="hidden absolute">
            <!-- Retorno -->
            <input type="checkbox" id="botonsolicitudesRetorno" class="hidden absolute">         
            <!-- Botones -->
            <!-- Ver Botones Listado Pedido  -->
            <div  *ngIf="VerOpcionBotonListadoPedido" class="flex col-end-1 flex-row gap-4">
                <button class="focus:outline-none w-full flex justify-end">
                    <label for="botonsolicitudeslistadopedido"  class="cursor-pointer border-2 rounded-md bg-white h-9 w-32 focus:outline-none flex justify-center items-center gap-2">  
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.66667 2.86646H2.86667C2.3716 2.86646 1.8968 3.06312 1.54673 3.41319C1.19667 3.76326 1 4.23805 1 4.73312V13.1331C1 13.6282 1.19667 14.103 1.54673 14.4531C1.8968 14.8031 2.3716 14.9998 2.86667 14.9998H11.2667C11.7617 14.9998 12.2365 14.8031 12.5866 14.4531C12.9367 14.103 13.1333 13.6282 13.1333 13.1331V10.3331" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.2023 6.6C13.7487 6.6 15.0023 5.3464 15.0023 3.8C15.0023 2.2536 13.7487 1 12.2023 1C10.6559 1 9.40234 2.2536 9.40234 3.8C9.40234 5.3464 10.6559 6.6 12.2023 6.6Z" fill="#424242" stroke="#424242" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>         
                        </span>
                        <span class=""> Solicitudes </span>                                   
                    </label> 
                </button>           
            </div>
            
            <!-- Ver Botones Seguimiento -->
            <div *ngIf="VerOpcionBotonSeguimiento" class="relative  flex items-start  h-9  w-full  justify-end"  >
                <div class="hidden xl:flex h-full xl:gap-2 2xl:gap-5 ">
                    <button class="relative focus:outline-none">
                        <label (click)="MostrarTiempoEntrega()" for="botontiemposeguimiento"  class="cursor-pointer border-2 rounded-md bg-white h-9 w-32 focus:outline-none flex justify-center items-center gap-2 ">  
                            <span>
                                <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 2.83333C5.61553 2.83333 4.26216 3.24876 3.11101 4.02709C1.95987 4.80542 1.06266 5.91168 0.532846 7.20599C0.00303288 8.5003 -0.13559 9.92452 0.134506 11.2986C0.404603 12.6726 1.07129 13.9347 2.05026 14.9253C3.02922 15.916 4.2765 16.5906 5.63437 16.8639C6.99224 17.1372 8.3997 16.9969 9.67879 16.4608C10.9579 15.9247 12.0511 15.0168 12.8203 13.852C13.5895 12.6871 14 11.3176 14 9.91666C13.9979 8.0387 13.2597 6.23826 11.9474 4.91033C10.6351 3.58241 8.85587 2.83545 7 2.83333ZM7 15.3C5.94781 15.3 4.91924 14.9843 4.04437 14.3927C3.1695 13.8012 2.48762 12.9605 2.08496 11.9768C1.68231 10.9931 1.57695 9.91069 1.78223 8.86643C1.9875 7.82216 2.49418 6.86295 3.23819 6.11007C3.98221 5.3572 4.93014 4.84449 5.96212 4.63677C6.9941 4.42905 8.06377 4.53566 9.03588 4.94311C10.008 5.35057 10.8389 6.04056 11.4234 6.92585C12.008 7.81113 12.32 8.85194 12.32 9.91666C12.3184 11.3439 11.7574 12.7123 10.76 13.7215C9.7627 14.7307 8.41046 15.2984 7 15.3ZM9.96989 6.91149C10.1274 7.07089 10.2159 7.28709 10.2159 7.51251C10.2159 7.73794 10.1274 7.95413 9.96989 8.11353L7.59395 10.5177C7.51618 10.5977 7.42354 10.6613 7.32135 10.7049C7.21917 10.7484 7.10947 10.7711 6.99858 10.7716C6.8877 10.772 6.77782 10.7502 6.67529 10.7075C6.57276 10.6648 6.4796 10.6019 6.4012 10.5226C6.32279 10.4433 6.26068 10.349 6.21845 10.2452C6.17623 10.1415 6.15472 10.0303 6.15517 9.9181C6.15562 9.80589 6.17802 9.69489 6.22108 9.59149C6.26414 9.48809 6.32701 9.39434 6.40605 9.31564L8.78192 6.91149C8.93945 6.7521 9.1531 6.66255 9.37587 6.66255C9.59864 6.66255 9.81229 6.7521 9.96982 6.91149H9.96989ZM4.48 0.85C4.48 0.624566 4.5685 0.408365 4.72603 0.248959C4.88356 0.0895533 5.09722 0 5.32 0L8.68 0C8.90278 0 9.11644 0.0895533 9.27397 0.248959C9.4315 0.408365 9.52 0.624566 9.52 0.85C9.52 1.07543 9.4315 1.29163 9.27397 1.45104C9.11644 1.61045 8.90278 1.7 8.68 1.7H5.32C5.09722 1.7 4.88356 1.61045 4.72603 1.45104C4.5685 1.29163 4.48 1.07543 4.48 0.85Z" fill="#212121"/>
                                </svg>          
                            </span>
                            <span class="">Tiempo</span>                                   
                        </label>
                        <div *ngIf="VerTiempoEntrega" class="p-4 adornotiempoentrega absolute -right-24 top-11 mt-1  min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out z-10">
                           <div class="w-40 relative">
                                <!-- Articulo y Marca -->
                                <div class="w-full flex justify-start text-plomo-445 font-grande text-am " >Tiempo de Entrega</div>
                                <div class="w-full flex content-start text-left text-plomo-285 pt-3">
                                    Programe un tiempo de entrega como limite para que el sistema emita una notificación de aviso.
                                </div>
                                <div class="w-full text-plomo-137 rounded-lg flex gap-3 justify-center border-plomo-123 shadow-md px-7 py-4 mt-2">
                                    <div class="rounded-md flex flex-col justify-center" >
                                        <input class="content-center border-1 border-plomo-123 w-14 h-10 rounded-md" type="number" >
                                        <span>Min</span>
                                    </div>
                                    <span class="flex items-center h-full pt-4 ">
                                        <svg class="object-contain w-1  " viewBox="0 0 3 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.776367 6.38428C0.776367 6.18115 0.835612 6.01188 0.954102 5.87646C1.07682 5.74105 1.25879 5.67334 1.5 5.67334C1.74121 5.67334 1.92318 5.74105 2.0459 5.87646C2.17285 6.01188 2.23633 6.18115 2.23633 6.38428C2.23633 6.57894 2.17285 6.74186 2.0459 6.87305C1.92318 7.00423 1.74121 7.06982 1.5 7.06982C1.25879 7.06982 1.07682 7.00423 0.954102 6.87305C0.835612 6.74186 0.776367 6.57894 0.776367 6.38428ZM0.782715 0.779297C0.782715 0.576172 0.84196 0.406901 0.960449 0.271484C1.08317 0.136068 1.26514 0.0683594 1.50635 0.0683594C1.74756 0.0683594 1.92952 0.136068 2.05225 0.271484C2.1792 0.406901 2.24268 0.576172 2.24268 0.779297C2.24268 0.973958 2.1792 1.13688 2.05225 1.26807C1.92952 1.39925 1.74756 1.46484 1.50635 1.46484C1.26514 1.46484 1.08317 1.39925 0.960449 1.26807C0.84196 1.13688 0.782715 0.973958 0.782715 0.779297Z" fill="#5B5B5B"/>
                                        </svg> 
                                    </span>
                                    <div class="rounded-md flex flex-col justify-center" >
                                        <input class="content-center border-1 border-plomo-123 w-14 h-10 rounded-md" type="number">
                                        <span>Seg</span>
                                    </div>
                                </div>
                                <div class="flex gap-3 justify-end mt-6">
                                    <div><button (click)="MostrarTiempoEntrega()" class="focus:outline-none hover:border-plomo-270 hover:text-plomo-270 text-plomo-285   border-plomo-124 border-2 px-4 py-2 rounded-md">Cancelar</button></div>
                                    <div><button class="focus:outline-none hover:bg-azul-400 hover:border-azul-400 hover:text-white  border-azul-300 bg-azul-300 text-white border-2 px-4 py-2 rounded-md">Guardar</button></div>
                                </div>
                           </div>   
                        </div>
                    </button>
                   
                    <button class="relative focus:outline-none">
                        <label (click)="MostrarFiltroSeguimiento()" for="botonfiltrarseguimiento"  class="cursor-pointer border-2 rounded-md bg-white h-9 w-32 focus:outline-none flex justify-center items-center gap-2 ">  
                            <span>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.9 11.1012L6.3 11.8012V7.18822C6.29923 7.00458 6.22632 6.8286 6.097 6.69822L1.561 2.09922H12.453L7.924 6.69822C7.79468 6.8286 7.72177 7.00458 7.721 7.18822L7.7 12.5992L9.1 13.2992V7.47522L13.706 2.79922C13.8902 2.61229 13.9955 2.36165 14 2.09922V1.39922C14 1.21357 13.9263 1.03552 13.795 0.904244C13.6637 0.772969 13.4857 0.699219 13.3 0.699219H0.7C0.514348 0.699219 0.336301 0.772969 0.205025 0.904244C0.0737499 1.03552 0 1.21357 0 1.39922V2.09922C0.00447825 2.36165 0.10975 2.61229 0.294 2.79922L4.9 7.47522V11.1012Z" fill="#212121"/>
                                </svg>              
                            </span>
                            <span class="">Filtro</span>                                   
                        </label>
                        <div *ngIf="VerFiltroSeguimiento" class="p-4 adornofiltroseguimiento absolute right-0 top-11 mt-1  min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out z-10">
                            <div class="w-99.4 relative">
                                 <!-- Articulo y Marca -->
                                <section class="flex pt-6 items-center h-full gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                                   
                                    <div class="flex gap-3 items-center w-1/2">
                                        <div class=" text-plomo-370 font-semibold  flex justify-start" >Fecha</div>  
                                        <!-- fecha inicio -->
                                        <div class="w-full h-full flex items-center  col-span-1 ml-6">
                                            <div class="flex w-64  px-2 border   text-sm focus:outline-none bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md ">
                                                <input class="w-full px-2 py-2 bg-plomo-128 "
                                                    name="fechaemision"
                                                    placeholder="17/10/2020"
                                                    [matDatepicker]="fechainicio"
                                                    required
                                                    formControlName="fechainicio">
                                                <mat-datepicker #fechainicio> </mat-datepicker>
                                                <button type="button" (click)="fechainicio.open()"
                                                    class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                    <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                </button> 
                                            </div>
                                            <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                                        </div>
                                    </div>
                                    <div class="flex gap-3 items-center w-1/2">
                                        <div class="flex gap-3 items-center ">
                                            <div class=" text-plomo-370 font-semibold  flex justify-start" >Solicitante</div>                                   
                                            <div class="select w-full bg-plomo">
                                                <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                                    <option selected disabled>Seleccione</option>
                                                    <option value="">Tienda 1</option>
                                                    <option value="">Tienda 2</option>
                                                    <option value="">Tienda 3</option>
                                                    <option value="">Tienda 4</option>
                                                    <option value="">Tienda 5</option>
                                                </select>
                                             </div>
                                           </div>
                                    </div>                                           
                                </section> 
                                <!-- Genero y Stock  -->
                                <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                                   <div class="flex gap-3 items-center w-1/2">
                                    <div class=" text-plomo-370 font-semibold w-1/5 flex justify-start" >Tipo</div>                                   
                                    <div class="select w-full bg-plomo">
                                        <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                            <option selected disabled>Seleccione</option>
                                            <option value="">Pedido</option>
                                            <option value="">Traslado</option>
                                        </select>
                                     </div>
                                   </div>
                                   <div class="flex gap-3 items-center w-1/2">
                                    <div class=" text-plomo-370 font-semibold flex justify-start w-1/5">Corredor</div>                                   
                                    <div class="select w-full">
                                        <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                            <option selected disabled>Elige un opción</option>
                                            <option value="">Empleado 1</option>
                                            <option value="">Empleado 2</option>  
                                                 
                                        </select>
                                     </div>
                                   </div>
                                                                                      
                                </section> 
                                <section class="flex pt-6 items-center gap-6 p-5 justify-between ">
                                    <div class="flex gap-3 items-center w-1/2">
                                     <div class=" text-plomo-370 font-semibold w-1/5 flex justify-start" >Estado</div>                                   
                                     <div class="select w-full bg-plomo">
                                         <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                             <option selected disabled>Seleccione</option>
                                             <option value="">Estado 1</option>
                                             <option value="">Estado 2</option>
                                         </select>
                                      </div>
                                    </div>                                                 
                                 </section> 
    
                                <!-- Botones  -->
                                <section class="flex justify-between p-5 items-center">
                                     <div class="text-red-500">Quitar todos filtros</div>
                                     <div class="flex gap-4">
                                         <div><button (click)="MostrarFiltroSeguimiento()" class="rounded-md  focus:outline-none px-5 py-2 text-base bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 ">Cancelar</button></div>
                                         <div><button class="rounded-md  focus:outline-none px-8 py-2  bg-plomo-480 hover:border-plomo-230 hover:text-white hover:bg-plomo-230 text-plomo-270 border-plomo-300 border-2 text-base ">Aplicar</button></div>
                                     </div>
                                </section> 
                            </div> 
                         </div>
                    </button>
                    
                    <button class="focus:outline-none">
                        <label for="botonsolicitudesseguimiento"  class="cursor-pointer border-2 rounded-md bg-white h-9 w-32 focus:outline-none flex justify-center items-center gap-2">  
                            <span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.66667 2.86646H2.86667C2.3716 2.86646 1.8968 3.06312 1.54673 3.41319C1.19667 3.76326 1 4.23805 1 4.73312V13.1331C1 13.6282 1.19667 14.103 1.54673 14.4531C1.8968 14.8031 2.3716 14.9998 2.86667 14.9998H11.2667C11.7617 14.9998 12.2365 14.8031 12.5866 14.4531C12.9367 14.103 13.1333 13.6282 13.1333 13.1331V10.3331" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.2023 6.6C13.7487 6.6 15.0023 5.3464 15.0023 3.8C15.0023 2.2536 13.7487 1 12.2023 1C10.6559 1 9.40234 2.2536 9.40234 3.8C9.40234 5.3464 10.6559 6.6 12.2023 6.6Z" fill="#424242" stroke="#424242" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>         
                            </span>
                            <span class="">Solicitudes</span>                                   
                        </label>
                    </button>
                </div>
                <div class="flex xl:hidden h-full ">
                    <button class="border-2 border-azul-200 bg-azul-300 text-white  focus:outline-none rounded-md px-2 py-2 flex justify-center items-center">Opciones</button>
                </div>
            </div>  

            <!-- Ver opcion de retorno -->
            <div *ngIf="VerOpcionBotonRetornos" class="flex col-end-1 flex-row gap-4" >
                <button class="focus:outline-none w-full flex justify-end">
                    <label for="botonsolicitudeslistadopedido"  class="cursor-pointer border-2 rounded-md bg-white h-9 w-32 focus:outline-none flex justify-center items-center gap-2">  
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.66667 2.86646H2.86667C2.3716 2.86646 1.8968 3.06312 1.54673 3.41319C1.19667 3.76326 1 4.23805 1 4.73312V13.1331C1 13.6282 1.19667 14.103 1.54673 14.4531C1.8968 14.8031 2.3716 14.9998 2.86667 14.9998H11.2667C11.7617 14.9998 12.2365 14.8031 12.5866 14.4531C12.9367 14.103 13.1333 13.6282 13.1333 13.1331V10.3331" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.2023 6.6C13.7487 6.6 15.0023 5.3464 15.0023 3.8C15.0023 2.2536 13.7487 1 12.2023 1C10.6559 1 9.40234 2.2536 9.40234 3.8C9.40234 5.3464 10.6559 6.6 12.2023 6.6Z" fill="#424242" stroke="#424242" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>         
                        </span>
                        <span class=""> Solicitudes </span>                                   
                    </label> 
                </button>  
            </div>
   
        </div>                             
    </div>
    <div class="main bg-white  overflow-y-auto flex flex-col  ">
        <div class="slides">
            <!------------------------------------------------ LISTADO -------------------------------------------------->
            <section class=" w-full  flex gap-5 bg-azul-100 "> 
                    <input type="radio" name="ped" id="tienda1" class="listadotienda" checked >
                    <input type="radio" name="ped" id="tienda2" class="listadotienda" >
                    <input type="radio" name="ped" id="tienda3" class="listadotienda" >
                    <input type="radio" name="ped" id="tienda4" class="listadotienda" >
                    <input type="radio" name="ped" id="tienda5" class="listadotienda" >
                    <input type="radio" name="ped" id="tienda6" class="listadotienda" >
                    <input type="radio" name="ped" id="tienda7" class="listadotienda" >
                    <!----------------------------------------------------------- TABLA  ------------------------------------- -->
                    <div class="gestion w-full h-full flex bg-white rounded-md shadow-sm " >
                        <div class="lis  w-5/12  h-full  border-r-1 border-azul-240 ">
                          <div class="contene  mt-5 mx-5 text-azul-150 ">
                            <!-- Cabezera   -->
                            <div class=" flex justify-between">
                              <div class="text-azul-300 font-grande text-base" >Listado</div>
                              <div class="text-plomo-240  text-base" >8 Pedidos</div>
                            </div>
                            <div  class="contenedor  tiendas focus:text-azul-300 mt-4 flex flex-col gap-6 h-mp relative overflow-y-auto  " >
                                <!-- Tienda 1 -->
                                <label for="tienda1" class="cursor-pointer focus:outline-none border-1 border-azul-230 rounded-md flex gap-5 p-2 ">
                                    <div class=" relative rounded-full p-3 bg-azul-20   h-full items-center ">
                                        <svg class="w-5  flex items-center" viewBox="0 0 14 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33203 8.1665H5.83203V9.33317H2.33203V8.1665Z" />
                                            <path d="M2.33203 10.5H8.16537V11.6667H2.33203V10.5Z" />
                                            <path d="M12.8333 0H1.16667C0.857342 0.000308861 0.560776 0.123324 0.34205 0.34205C0.123324 0.560776 0.000308861 0.857342 0 1.16667V12.8333C0.000308861 13.1427 0.123324 13.4392 0.34205 13.658C0.560776 13.8767 0.857342 13.9997 1.16667 14H12.8333C13.1427 13.9997 13.4392 13.8767 13.658 13.658C13.8767 13.4392 13.9997 13.1427 14 12.8333V1.16667C13.9997 0.857342 13.8767 0.560776 13.658 0.34205C13.4392 0.123324 13.1427 0.000308861 12.8333 0ZM8.16667 1.16667V3.5H5.83333V1.16667H8.16667ZM1.16667 12.8333V1.16667H4.66667V4.66667H9.33333V1.16667H12.8333L12.8339 12.8333H1.16667Z" />
                                        </svg>
                                        <span class="w-4 h-4 absolute -bottom-1 -right-1 flex bg-plomo-550 border-2 border-white items-center justify-center  font-medium rounded-full"></span>   
                                    </div>
                                    <div class="flex flex-col ">
                                        <div class=" text-base flex justify-start w-full">Pedido Tienda 1</div>
                                        <div class="flex text-azul-150 text-sm">
                                            <div>[ C-24 ]</div>
                                            <div>Solicitá 3 Productos</div>
                                        </div>
                                    </div>
                                </label>
                                 <!-- Tienda 2 -->
                                <label for="tienda2" class="cursor-pointer focus:outline-none border-1 border-azul-230 rounded-md flex gap-5 p-2 ">
                                    <div class="relative rounded-full p-3    bg-azul-20 h-full items-center ">
                                        <svg class="w-5 flex items-center" viewBox="0 0 14 14" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33203 8.1665H5.83203V9.33317H2.33203V8.1665Z" />
                                            <path d="M2.33203 10.5H8.16537V11.6667H2.33203V10.5Z" />
                                            <path d="M12.8333 0H1.16667C0.857342 0.000308861 0.560776 0.123324 0.34205 0.34205C0.123324 0.560776 0.000308861 0.857342 0 1.16667V12.8333C0.000308861 13.1427 0.123324 13.4392 0.34205 13.658C0.560776 13.8767 0.857342 13.9997 1.16667 14H12.8333C13.1427 13.9997 13.4392 13.8767 13.658 13.658C13.8767 13.4392 13.9997 13.1427 14 12.8333V1.16667C13.9997 0.857342 13.8767 0.560776 13.658 0.34205C13.4392 0.123324 13.1427 0.000308861 12.8333 0ZM8.16667 1.16667V3.5H5.83333V1.16667H8.16667ZM1.16667 12.8333V1.16667H4.66667V4.66667H9.33333V1.16667H12.8333L12.8339 12.8333H1.16667Z" />
                                        </svg>
                                        <span class="w-4 h-4 absolute -bottom-1 -right-1 flex bg-celeste-30 border-2 border-white items-center justify-center  font-medium rounded-full"></span>   
                                    </div>
                                    <div class="flex flex-col">
                                        <div class=" text-base flex justify-start w-full" >Pedido Tienda 2</div>
                                        <div class="flex text-azul-150 text-sm">
                                            <div>[ C-24 ]</div>
                                            <div>Solicitá 3 Productos</div>
                                        </div>
                                    </div>
                                </label>
                                <!-- Tienda 3 -->
                                <label for="tienda3" class="cursor-pointer focus:outline-none border-1 border-azul-230 rounded-md flex gap-5 p-2 ">
                                    <div class="relative rounded-full p-3    bg-azul-20 h-full items-center ">
                                        <svg class="w-5 flex items-center" viewBox="0 0 14 14" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33203 8.1665H5.83203V9.33317H2.33203V8.1665Z" />
                                            <path d="M2.33203 10.5H8.16537V11.6667H2.33203V10.5Z" />
                                            <path d="M12.8333 0H1.16667C0.857342 0.000308861 0.560776 0.123324 0.34205 0.34205C0.123324 0.560776 0.000308861 0.857342 0 1.16667V12.8333C0.000308861 13.1427 0.123324 13.4392 0.34205 13.658C0.560776 13.8767 0.857342 13.9997 1.16667 14H12.8333C13.1427 13.9997 13.4392 13.8767 13.658 13.658C13.8767 13.4392 13.9997 13.1427 14 12.8333V1.16667C13.9997 0.857342 13.8767 0.560776 13.658 0.34205C13.4392 0.123324 13.1427 0.000308861 12.8333 0ZM8.16667 1.16667V3.5H5.83333V1.16667H8.16667ZM1.16667 12.8333V1.16667H4.66667V4.66667H9.33333V1.16667H12.8333L12.8339 12.8333H1.16667Z" />
                                        </svg>
                                        <span class="w-4 h-4 absolute -bottom-1 -right-1 flex bg-rojo-700 border-2 border-white items-center justify-center  font-medium rounded-full"></span>   
                                    </div>
                                    <div class="flex flex-col">
                                        <div class=" text-base flex justify-start w-full">Pedido Tienda 4</div>
                                        <div class="flex text-azul-150 text-sm">
                                            <div>[ C-24 ]</div>
                                            <div>Solicitá 3 Productos</div>
                                        </div>
                                    </div>
                                </label>
                                <!-- Tienda 4 -->
                                <label for="tienda4" class="cursor-pointer focus:outline-none border-1 border-azul-230 rounded-md flex gap-5 p-2 ">
                                    <div class="relative rounded-full p-3    bg-azul-20 h-full items-center ">
                                        <svg class="w-5 flex items-center" viewBox="0 0 14 14" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33203 8.1665H5.83203V9.33317H2.33203V8.1665Z" />
                                            <path d="M2.33203 10.5H8.16537V11.6667H2.33203V10.5Z" />
                                            <path d="M12.8333 0H1.16667C0.857342 0.000308861 0.560776 0.123324 0.34205 0.34205C0.123324 0.560776 0.000308861 0.857342 0 1.16667V12.8333C0.000308861 13.1427 0.123324 13.4392 0.34205 13.658C0.560776 13.8767 0.857342 13.9997 1.16667 14H12.8333C13.1427 13.9997 13.4392 13.8767 13.658 13.658C13.8767 13.4392 13.9997 13.1427 14 12.8333V1.16667C13.9997 0.857342 13.8767 0.560776 13.658 0.34205C13.4392 0.123324 13.1427 0.000308861 12.8333 0ZM8.16667 1.16667V3.5H5.83333V1.16667H8.16667ZM1.16667 12.8333V1.16667H4.66667V4.66667H9.33333V1.16667H12.8333L12.8339 12.8333H1.16667Z" />
                                        </svg>
                                        <span class="w-4 h-4 absolute -bottom-1 -right-1 flex bg-verde-700 border-2 border-white items-center justify-center  font-medium rounded-full"></span>   
                                    </div>
                                    <div class="flex flex-col">
                                        <div class=" text-base flex justify-start w-full">Pedido Tienda 7</div>
                                        <div class="flex text-azul-150 text-sm">
                                            <div>[ C-24 ]</div>
                                            <div>Solicitá 3 Productos</div>
                                        </div>
                                    </div>
                                </label>
                                <!-- Tienda 5 -->
                                <label for="tienda5" class="cursor-pointer focus:outline-none border-1 border-azul-230 rounded-md flex gap-5 p-2 ">
                                    <div class="relative rounded-full p-3    bg-azul-20 h-full items-center ">
                                        <svg class="w-5 flex items-center" viewBox="0 0 14 14" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33203 8.1665H5.83203V9.33317H2.33203V8.1665Z" />
                                            <path d="M2.33203 10.5H8.16537V11.6667H2.33203V10.5Z" />
                                            <path d="M12.8333 0H1.16667C0.857342 0.000308861 0.560776 0.123324 0.34205 0.34205C0.123324 0.560776 0.000308861 0.857342 0 1.16667V12.8333C0.000308861 13.1427 0.123324 13.4392 0.34205 13.658C0.560776 13.8767 0.857342 13.9997 1.16667 14H12.8333C13.1427 13.9997 13.4392 13.8767 13.658 13.658C13.8767 13.4392 13.9997 13.1427 14 12.8333V1.16667C13.9997 0.857342 13.8767 0.560776 13.658 0.34205C13.4392 0.123324 13.1427 0.000308861 12.8333 0ZM8.16667 1.16667V3.5H5.83333V1.16667H8.16667ZM1.16667 12.8333V1.16667H4.66667V4.66667H9.33333V1.16667H12.8333L12.8339 12.8333H1.16667Z" />
                                        </svg>
                                        <span class="w-4 h-4 absolute -bottom-1 -right-1 flex bg-amarillo-700 border-2 border-white items-center justify-center  font-medium rounded-full"></span>   
                                    </div>
                                    <div class="flex flex-col">
                                        <div class=" text-base flex justify-start w-full">Pedido Tienda 5</div>
                                        <div class="flex text-azul-150 text-sm">
                                            <div>[ C-24 ]</div>
                                            <div>Solicitá 3 Productos</div>
                                        </div>
                                    </div>
                                </label>
                                <!-- Tienda 6 -->
                                <label for="tienda6" class="cursor-pointer focus:outline-none border-1 border-azul-230 rounded-md flex gap-5 p-2 ">
                                    <div class="relative rounded-full p-3    bg-azul-20 h-full items-center ">
                                        <svg class="w-5 flex items-center" viewBox="0 0 14 14" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33203 8.1665H5.83203V9.33317H2.33203V8.1665Z" />
                                            <path d="M2.33203 10.5H8.16537V11.6667H2.33203V10.5Z" />
                                            <path d="M12.8333 0H1.16667C0.857342 0.000308861 0.560776 0.123324 0.34205 0.34205C0.123324 0.560776 0.000308861 0.857342 0 1.16667V12.8333C0.000308861 13.1427 0.123324 13.4392 0.34205 13.658C0.560776 13.8767 0.857342 13.9997 1.16667 14H12.8333C13.1427 13.9997 13.4392 13.8767 13.658 13.658C13.8767 13.4392 13.9997 13.1427 14 12.8333V1.16667C13.9997 0.857342 13.8767 0.560776 13.658 0.34205C13.4392 0.123324 13.1427 0.000308861 12.8333 0ZM8.16667 1.16667V3.5H5.83333V1.16667H8.16667ZM1.16667 12.8333V1.16667H4.66667V4.66667H9.33333V1.16667H12.8333L12.8339 12.8333H1.16667Z" />
                                        </svg>
                                        <span class="w-4 h-4 absolute -bottom-1 -right-1 flex bg-morado-700 border-2 border-white items-center justify-center  font-medium rounded-full"></span>   
                                    </div>
                                    <div class="flex flex-col">
                                        <div class=" text-base flex justify-start w-full">Pedido Tienda 10</div>
                                        <div class="flex text-azul-150 text-sm">
                                            <div>[ C-24 ]</div>
                                            <div>Solicitá 3 Productos</div>
                                        </div>
                                    </div>
                                </label>
                                <!-- Tienda 7 -->
                                <label for="tienda7" class="cursor-pointer focus:outline-none border-1 border-azul-230 rounded-md flex gap-5 p-2 ">
                                    <div class="relative rounded-full p-3    bg-azul-20 h-full items-center ">
                                        <svg class="  w-5 flex items-center" viewBox="0 0 14 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33203 8.1665H5.83203V9.33317H2.33203V8.1665Z" />
                                            <path d="M2.33203 10.5H8.16537V11.6667H2.33203V10.5Z" />
                                            <path d="M12.8333 0H1.16667C0.857342 0.000308861 0.560776 0.123324 0.34205 0.34205C0.123324 0.560776 0.000308861 0.857342 0 1.16667V12.8333C0.000308861 13.1427 0.123324 13.4392 0.34205 13.658C0.560776 13.8767 0.857342 13.9997 1.16667 14H12.8333C13.1427 13.9997 13.4392 13.8767 13.658 13.658C13.8767 13.4392 13.9997 13.1427 14 12.8333V1.16667C13.9997 0.857342 13.8767 0.560776 13.658 0.34205C13.4392 0.123324 13.1427 0.000308861 12.8333 0ZM8.16667 1.16667V3.5H5.83333V1.16667H8.16667ZM1.16667 12.8333V1.16667H4.66667V4.66667H9.33333V1.16667H12.8333L12.8339 12.8333H1.16667Z" />
                                        </svg>
                                        <span class="w-4 h-4 absolute -bottom-1 -right-1 flex bg-azul-250 border-2 border-white items-center justify-center  font-medium rounded-full"></span>   
                                    </div>
                                    <div class="flex flex-col">
                                        <div class=" text-base flex justify-start w-full">Pedido Tienda 11</div>
                                        <div class="flex text-azul-150 text-sm">
                                            <div>[ C-24 ]</div>
                                            <div>Solicitá 3 Productos</div>
                                        </div>
                                    </div>
                                </label>
                                
                                
                               
                            </div>
                          </div>
                        </div>
                        <div class="w-7/12 pedi ">
                                <div class="text-plomo-120 text-base px-9 py-9 flex flex-row justify-between">
                                    <div class="text-azul-900">Detalle Pedido Tienda 1</div>
                                    <div class="text-plomo-240">[ C-24 ]</div>
                                </div>
                                <div class="tiend">
                                    <section class="px-9 pt-7 border-t-1   border-plomo-210">
                                        <div class="flex justify-between  items-center">
                                            <div class="flex gap-3 items-center">
                                                <div><img class="object-cover w-14" src="assets/img/gestionpedido/user.png" alt=""></div>
                                                <div>
                                                    <div class="">Martha Nilsen</div>
                                                    <div class="text-plomo-240">Vendedor(a)</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="rounded-md p-4 bg-naranja-100 bg-opacity-10">
                                                    <img src="assets/img/gestionpedido/alert.png" alt="">
                                                </div>
                                                
                                            </div>
                                        </div>
                                     </section>
                                     <section class="px-9 pt-7">
                                        marjorie
                                     </section >
                                     <section class="px-9 pt-7">
                                        alex 
                                     </section>
                                     <section class="px-9 pt-7">
                                        berna
                                     </section>
                                     <section class="px-9 pt-7">
                                         miguel
                                     </section>
                                     <section class="px-9 pt-7">
                                        daniel
                                     </section>
                                     <section class="px-9 pt-7">
                                        Ross
                                     </section>
                                </div>
                        </div>
                    </div>
                    <div class="w-2/12 h-full bg-white rounded-md shadow-sm" >
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, aspernatur culpa ducimus officia recusandae consequatur, laudantium repellat ipsum illum distinctio inventore sed blanditiis quisquam accusantium deleniti saepe architecto debitis cum.
                    </div>
               
            </section>                   
            <!------------------------------------------------- SEGUIMIENTO ----------------------------------------------->
            <section>
                <div  class="animated fadeIn "  >
                    <fieldset  class="autocompletado-modal-flotante " >
                    <div id="tablatraslados">
                        <!----------------------------------------------------------- TABLA  ------------------------------------- -->
                        <div class=" ">
                            <table class="w-full relative py-3 text-xs text-black " >
                                <thead class="border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium  ">
                                    <tr  class="text-sm w-full font-extralight ">
                                        <th class="w-1/12"><div class="w-full flex justify-start pl-12 ">Almacen</div></th>
                                        <th class="w-2/12"><div class="w-full flex justify-start pl-14">Producto</div></th>
                                        <th class="w-1/12"><div class="w-full flex justify-center pl-2">Género</div></th>
                                        <th class="w-1/12"><div class="w-full flex justify-start pl-14 ">Talla</div></th>
                                        <th class="w-2/12"><div class="w-full flex justify-start pl-11">A cargo</div></th>
                                        <th class="w-3/12"><div class="w-full flex justify-start pl-20">Fecha y Hora Asignación</div></th>
                                        <th class="w-2/12"><div class="w-full flex justify-start pl-10">Cantidad Asignada</div></th>                                                                                                                            
                                    </tr>
                                </thead>
                                <tbody class="text-center gap-3   " >
                                    <tr  class=" text-sm  text-plomo-170 items-center ">
                                        <td class="w-1/12 pl-12" >
                                            <span class="flex ">
                                                <div class="w-full flex justify-start text-plomo-170 font-medium ">Tienda 1</div>
                                            </span>
                                        </td>
                                        <td class="w-2/12 pl-14">                                                
                                            <span class="flex gap-4 ">
                                                <div class="flex flex-col  ">
                                                    <div class="text-plomo-170 font-semibold text-sm flex justify-start">Zapatilla NIKE</div>
                                                    <div class="text-plomo-170 text-sm flex justify-start">New Edition 2020 Rx2</div>
                                                </div>
                                            </span> 
                                        </td>
                                        <td class="w-1/12 pl-2">
                                            <div class="w-full flex justify-center">Hombre</div> 
                                        </td>
                                        <td class="w-1/12 pl-14">
                                            <div class="w-full flex justify-start">6</div> 
                                        </td>
                                        <td class="w-2/12 pl-11">
                                            <div class="w-full flex justify-start">Gustavo Ribeiro Rodrigues</div> 
                                        </td>
                                        <td class="w-3/12 pl-20">
                                            <div class="w-full flex justify-start">06/16/2020, 05:02 AM</div> 
                                        </td>
                                        <td class="w-2/12 pl-10">
                                            <div class="w-full flex justify-start">1</div> 
                                        </td>
                                    </tr>               
                                </tbody>                
                            </table>   
                        </div> 
                    </div>
                    </fieldset>
                </div>   
            </section>
            <!------------------------------------------------- RETORNO -------------------------------------------------->
            <section class="">
                <div  class="animated fadeIn "  >
                    <fieldset  class="autocompletado-modal-flotante " >
                        <div id="tablatraslados">
                            <!----------------------------------------------------------- TABLA  ------------------------------------- -->
                            <div>
                                <div class="p-8 border-b-1 border-plomo-210 text-plomo-170 font-semibold">
                                    <div class="flex items-center gap-5 text-plomo-170 font-medium ">
                                        <div class="text-plomo-130 font-semibold">Info. Producto</div>
                                        <div class="flex items-center">(Use el <span class="px-2"><img src="assets/img/almacen/lupa.svg" alt=""></span> Buscador para obtener el kardex de un producto)</div>
                                    </div>
                                    <div class="grid grid-cols-4 gap-10 pt-8">
                                        <div class="col-span-1">Articulos:</div>
                                        <div class="col-span-1">Marca:</div>
                                        <div class="col-span-1">Inv.Minímo:</div>
                                        <div class="col-span-1">Inv.MAxímo:</div>
                                        <div class="col-span-1">Modelo:</div>
                                        <div class="col-span-1">Género:</div>
                                        <div class="col-span-1">Ex.Actual:</div>
                                        <div class="col-span-1"></div>
                                    </div>                                    
                                </div>
                                <div class="text-plomo-170">
                                    <div class="flex justify-between p-8 items-center">
                                        <div class="text-plomo-130 font-semibold w-4/6">Cuadro Kardex</div>
                                        <div class="flex w-2/6  items-center gap-10 font-medium">
                                            <div>          
                                                <!-- fecha inicio -->
                                                <div class="w-full md:mb-2 col-span-1">
                                                    <label class="labelclass" for=""> Fecha Inicio</label>
                                                    <div class="flex w-full px-2 border-1 border-gray-300 rounded ">
                                                        <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                                                            name="fechaemision"
                                                            placeholder="17/10/2020"
                                                            [matDatepicker]="fechainicio"
                                                            required
                                                            formControlName="fechainicio">
                                                        <mat-datepicker #fechainicio> </mat-datepicker>
                                                        <button type="button" (click)="fechainicio.open()"
                                                            class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                            <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                        </button> 
                                                    </div>
                                                    <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                                                </div>
                                            </div>
                                            <div>
                                                <!-- fecha fin -->
                                                <div class="w-full md:mb-2 col-span-1">
                                                    <label class="labelclass" for=""> Fecha Fin</label>
                                                    <div class="flex w-full px-2 border-1 border-gray-300 rounded ">
                                                        <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                                                            name="fechafin"
                                                            placeholder="17/10/2020"
                                                            [matDatepicker]="fechafin"
                                                            required
                                                            formControlName="fechafin">
                                                        <mat-datepicker #fechafin> </mat-datepicker>
                                                        <button type="button" (click)="fechafin.open()"
                                                            class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                            <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                        </button> 
                                                    </div>
                                                    <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- vacio -->
                                        <div class="flex flex-col pt-7">
                                            <div class="flex justify-center"><img src="assets/img/almacen/realizebusqueda.svg" alt=""></div>
                                            <div class="flex justify-center">
                                                <div class="w-72 flex text-center px-9">Realice una busqueda para vizualizar datos</div> 
                                            </div>
                                        </div>
                                        <!-- Con Busqueda -->
                                        <div>

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </fieldset>
                </div> 
            </section>
        </div>
    </div>
    <div class="text-azul-700 pt-6 font-medium ">Mostrando: <strong>1</strong> cajas</div>
</main>
