<!-- seleccion de  tabs -->
<main class="m-7">  
    <!-- Inputs del TAB principal de la pagina Venta -->
    <input  type="radio"  name="buttons" id="r1" class="selector" checked>
    <input type="radio" name="buttons" id="r2" class="selector">
    <input type="radio" name="buttons" id="r3" class="selector">
    <input type="radio" name="buttons" id="r4" class="selector">
    <input type="radio" name="buttons" id="r5" class="selector">
    <div class="relative controls text-plomo-290 py-1 grid grid-cols-12 gap-9 items-center space-x-5">
        <!-- logo de  punto de  venta -->
        <div class="col-span-2 text-azul-300 flex gap-2 items-center  ">
            <img class="object-contain "  src="assets/img/almacen/existencia.svg" alt=""><span class="text-lg font-bold whitespace-nowrap">Existencias</span>
        </div>
        <!-- Opciones de Tabs -->
        <div class=" col-span-6 flex xl:justify-start  justify-center   w-full gap-9  text-base">
            <label  for="r1" class=" cursor-pointer" (click)="onMostrarBotonFiltroListado()"> Listado </label>
            <label for="r2" class=" cursor-pointer" (click)="onMostrarBotonMuestra()"> Muestas</label>
            <label for="r3" class=" cursor-pointer" (click)="onMostrarBotonDescarga()">Kardax</label>
        </div>
        <!-- Botones de opciones  -->
        <div  class="relative col-span-4 flex items-start pr-6  w-full space-x-3 justify-end"  >                     
            <!-- FILTRO -->
            <button class=" border-2 rounded-md bg-white h-9 w-32 focus:outline-none">
                <input type="checkbox" id="filtrolistado" class="hidden absolute">
                <input type="checkbox" id="filtromuestra" class="hidden absolute">
                <input type="checkbox" id="descarga" class="hidden absolute">
                <label for="filtrolistado" *ngIf="VerBotonFiltroListado" (click)='MostrarFiltroListado()' class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                    <span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.9 11.1012L6.3 11.8012V7.18822C6.29923 7.00458 6.22632 6.8286 6.097 6.69822L1.561 2.09922H12.453L7.924 6.69822C7.79468 6.8286 7.72177 7.00458 7.721 7.18822L7.7 12.5992L9.1 13.2992V7.47522L13.706 2.79922C13.8902 2.61229 13.9955 2.36165 14 2.09922V1.39922C14 1.21357 13.9263 1.03552 13.795 0.904244C13.6637 0.772969 13.4857 0.699219 13.3 0.699219H0.7C0.514348 0.699219 0.336301 0.772969 0.205025 0.904244C0.0737499 1.03552 0 1.21357 0 1.39922V2.09922C0.00447825 2.36165 0.10975 2.61229 0.294 2.79922L4.9 7.47522V11.1012Z" fill="#212121"/>
                        </svg>     
                    </span>
                    <span class="">Filtrar</span>                                   
                </label>
                <label for="filtromuestra" *ngIf="VerBotonFiltroMuestra" (click)='MostrarFiltroMuestra()'   class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                    <span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.9 11.1012L6.3 11.8012V7.18822C6.29923 7.00458 6.22632 6.8286 6.097 6.69822L1.561 2.09922H12.453L7.924 6.69822C7.79468 6.8286 7.72177 7.00458 7.721 7.18822L7.7 12.5992L9.1 13.2992V7.47522L13.706 2.79922C13.8902 2.61229 13.9955 2.36165 14 2.09922V1.39922C14 1.21357 13.9263 1.03552 13.795 0.904244C13.6637 0.772969 13.4857 0.699219 13.3 0.699219H0.7C0.514348 0.699219 0.336301 0.772969 0.205025 0.904244C0.0737499 1.03552 0 1.21357 0 1.39922V2.09922C0.00447825 2.36165 0.10975 2.61229 0.294 2.79922L4.9 7.47522V11.1012Z" fill="#212121"/>
                        </svg>      
                    </span>
                    <span class="">Filtrar</span>                                   
                </label>
                <label for="descarga" *ngIf="VerBotonDescarga" (click)="MostrarDescarga()"  class="flex w-full h-full text-black  items-center justify-center space-x-1 cursor-pointer ">  
                    <span>
                        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 6.75H7.9125V4.5H10.0875V6.75H12L9 9.75L6 6.75ZM14.5125 4.53C16.4625 4.665 18 6.27 18 8.25C18 8.74246 17.903 9.23009 17.7145 9.68506C17.5261 10.14 17.2499 10.5534 16.9016 10.9017C16.5534 11.2499 16.14 11.5261 15.6851 11.7145C15.2301 11.903 14.7425 12 14.25 12H4.5C3.30653 12 2.16193 11.5259 1.31802 10.682C0.474106 9.83807 0 8.69347 0 7.5C0 5.1825 1.755 3.27 4.0125 3.03C4.48693 2.11687 5.20287 1.35147 6.08231 0.817186C6.96176 0.282905 7.97098 0.000243507 9 1.43803e-07C10.3013 -0.000294182 11.5624 0.451225 12.5678 1.27743C13.5732 2.10364 14.2606 3.25329 14.5125 4.53ZM14.25 10.5C14.8467 10.5 15.419 10.2629 15.841 9.84099C16.2629 9.41903 16.5 8.84674 16.5 8.25C16.4975 7.68493 16.281 7.14179 15.8942 6.72989C15.5073 6.31799 14.9788 6.06792 14.415 6.03L13.2675 5.9475L13.0425 4.8225C12.8565 3.88682 12.3521 3.04448 11.6151 2.43874C10.8781 1.833 9.95399 1.50128 9 1.5C7.455 1.5 6.06 2.355 5.3475 3.7275L4.9725 4.44L4.17 4.5225C3.43495 4.59932 2.75468 4.94655 2.26128 5.49678C1.76788 6.04701 1.49655 6.76096 1.5 7.5C1.5 8.29565 1.81607 9.05871 2.37868 9.62132C2.94129 10.1839 3.70435 10.5 4.5 10.5H14.25Z" fill="#5E5E5E"/>
                        </svg>     
                    </span>
                    <span class="">Descargar</span>                                   
                </label>
                <!-- Opción - Filtro -->
                <div *ngIf="VerFiltroListado" class="w-100 adornofiltroexistencialistado absolute right-5 top-11 mt-1   min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out z-10">
                    <!-- Articulo y Marca -->
                    <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Artículo</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>    
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 

                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Marca</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>   
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 
                    </section>  

                    <!-- Genero y Stock  -->        
                    <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Género</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>    
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 

                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Stock</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>   
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 
                    </section>

                    <!-- Botones  -->
                    <section class="flex justify-between p-5 items-center">
                         <div class="text-red-500">Quitar todos filtros</div>
                         <div class="flex gap-4">
                             <div><button class="rounded-md  focus:outline-none px-5 py-2 text-base bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 ">Cancelar</button></div>
                             <div><button class="rounded-md  focus:outline-none px-8 py-2  bg-plomo-480 hover:border-plomo-230 hover:text-white hover:bg-plomo-230 text-plomo-270 border-plomo-300 border-2 text-base ">Aplicar</button></div>
                         </div>
                    </section>                              
                </div>
                <div *ngIf="VerFiltroMuestra" class="w-120 adornofiltroexistenciamuestra absolute right-5 top-11 mt-1   min-w-max  rounded  bg-white shadow-md transition delay-75 ease-in-out z-10">
                    <!-- Articulo y Marca -->
                    <!-- <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                        <div class="flex gap-3 items-center w-1/2">
                        <div class=" text-plomo-370 font-semibold w-1/5" >Artículo</div>                                   
                        <div class="select w-full bg-plomo">
                            <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                <option selected disabled>Elige una opción</option>
                                <option value="">Zapatilla</option>
                                <option value="">Ropa</option>
                                <option value="">Accesorio</option>                                        
                            </select>
                        </div>
                        </div>
                        <div class="flex gap-3 items-center w-1/2">
                        <div class=" text-plomo-370 font-semibold w-1/5">Marca</div>                                   
                        <div class="select w-full">
                            <select name="format" id="format" class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md " >
                                <option selected disabled>Elige una opción</option>
                                <option value="">Adidas</option>
                                <option value="">Rebook</option>  
                                <option value="">Nike</option>
                                <option value="">Puma</option>
                                <option value="">Lotto</option>                                       
                            </select>
                        </div>
                        </div>                                           
                    </section>  -->
                    <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Artículo</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>    
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 

                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Marca</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>   
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 
                    </section>  

                    <!-- Genero y Stock  -->
                    <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                        
                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Género</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>    
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 

                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Stock</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>   
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 

                    </section>  

                    




                    <!-- A Cargo y Almacen -->
                    <section class="flex pt-6 items-center gap-6 p-5 justify-between border-b-1 border-gray-200 ">
                        
                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">A Cargo</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>    
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 

                        <div class="items-center xl:w-1/2 w-full flex gap-10 ">
                            <div class="w-1/12 flex text-plomo-370 font-grande justify-start">Almacén</div>
                            <div class="w-11/12 bg-plomo tipoanulacion z-0 flex justify-between items-center  bg-plomo  relative">
                                <select name="format" id="format" class="w-full h-10 bg-plomo-128 border-1.5 s border-plomo-335 placeholder-plomo-125 rounded-md">
                                    <option selected disabled>Elige una opción</option>
                                    <option value="">Zapatilla</option>
                                    <option value="">Ropa</option>
                                    <option value="">Accesorio</option>   
                                </select>
                                <div class="absolute right-5"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                            </div>
                        </div> 

                    </section>  





                    
                    <!-- Botones  -->
                    <section class="flex justify-between p-5 items-center">
                         <div class="text-red-500">Quitar todos filtros</div>
                         <div class="flex gap-4">
                             <div><button class="rounded-md  focus:outline-none px-5 py-2 text-base bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 ">Cancelar</button></div>
                             <div><button class="rounded-md  focus:outline-none px-8 py-2  bg-plomo-480 hover:border-plomo-230 hover:text-white hover:bg-plomo-230 text-plomo-270 border-plomo-300 border-2 text-base ">Aplicar</button></div>
                         </div>
                    </section>                              
                </div>
            </button>            
        </div>                             
    </div>
    <div class="main bg-white  ">
        <div class="slides">
            <!------------------------------------------------ LISTADO -------------------------------------------------->
            <section >   

                <div  class="verflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white"  >
                    <div class="h-full">
                        <table class="tablatraslado relative overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                            <!-- Cabezera de tabla -->
                            <thead class="z-10 border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium ">
                                <tr  class="text-sm w-full font-extralight ">
                                    <th class="w-2/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Almacen</div> </th>
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Género</div> </th>
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Talla</div>  </th>   
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Stock Inicial</div>  </th>                                                                            
                                    <th class="w-2/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-center px-5">Valor</div>  </th>
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Entradas</div>  </th>   
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Salidas</div>  </th>                                                                            
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Stock Actual</div>  </th>
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Total</div> </th> 
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5"></div> </th>                                      
                                </tr>
                            </thead>
                            <!-- Cuerpo de tabla -->
                            <tbody class=""> 
                                <tr  class=" text-sm  text-plomo-170 items-center  ">
                                    <td class="w-2/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5 w-full flex justify-start">
                                            <span class="flex gap-4 ">
                                                <div class="flex flex-col  ">
                                                    <div class="text-plomo-170 font-semibold text-sm flex justify-start">Zapatilla NIKE</div>
                                                    <div class="text-plomo-170 text-sm flex justify-start">Ultra TT 100635105</div>
                                                </div>
                                            </span>
                                        </div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start ">Hombre</div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">6</div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">
                                            <span class="bg-naranja-300 text-naranja-700 font-semibold px-4 py-1 rounded-2xl">39</span>
                                        </div>  
                                    </td>
                                    <td class="w-2/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-center">S/. 143.00</div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">1</div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">1</div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">
                                            <span class="bg-azul-70 text-azul-470 font-semibold px-4 py-1 rounded-2xl">52</span>   
                                        </div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">143.00</div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">
                                            <span class="text-azul-470 flex items-center gap-2">
                                                <div>Ver</div>     
                                                <div><img src="assets/img/almacen/ver.svg" alt=""></div>
                                            </span>
                                        </div>  
                                    </td>
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>  

            <!------------------------------------------------- MUESTRAS ----------------------------------------------->
            <section>
                <div  class="verflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white"  >
                    <div class="h-full">
                        <table class="tablatraslado relative overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                            <!-- Cabezera de tabla -->
                            <thead class="z-10 border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium ">
                                <tr  class="text-sm w-full font-extralight ">
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Almacen</div></th>
                                    <th class="w-2/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Producto</div></th>
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-center px-5">Género</div></th>   
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-center px-5">Talla</div></th>                                                                            
                                    <th class="w-3/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex lg:justify-start justify-center px-5">A cargo</div></th>
                                    <th class="w-3/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Fecha y Hora Asignación</div> </th>   
                                    <th class="w-1/12 pl-5"> <div class=" cursor-pointer whitespace-nowrap w-full flex justify-start px-5">Cantidad Asignada</div> </th>                                                                                                             
                                </tr>
                            </thead>
                            <!-- Cuerpo de tabla -->
                            <tbody class=""> 
                                <tr  class=" text-sm  text-plomo-170 items-center  ">
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start ">Tienda 1</div>  
                                    </td>
                                    <td class="w-2/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5 w-full flex justify-start">
                                            <span class="flex gap-4 ">
                                                <div class="flex flex-col  ">
                                                    <div class="text-plomo-170 font-semibold text-sm flex justify-start">Zapatilla NIKE</div>
                                                    <div class="text-plomo-170 text-sm flex justify-start">Ultra TT 100635105</div>
                                                </div>
                                            </span>
                                        </div>  
                                    </td>
                                    <td class="w-2/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-center">Hombre</div>  
                                    </td>
                                    <td class="w-2/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-center">6</div>  
                                    </td>
                                    <td class="w-3/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex lg:justify-start justify-center ">Gustavo Ribeiro Rodrigues</div>  
                                    </td>
                                    <td class="w-3/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">06/16/2020, 05:02 AM</div>  
                                    </td>
                                    <td class="w-1/12 pl-5  ">
                                        <div class="whitespace-nowrap px-5  w-full flex justify-start">1</div>  
                                    </td>
                                </tr>
                            
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </section> 
            <!------------------------------------------------- KARDEX -------------------------------------------------->
            <section class="">


                <div  class="animated fadeIn "  >
                    <fieldset  class="autocompletado-modal-flotante " >
                        <div id="tablatraslados">
                            <div>
                                <div class="p-8 border-b-1 border-plomo-210 text-plomo-170 font-semibold">
                                    <div class="flex items-center gap-5 text-plomo-170 font-medium ">
                                        <div class="text-plomo-130 font-semibold">Info. Producto</div>
                                        <div class="flex items-center">(Use el <span class="px-2"><img src="assets/img/almacen/lupa.svg" alt=""></span> Buscador para obtener el kardex de un producto)</div>
                                    </div>
                                    <div class="grid grid-cols-4 gap-10 pt-8">
                                        <div class="col-span-1">Articulos:</div>
                                        <div class="col-span-1">Marca:</div>
                                        <div class="col-span-1">Inv.Minímo:</div>
                                        <div class="col-span-1">Inv.MAxímo:</div>
                                        <div class="col-span-1">Modelo:</div>
                                        <div class="col-span-1">Género:</div>
                                        <div class="col-span-1">Ex.Actual:</div>
                                        <div class="col-span-1"></div>
                                    </div>
                                    
                                </div>
                                <div class="text-plomo-170">
                                    <div class="flex justify-between p-8 items-center">
                                        <div class="text-plomo-130 font-semibold w-4/6">Cuadro Kardex</div>
                                        <div class="flex w-2/6  items-center gap-10 font-medium">
                                            <div>          
                                                
                                                <div class="w-full md:mb-2 col-span-1">
                                                    <label class="labelclass" for=""> Fecha Inicio</label>
                                                    <div class="flex w-full px-2 border-1 border-gray-300 rounded ">
                                                        <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                                                            name="fechaemision"
                                                            placeholder="17/10/2020"
                                                            [matDatepicker]="fechainicio"
                                                            required
                                                            formControlName="fechainicio">
                                                        <mat-datepicker #fechainicio> </mat-datepicker>
                                                        <button type="button" (click)="fechainicio.open()"
                                                            class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                            <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                        </button> 
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div>
                                               
                                                <div class="w-full md:mb-2 col-span-1">
                                                    <label class="labelclass" for=""> Fecha Fin</label>
                                                    <div class="flex w-full px-2 border-1 border-gray-300 rounded ">
                                                        <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                                                            name="fechafin"
                                                            placeholder="17/10/2020"
                                                            [matDatepicker]="fechafin"
                                                            required
                                                            formControlName="fechafin">
                                                        <mat-datepicker #fechafin> </mat-datepicker>
                                                        <button type="button" (click)="fechafin.open()"
                                                            class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                            <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                                        </button> 
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        
                                        <div class="flex flex-col pt-7">
                                            <div class="flex justify-center"><img src="assets/img/almacen/realizebusqueda.svg" alt=""></div>
                                            <div class="flex justify-center">
                                                <div class="w-72 flex text-center px-9">Realice una busqueda para vizualizar datos</div> 
                                            </div>
                                        </div>
                                        
                                        <div>

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </fieldset>
                </div> 
            </section> 
        </div>
    </div>
    <div class="text-azul-700 pt-6 font-medium ">Mostrando: <strong>1</strong> cajas</div>
</main>