<section class="space-y-4 text-plomo-435  ">
    <div class="text-azul-350 text-lg  flex justify-between border-b-1 border-plomo-315 ">
        <div class=" flex justify-between w-full py-4 px-8 items-center ">
            <div>Nuevo Almácen</div>
            <button mat-dialog-close class="focus:outline-none">    
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
                    <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="space-y-5 px-9 pt-2 pb-4">
        <div>
            <div>Nombre</div>
            <input class="w-80 bg-plomo-135 text-plomo placeholder-plomo-335 rounded-md border border-plomo-130" placeholder="Ingresa un Nombre" type="text">
        </div>
        <div>
            <div>Dirección</div>
            <input class="w-80 bg-plomo-135 text-plomo placeholder-plomo-335 rounded-md border border-plomo-130" placeholder="Ingresa una Dirección" type="text">
        </div>
        <div>
            <div>Télefono</div>
            <input class="w-80 bg-plomo-135 text-plomo placeholder-plomo-335 rounded-md border border-plomo-130" placeholder="000 000 000" type="text">
        </div>
        <div class="flex gap-2 justify-end pt-28">
            <button class="hover:text-plomo-800 text-plomo-440 text-base border-2 border-plomo-230 hover:border-plomo-270 px-6 py-2 rounded-md focus:outline-none">
                <div>Cancelar</div>
            </button>
            <button class="text-white text-base border-2 border-azul-350 bg-azul-350 hover:bg-azul-400 hover:border-azul-400 px-6 py-2 rounded-md focus:outline-none ">
                <div>Guardar</div>
            </button>
        </div>
    </div>
</section>
