<main class="w-80 h-82 p-5">
    <button mat-dialog-close class="focus:outline-none flex justify-end w-full">    
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
            <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
        </svg>
    </button> 

    <!-- Cargando -->
    <!-- <div class="w-full pt-20  flex justify-center items-center">
        <div class="flex flex-col h-full">
            <div class="flex justify-center w-full">
                <img class="w-36 object-contain" src="assets/img/modals/cargando.gif" alt="">
            </div> 
            <div>
                <div class="flex justify-center text-plomo-550 font-medium text-base ">Solicitando cambio de permiso</div>
                <div class="flex justify-center text-plomo-327 text-sm">Por favor espere...</div>
            </div>
        </div>
    </div>  -->
    <!-- Permiso Concedido -->
    <div class="pt-5">
        <div class="flex justify-center w-full"><img src="assets/img/modals/concedido.svg" alt=""></div>
        <div class="flex justify-center w-full text-center text-base text-azul-300 font-grande pt-7">Permiso Concendido</div>
        <div class="flex justify-center w-full text-center text-sm text-plomo-295 pt-3">A continuación se dará inicio la seleción de items.</div>
    </div> 
    <div class="w-full pt-12 ">
        <button class="bg-azul-300 rounded-md focus:outline-none text-white w-full py-3">Continuar</button>
    </div>
    
   
</main>