<main class="p-10 w-99">
    <div class="flex justify-center"> <img class="object-contain w-40" src="assets/img/modals/atencion.svg" alt=""> </div>
    <div class="text-azul-300  text-base text-center px-16 pt-6">Se aplicará una Nota de Credito al documento Original, ¿Desea Continuar?</div>
    <div class="flex items-center gap-3 pt-7">
        <label for="novolverapreguntar" class="cursor-pointer flex gap-2 items-center pt-5" > 
            <input id="novolverapreguntar" type="checkbox" class="border-1  border-plomo-460 text-azul-300 rounded-sm"> 
            <div class="text-plomo-260">No Volver a preguntar</div>
        </label>
    </div>
    <div class="flex justify-end items-center gap-5 pt-8">
        <div><button mat-dialog-close class="focus:outline-none px-8 py-2 border-2  rounded-md border-plomo-485 bg-white text-plomo-260">Cancelar</button></div>
        <div><button (click)="onOk()" class="focus:outline-none px-8 py-2 border-2 rounded-md border-azul-300 bg-azul-300 hover:bg-azul-400 hover:border-azul-400  text-white " >Aceptar</button></div>
    </div>
</main>
