nav{
    position: relative;
    line-height: 40px;
    padding: 6px 15px;
    border-radius: 5px;
  }
  
  nav  label {
    
    font-size: 22px;
    display: flexbox;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button span{
    float: right;
    line-height: 35px;
  }
  
  nav ul{
    list-style: none;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
  }
  
  [id^=btn]:checked + ul {
    display: block ;
  }
  
  nav .menu:before{
    position:absolute;
    content: '';
    height: 20px;
    width: 20px;
   
    right: 20px;
    top: -10px;
    transform:  rotate(45deg);
    z-index: -1;
  }
  
  
  nav ul li{
    line-height: 40px;
    cursor:pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2) ;
  }
  
  nav ul li label{
    font-size:18px;
  }
  
  
  nav ul li a {
   
    text-decoration: none;
    font-size: 18px;
    display: flexbox;
    
  }
  
  nav ul li a:hover,
  nav ul li label:hover,
  nav ul li ul li a:hover {
    color:#1491ED
  }

  nav ul li a:focus,
  nav ul li label:focus,
  nav ul li ul li a:focus {
    color:#1491ED
  }
  
  
  nav ul ul{
    position:static;
  }
  
  
  nav ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom:none;
  }
  nav ul ul li a{
   
    font-size: 17px;
  }
  nav ul li span {
    font-size:20px;
    float: right;
    
    padding:0 10px;
  }

 


  
  input{
    display: none !important;
  }