<section class="h-full sidebar font-Poppins bg-white border-r-2 shadow-lg">
    <div class="flex justify-center pt-5"> <img class="object-contain  " src="assets/img/factuted.svg" alt=""> </div>
    
    <div class="space-y-7 pt-10 border-b-2 border-gray-200 ">

        <nav class="font-Poppins ">
            <label for="btn" class="button " > 
                Menu 
                <span class="fas fa-caret-down pt-0.5"></span>     
            </label>
            <input type="checkbox" id="btn">
            <ul class="menu">
                <li (click)="MostrarEstadistica()" class="text-plomo-170">
                    <a  [routerLink]="['venta']" routerLinkActive="router-link-active" class="flex flex-row gap-2 items-center" >
                        <svg  width="18" height="21" viewBox="0 0 18 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 5H14C14 2.2 11.8 0 9 0C6.2 0 4 2.2 4 5H2C0.9 5 0 5.9 0 7V19C0 20.1 0.9 21 2 21H16C17.1 21 18 20.1 18 19V7C18 5.9 17.1 5 16 5ZM9 2C10.7 2 12 3.3 12 5H6C6 3.3 7.3 2 9 2ZM16 19H2V7H16V19ZM9 11C7.3 11 6 9.7 6 8H4C4 10.8 6.2 13 9 13C11.8 13 14 10.8 14 8H12C12 9.7 10.7 11 9 11Z" />
                        </svg>
                        Venta
                    </a>
                </li>
                
                <li class="text-plomo-170">
                    <label (click)="OcultarEstadistica()"  for="btn-compras" class="first" class="flex justify-between flex-row gap-2 items-center ">
                        <div  class="flex h-full items-center gap-2">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.91628 7.21406V4.51406H6.23721V2.7H8.91628V0H10.7163V2.7H13.3953V4.51406H10.7163V7.21406H8.91628ZM5.35814 15.3141C5.86047 15.3141 6.28605 15.4898 6.63488 15.8414C6.98372 16.193 7.15814 16.6148 7.15814 17.107C7.15814 17.5992 6.98372 18.0211 6.63488 18.3727C6.28605 18.7242 5.86047 18.9 5.35814 18.9C4.85581 18.9 4.43721 18.7242 4.10233 18.3727C3.76744 18.0211 3.6 17.5992 3.6 17.107C3.6 16.6148 3.76744 16.193 4.10233 15.8414C4.43721 15.4898 4.85581 15.3141 5.35814 15.3141ZM14.2953 15.3141C14.7837 15.3141 15.2023 15.4898 15.5512 15.8414C15.9 16.193 16.0744 16.6148 16.0744 17.107C16.0744 17.5992 15.9 18.0211 15.5512 18.3727C15.2023 18.7242 14.7837 18.9 14.2953 18.9C13.807 18.9 13.3884 18.7242 13.0395 18.3727C12.6907 18.0211 12.5163 17.5992 12.5163 17.107C12.5163 16.6148 12.6907 16.193 13.0395 15.8414C13.3884 15.4898 13.807 15.3141 14.2953 15.3141ZM5.52558 12.4031C5.52558 12.5437 5.59535 12.6141 5.73488 12.6141H16.0744V14.4281H5.35814C4.85581 14.4281 4.43023 14.2523 4.0814 13.9008C3.73256 13.5492 3.55814 13.1203 3.55814 12.6141C3.55814 12.3047 3.64186 12.0234 3.8093 11.7703L4.9814 9.53438L1.8 2.7H0V0.928125H2.93023L3.76744 2.7L4.60465 4.51406L6.61395 8.775L6.73953 9.02812H12.9767L15.4465 4.51406L16.4512 2.7L18 3.58594L14.5674 9.87187C14.2326 10.4906 13.7023 10.8 12.9767 10.8H6.32093L5.52558 12.2766V12.4031Z" />
                            </svg>
                            Compras
                        </div>
                        <span class="opciones  fas fa-caret-down flex h-full items-start  "></span> 
                    </label>
                    <input type="checkbox" id="btn-compras">
                    <ul>
                        <li (click)="OcultarEstadistica()"> 
                            <a [routerLink]="['compras/provedores']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg> 
                                Proveedores
                            </a>
                        </li>
                        
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['compras/entradamer']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Entrada Mercaderia
                            </a>
                        </li>
                       
                    </ul>
                </li>


                <li class="text-plomo-170">
                    <label (click)="OcultarEstadistica()"  for="btn-1" class="first" class="flex justify-between flex-row gap-2 items-center ">
                        <div  class="flex h-full items-center gap-2">
                            <svg  width="20" height="19" viewBox="0 0 20 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0L0 10H2V19H18V10H20L10 0ZM10 3L16 9V17H4V9L10 3ZM14 11V13H6V11H14Z" />
                            </svg>
                            Almacen
                        </div>
                        <span class="opciones  fas fa-caret-down flex h-full items-start  "></span> 
                    </label>
                    <input type="checkbox" id="btn-1">
                    <ul>
                        <li (click)="OcultarEstadistica()"> 
                            <a [routerLink]="['almacen/almacenes']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg> 
                                Almacenes
                            </a>
                            
                        </li>
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['almacen/existencias']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Existencias
                            </a>
                        </li>
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['almacen/entradamercaderia']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Entrada Mercadería
                            </a>
                        </li>
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['almacen/transferencias']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Transferencias
                            </a>
                        </li>
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['almacen/inventario']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Inventario
                            </a>
                        </li>
                    </ul>
                </li>
                <li (click)="OcultarEstadistica()" class="text-plomo-170">
                    <a [routerLink]="['gestionpedido']" class="flex flex-row gap-2 items-center" >
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0781 16.9229H16.155V19.9998H13.0781V16.9229Z" />
                            <path d="M18.4609 16.9229H21.5379V19.9998H18.4609V16.9229Z" />
                            <path d="M13.0781 11.5391H16.155V14.616H13.0781V11.5391Z" />
                            <path d="M18.4609 11.5391H21.5379V14.616H18.4609V11.5391Z" />
                            <path d="M11.5385 16.9231H1.53846V6.15385H20V10H21.5385V6.15385C21.5381 5.74595 21.3758 5.35487 21.0874 5.06644C20.799 4.77801 20.4079 4.61579 20 4.61538H15.3846V1.53846C15.3842 1.13056 15.222 0.739484 14.9336 0.451055C14.6451 0.162625 14.2541 0.00040729 13.8462 0H7.69231C7.28441 0.00040729 6.89333 0.162625 6.6049 0.451055C6.31647 0.739484 6.15425 1.13056 6.15385 1.53846V4.61538H1.53846C1.13056 4.61579 0.739484 4.77801 0.451055 5.06644C0.162625 5.35487 0.00040729 5.74595 0 6.15385V16.9231C0.00040729 17.331 0.162625 17.7221 0.451055 18.0105C0.739484 18.2989 1.13056 18.4611 1.53846 18.4615H11.5385V16.9231ZM7.69231 1.53846H13.8462V4.61538H7.69231V1.53846Z" />
                        </svg> 
                        Gestión Pedidos
                    </a>
                </li>
                <li class="text-plomo-170">
                    <label (click)="OcultarEstadistica()"  for="btn-2" class="second" class="flex justify-between flex-row gap-2 items-center "  >
                        <div class="flex h-full items-center gap-2">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.75 8.75C10.25 8.625 9.75 8.375 9.375 8C9 7.875 8.875 7.5 8.875 7.25C8.875 7 9 6.625 9.25 6.5C9.625 6.25 10 6 10.375 6.125C11.125 6.125 11.75 6.5 12.125 7L13.25 5.5C12.875 5.125 12.5 4.875 12.125 4.625C11.75 4.375 11.25 4.25 10.75 4.25V2.5H9.25V4.25C8.625 4.375 8 4.75 7.5 5.25C7 5.875 6.625 6.625 6.75 7.375C6.75 8.125 7 8.875 7.5 9.375C8.125 10 9 10.375 9.75 10.75C10.125 10.875 10.625 11.125 11 11.375C11.25 11.625 11.375 12 11.375 12.375C11.375 12.75 11.25 13.125 11 13.5C10.625 13.875 10.125 14 9.75 14C9.25 14 8.625 13.875 8.25 13.5C7.875 13.25 7.5 12.875 7.25 12.5L6 13.875C6.375 14.375 6.75 14.75 7.25 15.125C7.875 15.5 8.625 15.875 9.375 15.875V17.5H10.75V15.625C11.5 15.5 12.125 15.125 12.625 14.625C13.25 14 13.625 13 13.625 12.125C13.625 11.375 13.375 10.5 12.75 10C12.125 9.375 11.5 9 10.75 8.75ZM10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM10 18.625C5.25 18.625 1.375 14.75 1.375 10C1.375 5.25 5.25 1.375 10 1.375C14.75 1.375 18.625 5.25 18.625 10C18.625 14.75 14.75 18.625 10 18.625Z" />
                            </svg>
                            Finanzas
                        </div>
                         
                        <span class="opciones fas fa-caret-down  "></span> 
                    </label>
                    <input type="checkbox" id="btn-2">
                    <ul>
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['finanzas/cajas']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Cajas
                            </a>
                        </li>
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['finanzas/cuentas']" class="flex flex-row gap-3 items-center">
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Cuentas
                            </a>
                        </li>                     
                    </ul>
                </li>
                <li class="text-plomo-170">
                    <label (click)="OcultarEstadistica()"  for="btn-3" class="second"  class="flex justify-between flex-row gap-2 items-center ">
                        <div class="flex h-full items-center gap-2" >
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.57227 2.57173C2.57227 1.88966 2.84321 1.23553 3.32551 0.753242C3.8078 0.270949 4.46193 0 5.14399 0C5.82606 0 6.48019 0.270949 6.96248 0.753242C7.44477 1.23553 7.71572 1.88966 7.71572 2.57173C7.71572 3.25379 7.44477 3.90792 6.96248 4.39021C6.48019 4.87251 5.82606 5.14345 5.14399 5.14345C4.46193 5.14345 3.8078 4.87251 3.32551 4.39021C2.84321 3.90792 2.57227 3.25379 2.57227 2.57173Z" fill="#818181"/>
                                <path d="M11.29 4.60736L11.344 4.64851C11.8896 5.05292 12.573 5.22511 13.2451 5.12751C13.9171 5.0299 14.5233 4.67042 14.9313 4.12752C15.3393 3.58462 15.516 2.90237 15.4229 2.22967C15.3297 1.55697 14.9742 0.948424 14.434 0.536846C13.8938 0.125267 13.2128 -0.055931 12.5395 0.0327943C11.8662 0.12152 11.2553 0.472965 10.8401 1.01043C10.425 1.5479 10.2393 2.22776 10.3236 2.90163C10.4079 3.57551 10.7553 4.18869 11.29 4.60736Z" fill="#818181"/>
                                <path d="M6.77127 6.43034C6.93278 6.12452 7.15431 5.85441 7.42262 5.63618C7.69093 5.41795 8.0005 5.25608 8.33281 5.16026C8.66512 5.06443 9.01335 5.03662 9.35666 5.07848C9.69996 5.12034 10.0313 5.23102 10.3308 5.4039C10.6304 5.57677 10.892 5.80829 11.1 6.0846C11.308 6.36091 11.4581 6.67634 11.5414 7.01202C11.6247 7.34769 11.6394 7.69672 11.5847 8.03821C11.53 8.37971 11.4069 8.70666 11.2229 8.9995C10.869 9.56287 10.3104 9.96713 9.66465 10.1273C9.01888 10.2876 8.33614 10.1913 7.75988 9.8587C7.18362 9.52612 6.75867 8.98315 6.57432 8.34385C6.38997 7.70455 6.46057 7.01869 6.77127 6.43034Z" fill="#818181"/>
                                <path d="M1.9288 6.42871H5.36205C5.22061 6.83119 5.14345 7.26452 5.14345 7.71457C5.14345 8.70212 5.51507 9.60479 6.12585 10.2863H5.78639C5.12344 10.2862 4.47667 10.491 3.93459 10.8726C3.39252 11.2543 2.98163 11.7941 2.75818 12.4183C2.32656 12.2449 1.92243 12.0097 1.55847 11.72C0.591497 10.9421 0 9.79253 0 8.35751C0 7.84596 0.203212 7.35536 0.564931 6.99364C0.92665 6.63192 1.41725 6.42871 1.9288 6.42871Z" fill="#818181"/>
                                <path d="M12.2125 10.2863C13.6077 10.2863 14.7958 11.1748 15.2394 12.4183C15.6766 12.2395 16.0817 12.0068 16.4404 11.72C17.4074 10.9421 17.9989 9.79253 17.9989 8.35751C17.9989 7.84596 17.7957 7.35536 17.434 6.99364C17.0723 6.63192 16.5817 6.42871 16.0701 6.42871H12.6368C12.7783 6.83119 12.8554 7.26452 12.8554 7.71457C12.8566 8.66369 12.5067 9.5797 11.873 10.2863H12.2125Z" fill="#818181"/>
                                <path d="M13.9981 12.7665C14.0919 12.9928 14.1434 13.2423 14.1434 13.502C14.1434 14.9371 13.5532 16.0866 12.5849 16.8646C11.6321 17.6297 10.3539 18.0026 8.99991 18.0026C7.64589 18.0026 6.36774 17.6297 5.41492 16.8646C4.44795 16.0866 3.85645 14.9371 3.85645 13.502C3.85577 13.2486 3.9052 12.9974 4.00189 12.7631C4.09858 12.5288 4.24063 12.3159 4.41987 12.1367C4.59911 11.9574 4.81201 11.8154 5.04633 11.7187C5.28065 11.622 5.53176 11.5726 5.78525 11.5732H12.2146C12.5966 11.5732 12.9701 11.6865 13.2876 11.899C13.6051 12.1114 13.8524 12.4134 13.9981 12.7665Z" fill="#818181"/>
                            </svg>
                            Nomina 
                        </div>
                        <span class="opciones fas fa-caret-down"></span> 
                    </label>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li (click)="OcultarEstadistica()">
                            <a [routerLink]="['nomina/personaloperativo']" class="flex flex-row gap-3 items-center" >
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3ZM2.09493 3C2.09493 3.49986 2.50014 3.90507 3 3.90507C3.49986 3.90507 3.90507 3.49986 3.90507 3C3.90507 2.50014 3.49986 2.09493 3 2.09493C2.50014 2.09493 2.09493 2.50014 2.09493 3Z" />
                                </svg>
                                Personal Operativo
                            </a>
                        </li>
                    </ul>
                </li>
               
                <li (click)="OcultarEstadistica()" class="text-plomo-170">
                    <a [routerLink]="['informes']" class="flex flex-row gap-2 items-center">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.2857 2.14286H12.1429V1.42857C12.1429 1.04969 11.9923 0.686328 11.7244 0.418419C11.4565 0.15051 11.0932 0 10.7143 0H5C4.62112 0 4.25776 0.15051 3.98985 0.418419C3.72194 0.686328 3.57143 1.04969 3.57143 1.42857V2.14286H1.42857C1.04969 2.14286 0.686328 2.29337 0.418419 2.56128C0.15051 2.82919 0 3.19255 0 3.57143V18.5714C0 18.9503 0.15051 19.3137 0.418419 19.5816C0.686328 19.8495 1.04969 20 1.42857 20H14.2857C14.6646 20 15.028 19.8495 15.2959 19.5816C15.5638 19.3137 15.7143 18.9503 15.7143 18.5714V3.57143C15.7143 3.19255 15.5638 2.82919 15.2959 2.56128C15.028 2.29337 14.6646 2.14286 14.2857 2.14286ZM5 1.42857H10.7143V4.28571H5V1.42857ZM14.2857 18.5714H1.42857V3.57143H3.57143V5.71429H12.1429V3.57143H14.2857V18.5714Z" />
                            <path d="M7.57129 13.2852H8.99986V16.1423H7.57129V13.2852Z" />
                            <path d="M11.1426 11.8574H12.5711V16.1431H11.1426V11.8574Z" />
                            <path d="M4 9H5.42857V16.1429H4V9Z" />
                        </svg>
                        Informes
                    </a>
                </li>
             
            </ul>
        </nav>
    </div>
 
    <div *ngIf="estadisticas" class="pt-4">
        <div class="flex flex-col">
            <div class="flex justify-center lg:px-0 px-3 ">
                <img class="object-cover w-36 " src="assets/img/home/porcentaje2.png" alt="">
            </div>
            <div class="lg:px-9 px-4 space-y-3 ">
                <div class=" pt-6 text-base ">
                    <span class="flex flex-wrap space-y-2 justify-between items-center"> 
                        <div class="flex items-center gap-3">
                            <svg width="14" height="14" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="#46D4A1"/>
                            </svg>
                            <label>Efectivo</label>
                        </div>   
                        <div>S/. 1,652.30</div>
                    </span>
                    
                </div>
                <div class=" pt-2 text-base">
                    <span class="flex flex-wrap space-y-2 justify-between items-center"> 
                        <div class="flex items-center gap-3">
                            <svg width="14" height="14" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="#1491ED"/>
                            </svg>
                                
                            <label>Credito</label>
                        </div>   
                        <div>S/. 203.02</div>
                    </span>
                </div>
            </div>
            <button class="flex px-3 lg:px-0 items-center justify-center pt-10 focus:outline-none">
                <img class="object-cover w-48" src="assets/img/home/cajaactiva.svg" alt="">
            </button>
            <button class=" items-center justify-center pt-10 focus:outline-none hidden">
                <img class="object-cover w-48" src="assets/img/home/cajacerrada.svg" alt="">
            </button>
        </div>
    </div>
 </section>