<section class="space-y-4 text-plomo-190 w-120 ">
    <div class="text-azul-350 text-lg     border-plomo-315  border-b-1 ">
        <div class=" p-5 w-full items-center flex justify-between ">
            <div>Nuevo Empleado</div>
            <button mat-dialog-close class="focus:outline-none">    
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
                    <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
                </svg>
            </button> 
        </div>
    </div>
    <div class="">
        <input  type="radio" name="person" id="infopersonal1" class="selectpersonal" checked>
        <input  type="radio" name="person" id="infopersonal2" class="selectpersonal">
        <div class="flex flex-col pers pt-3">
            <div class=" grid grid-cols-2 info w-full  flex-row px-10 justify-center gap-16 focus:text-azul-300 ">
                <label  for="infopersonal1" class="col-span-1 cursor-pointer gap-2 flex justify-center "> 
                    <span>
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.0781 11.6656C19.1594 11.225 19.1594 10.775 19.0781 10.3344L19.8844 9.86875C19.9781 9.81562 20.0187 9.70625 19.9875 9.60312C19.7781 8.92812 19.4188 8.31562 18.95 7.80937C18.8781 7.73125 18.7625 7.7125 18.6688 7.76562L17.8625 8.23125C17.5219 7.94062 17.1313 7.71563 16.7094 7.56563V6.63438C16.7094 6.52813 16.6344 6.43437 16.5312 6.4125C15.8344 6.25625 15.125 6.2625 14.4625 6.4125C14.3594 6.43437 14.2844 6.52813 14.2844 6.63438V7.56563C13.8625 7.71563 13.4719 7.94062 13.1313 8.23125L12.325 7.76562C12.2344 7.7125 12.1156 7.73125 12.0437 7.80937C11.575 8.31562 11.2156 8.92812 11.0063 9.60312C10.975 9.70625 11.0187 9.81562 11.1094 9.86875L11.9156 10.3344C11.8344 10.775 11.8344 11.225 11.9156 11.6656L11.1094 12.1313C11.0156 12.1844 10.975 12.2938 11.0063 12.3969C11.2156 13.0719 11.575 13.6813 12.0437 14.1906C12.1156 14.2688 12.2312 14.2875 12.325 14.2344L13.1313 13.7688C13.4719 14.0594 13.8625 14.2844 14.2844 14.4344V15.3656C14.2844 15.4719 14.3594 15.5656 14.4625 15.5875C15.1594 15.7437 15.8687 15.7375 16.5312 15.5875C16.6344 15.5656 16.7094 15.4719 16.7094 15.3656V14.4344C17.1313 14.2844 17.5219 14.0594 17.8625 13.7688L18.6688 14.2344C18.7594 14.2875 18.8781 14.2688 18.95 14.1906C19.4188 13.6844 19.7781 13.0719 19.9875 12.3969C20.0187 12.2938 19.975 12.1844 19.8844 12.1313L19.0781 11.6656ZM15.5 12.5156C14.6625 12.5156 13.9844 11.8344 13.9844 11C13.9844 10.1656 14.6656 9.48438 15.5 9.48438C16.3344 9.48438 17.0156 10.1656 17.0156 11C17.0156 11.8344 16.3375 12.5156 15.5 12.5156ZM7 8C9.20937 8 11 6.20937 11 4C11 1.79063 9.20937 0 7 0C4.79063 0 3 1.79063 3 4C3 6.20937 4.79063 8 7 8ZM13.2875 15.0781C13.2156 15.0406 13.1437 14.9969 13.075 14.9563L12.8281 15.1C12.6406 15.2063 12.4281 15.2656 12.2156 15.2656C11.875 15.2656 11.5469 15.1219 11.3125 14.8719C10.7406 14.2531 10.3031 13.5 10.0562 12.6969C9.88437 12.1437 10.1156 11.5594 10.6156 11.2688L10.8625 11.125C10.8594 11.0438 10.8594 10.9625 10.8625 10.8813L10.6156 10.7375C10.1156 10.45 9.88437 9.8625 10.0562 9.30937C10.0844 9.21875 10.125 9.12813 10.1562 9.0375C10.0375 9.02813 9.92188 9 9.8 9H9.27812C8.58437 9.31875 7.8125 9.5 7 9.5C6.1875 9.5 5.41875 9.31875 4.72188 9H4.2C1.88125 9 0 10.8812 0 13.2V14.5C0 15.3281 0.671875 16 1.5 16H12.5C12.8156 16 13.1094 15.9 13.35 15.7344C13.3125 15.6156 13.2875 15.4938 13.2875 15.3656V15.0781Z" />
                    </svg>
                    </span> Datos Personales 
                </label>
                <label  for="infopersonal2" class="col-span-1 cursor-pointer gap-2 flex justify-center "> 
                    <span>
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.1411 5.14258H14.7125V6.28544H10.1411V5.14258Z" />
                            <path d="M3.28369 9.71484H7.85512V10.8577H3.28369V9.71484Z" />
                            <path d="M5.56941 7.99916C5.11734 7.99916 4.67542 7.86511 4.29953 7.61395C3.92365 7.36279 3.63068 7.00582 3.45768 6.58816C3.28468 6.1705 3.23942 5.71091 3.32761 5.26753C3.41581 4.82414 3.6335 4.41687 3.95316 4.09721C4.27283 3.77754 4.6801 3.55985 5.12349 3.47165C5.56687 3.38346 6.02645 3.42872 6.44411 3.60173C6.86177 3.77473 7.21875 4.06769 7.46991 4.44358C7.72107 4.81946 7.85512 5.26138 7.85512 5.71345C7.85437 6.31943 7.61331 6.90037 7.18482 7.32886C6.75633 7.75735 6.17538 7.99841 5.56941 7.99916ZM5.56941 4.57059C5.34337 4.57059 5.12241 4.63762 4.93447 4.7632C4.74653 4.88878 4.60004 5.06727 4.51354 5.2761C4.42704 5.48493 4.40441 5.71472 4.44851 5.93641C4.49261 6.1581 4.60145 6.36174 4.76128 6.52157C4.92112 6.6814 5.12475 6.79025 5.34645 6.83435C5.56814 6.87845 5.79793 6.85581 6.00676 6.76931C6.21559 6.68281 6.39408 6.53633 6.51966 6.34839C6.64524 6.16045 6.71226 5.93949 6.71226 5.71345C6.71196 5.41044 6.59146 5.11992 6.37719 4.90566C6.16293 4.6914 5.87242 4.5709 5.56941 4.57059Z" />
                            <path d="M12.4268 12.5714C11.9748 12.5714 11.5328 12.4374 11.157 12.1862C10.7811 11.9351 10.4881 11.5781 10.3151 11.1604C10.1421 10.7428 10.0968 10.2832 10.185 9.83979C10.2732 9.39641 10.4909 8.98913 10.8106 8.66947C11.1302 8.34981 11.5375 8.13212 11.9809 8.04392C12.4243 7.95573 12.8839 8.00099 13.3015 8.17399C13.7192 8.34699 14.0762 8.63996 14.3273 9.01584C14.5785 9.39172 14.7125 9.83364 14.7125 10.2857C14.7118 10.8917 14.4707 11.4726 14.0422 11.9011C13.6137 12.3296 13.0328 12.5707 12.4268 12.5714ZM12.4268 9.14286C12.2008 9.14286 11.9798 9.20989 11.7919 9.33546C11.6039 9.46104 11.4575 9.63953 11.371 9.84836C11.2845 10.0572 11.2618 10.287 11.3059 10.5087C11.35 10.7304 11.4589 10.934 11.6187 11.0938C11.7785 11.2537 11.9822 11.3625 12.2039 11.4066C12.4256 11.4507 12.6554 11.4281 12.8642 11.3416C13.073 11.2551 13.2515 11.1086 13.3771 10.9207C13.5027 10.7327 13.5697 10.5118 13.5697 10.2857C13.5694 9.9827 13.4489 9.69219 13.2346 9.47793C13.0204 9.26367 12.7298 9.14316 12.4268 9.14286Z" />
                            <path d="M15.8552 16H2.1409C1.83789 15.9997 1.54738 15.8792 1.33312 15.6649C1.11885 15.4507 0.998349 15.1602 0.998047 14.8571V1.14286C0.998349 0.839845 1.11885 0.549331 1.33312 0.335069C1.54738 0.120808 1.83789 0.000302558 2.1409 0H15.8552C16.1582 0.000302558 16.4487 0.120808 16.663 0.335069C16.8772 0.549331 16.9977 0.839845 16.998 1.14286V14.8571C16.9977 15.1602 16.8772 15.4507 16.663 15.6649C16.4487 15.8792 16.1582 15.9997 15.8552 16ZM2.1409 1.14286V14.8571H15.8552V1.14286H2.1409Z" />
                        </svg>
                    </span> Información General 
                </label>
            </div>
            <div class="informac  w-full">
                <div class="  personal">
                    <section class=" pb-7 px-7 pt-4 text-plomo-280">
                        <div class=" grid grid-cols-8">
                            <div class="grid grid-cols-8 col-span-8  space-y-2">
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3 " >
                                    <div class="col-span-4 grid grid-cols-4 gap-3">
                                        <div class="col-span-2 justify-start flex flex-col items-center -space-y-2">
                                            <div class="flex w-full justify-start">Tipo doc</div>
                                            <div class="  w-full h-full bg-plomo border-plomo-135  ">
                                                <select name="tipdocum" id="document" class="w-full h-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" >
                                                    <option selected disabled>Elige una opción</option>
                                                    <option value="">DNI</option>
                                                    <option value="">Ruc</option>
                                                    <option value="">Pasaporte</option>
                                                    <option value="">Parte de nacimiento</option>  
                                                    <option value="">Cartnet de extrangeria</option>                                       
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-span-2 justify-start flex flex-col items-center -space-y-2">
                                            <div class="w-full flex justify-start">Número</div>
                                            <div class="w-full bg-plomo-140 border border-plomo-135 rounded-md"><input class="w-full bg-plomo-140 border-1.5 border-plomo-335  rounded-md " type="number"></div>
                                        </div>
                                    </div>
                                    <div class="col-span-4 flex flex-col -space-y-2" >
                                        <div class="w-full flex justify-start">Dirección</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingresa una dirección" type="text"></div>
                                    </div> 
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Apellidos</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingresa tu apellidos" type="text"></div>
                                    </div>
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Correo</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese un correo electrónica" type="text"></div>
                                    </div>
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Nombre</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingresa tu nombre" type="text"></div>
                                    </div>
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Teléfono</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese su teléfono" type="text"></div>
                                    </div>
                                </div>
                                <div class="col-span-4 w-full flex flex-col items-center justify-between -space-y-2 " >
                                    <div class="w-full">Género</div>
                                    <div class=" flex flex-row w-full justify-between pr-9 ">
                                        <label for="radio1"><span class="flex gap-2 items-center"><input type="radio" name="lis" id="radio1">Femenino</span></label>
                                        <label for="radio2"><span class="flex gap-2 items-center "><input type="radio" name="lis" id="radio2">Masculino</span></label>
                                    </div>
                                </div>   
                            </div>
                            
                        </div>   
                        <div class="flex gap-7 justify-end pt-10">
                            <button mat-dialog-close class="text-plomo-335 font-grande text-base border-2 bg-white border-plomo-335 hover:border-plomo-330 hover:text-plomo-330 px-6 py-2 rounded-md focus:outline-none">
                                <div>Cancelar</div>
                            </button>
                            <button class="text-plomo-230 text-base border-2 border-plomo-310 font-grande bg-plomo-310 hover:bg-plomo-330 hover:border-plomo-330 hover:text-white px-6 py-2 rounded-md focus:outline-none ">
                                <div>Guardar</div>
                            </button>
                        </div>
                    </section>
                    <section class=" pb-7 px-7 pt-4 text-plomo-280">
                        <div class=" grid grid-cols-8">
                            <div class="grid grid-cols-8 col-span-8  space-y-2">
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full  flex justify-start">Departamento</div>
                                        <select name="tipdocum" id="document" class=" w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" >
                                            <option selected disabled>Elige una opción</option>
                                            <option value="">La Libertad</option>
                                            <option value="">Puno</option>
                                            <option value="">Arequipo</option>                                      
                                        </select>
                                    </div>
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Sueldo Base</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese su sueldo" type="text"></div>
                                    </div>
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Cargo</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese su cargo" type="text"></div>
                                    </div>
                                   
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Tipo de Jornada</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese el tipo jornada" type="text"></div>
                                    </div>                        
                                </div>
                                <div class="col-span-8 space-x-4 grid grid-cols-8 gap-3">
                                    <div class="col-span-4  justify-start flex flex-col items-center -space-y-2" >
                                        <div class="w-full flex justify-start">Periodo de Pago</div>
                                        <div class="w-full bg-plomo-140  border border-plomo-135 rounded-sm"><input class="w-full bg-plomo-128 border-1.5 border-plomo-335 placeholder-plomo-125 rounded-md" placeholder="Ingrese su periodo de pago" type="text"></div>
                                    </div>                        
                                </div>                                 
                            </div>                     
                        </div>   
                        <div class="flex gap-7 justify-end pt-10">
                            <button mat-dialog-close class="text-plomo-335 font-grande text-base border-2 bg-white border-plomo-335 hover:border-plomo-330 hover:text-plomo-330 px-6 py-2 rounded-md focus:outline-none">
                                <div>Cancelar</div>
                            </button>
                            <button class="text-plomo-230 text-base border-2 border-plomo-310 font-grande bg-plomo-310 hover:bg-plomo-330 hover:border-plomo-330 hover:text-white px-6 py-2 rounded-md focus:outline-none ">
                                <div>Guardar</div>
                            </button>
                        </div> 
                    </section>
                </div>
            </div>
        </div>  
    </div>
    
   
</section>
