<main class="w-100 space-y-4 p-5">
    <div class="flex justify-center">
        <img src="assets/img/compras/modals/seguroeliminar.svg" alt="">
    </div>
    
    <div class="">
        <div class="text-plomo-490 font-grande text-base flex justify-center">¿Seguro que desea el proveedor?</div>
        <div class="text-plomo-170 flex justify-center">Se eliminaran todos los datos de este proveedor.</div>
    </div>
    
    <div class="flex justify-center gap-3">
        <button mat-dialog-close class="rounded-md border-plomo-250 text-plomo-250 hover:text-plomo-137 hover:border-plomo-137 border-2 px-4 py-2 focus:outline-none ">No, regresar</button>
        <button class="rounded-md border-azul-300 bg-azul-300 text-white hover:border-azul-400 hover:bg-azul-400 border-2 px-10 py-2 focus:outline-none ">Aceptar</button>
    </div>
</main>