<main class="p-10 w-83 h-82 py-10 flex  flex-col justify-center items-center pt-5">
    <!-- Cargando -->
    <div>
        <div class="flex justify-center w-full">
            <img class="w-36 object-contain" src="assets/img/modals/cargando.gif" alt="">
        </div> 
        <div>
            <div class="flex justify-center text-plomo-550 font-medium text-base ">Solicitando cambio de permiso</div>
            <div class="flex justify-center text-plomo-327 text-sm">Por favor espere...</div>
        </div>
    </div> 
    
    <!-- Solicitud Denegada -->
    <!-- <div>
        <div class="flex justify-center w-full"> <img src="assets/img/modals/denegado.svg" alt=""> </div>
        <div class="flex flex-col justify-center pt-7 ">
            
            <div class="flex justify-center text-naranja-600 font-grande text-base">Un administrador denego tu solicitud</div>
            <div class="flex justify-center px-2 text-center text-plomo-327 pt-2" >Utiliza los precios minimos como ayuda en tu negociación</div>
        </div>
    </div>  -->

    <!-- Solicitud Aceptada -->
    <!-- <div>
        <div class="flex justify-center w-full"> <img src="assets/img/modals/concedido.svg" alt=""> </div>
        <div class="flex flex-col justify-center pt-7">
            <div class="flex justify-center text-azul-300 font-grande text-base">Administrador Conectado</div>
            <div class="flex justify-center px-2 text-center font-medium text-plomo-327 pt-2" >Espere unos segundo mientras edita los precios</div>
        </div>
    </div> -->
    
   
</main>
