<section class="space-y-4 text-plomo-190 w-99 ">
    <div class="text-azul-350 text-lg     border-plomo-315  border-b-1 ">
        <div class=" p-5 w-full items-center flex justify-between ">
            <div>Nuevo Inventario</div>
            <button mat-dialog-close class="focus:outline-none">    
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2272 18L24.5387 13.6885C25.1538 13.0734 25.1538 12.0763 24.5387 11.4613C23.9237 10.8462 22.9266 10.8462 22.3115 11.4613L18 15.7728L13.6885 11.4613C13.0734 10.8462 12.0763 10.8462 11.4613 11.4613C10.8462 12.0763 10.8462 13.0734 11.4613 13.6885L15.7728 18L11.4613 22.3115C10.8462 22.9266 10.8462 23.9237 11.4613 24.5387C11.7688 24.8462 12.1718 25 12.5749 25C12.9779 25 13.381 24.8462 13.6884 24.5387L18 20.2272L22.3115 24.5387C22.619 24.8462 23.0221 25 23.4251 25C23.8281 25 24.2312 24.8462 24.5387 24.5387C25.1537 23.9237 25.1537 22.9266 24.5387 22.3115L20.2272 18Z" fill="#434343"/>
                    <circle cx="18" cy="18" r="17.5" stroke="#F2F2F2"/>
                </svg>
            </button> 
        </div>
    </div>
    <div class="px-5 pt-2">
        <div class="flex justify-center">
            <p class="">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae maxime assumenda, provident nobis asperiores ullam aliquid laborum possimus dicta animi explicabo odio qui a ad temporibus. Mollitia, in expedita. Cum!
            </p>
        </div>
        <!-- Numero de inventario -->
        <div class="grid grid-cols-3 py-2">
            <div class="col-span-1">
                <div class="text-plomo-490 font-grande">Nuevo Inventario</div>
                <div class="flex gap-3 items-center pt-2" >
                    <div>
                        <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 0V4.5C9 4.89782 9.15804 5.27936 9.43934 5.56066C9.72064 5.84196 10.1022 6 10.5 6H15V14.5C15 14.8978 14.842 15.2794 14.5607 15.5607C14.2794 15.842 13.8978 16 13.5 16H11V11.5C11 11.1717 10.9353 10.8466 10.8097 10.5433C10.6841 10.24 10.4999 9.96438 10.2678 9.73223C10.0356 9.50009 9.76002 9.31594 9.45671 9.1903C9.15339 9.06466 8.8283 9 8.5 9H8V8C8 7.73478 7.89464 7.48043 7.70711 7.29289C7.51957 7.10536 7.26522 7 7 7H3V1.5C3 1.10218 3.15804 0.720644 3.43934 0.43934C3.72064 0.158035 4.10218 0 4.5 0H9Z" fill="#1491ED"/>
                            <path d="M10 0.25V4.5C10 4.63261 10.0527 4.75979 10.1464 4.85355C10.2402 4.94732 10.3674 5 10.5 5H14.75L10 0.25Z" fill="#1491ED"/>
                            <path d="M3 8.5C3 8.36739 3.05268 8.24021 3.14645 8.14645C3.24021 8.05268 3.36739 8 3.5 8H6.5C6.63261 8 6.75979 8.05268 6.85355 8.14645C6.94732 8.24021 7 8.36739 7 8.5V10H8C8.53043 10 9.03914 10.2107 9.41421 10.5858C9.78929 10.9609 10 11.4696 10 12V15C10 15.5304 9.78929 16.0391 9.41421 16.4142C9.03914 16.7893 8.53043 17 8 17H2C1.46957 17 0.960859 16.7893 0.585786 16.4142C0.210714 16.0391 0 15.5304 0 15V12C0 11.4696 0.210714 10.9609 0.585786 10.5858C0.960859 10.2107 1.46957 10 2 10H3V8.5ZM6 9H4V10H6V9ZM2 11C1.73478 11 1.48043 11.1054 1.29289 11.2929C1.10536 11.4804 1 11.7348 1 12V15C1 15.2652 1.10536 15.5196 1.29289 15.7071C1.48043 15.8946 1.73478 16 2 16H8C8.26522 16 8.51957 15.8946 8.70711 15.7071C8.89464 15.5196 9 15.2652 9 15V12C9 11.7348 8.89464 11.4804 8.70711 11.2929C8.51957 11.1054 8.26522 11 8 11H2Z" fill="#1491ED"/>
                        </svg>        
                    </div>
                    <div class="">INV-0006</div>
                </div>
            </div>
        </div>
        <!-- Fecha - Hora - Manual -->
        <div class="w-full flex py-3 gap-4 items-center border-b-2 border-plomo-180 pb-4">
            <div class="w-3/7  flex flex-col justify-center ">
                <div class="flex w-full justify-start text-plomo-490 font-grande">Fecha</div>
                <div class="">          
                    <!-- fecha inicio -->
                    <div class="w-full md:mb-2 col-span-1 border-r-2 border-plomo-180 pr-4">
                        <div class="flex w-full px-2 border-2 border-plomo-180 rounded ">
                            <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                                name="fechaemision"
                                placeholder="17/10/2020"
                                [matDatepicker]="fechainicio"
                                required
                                formControlName="fechainicio">
                            <mat-datepicker #fechainicio> </mat-datepicker>
                            <button type="button" (click)="fechainicio.open()"
                                class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                            </button> 
                        </div>
                        <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                    </div>
                </div>                    
            </div>
            <div class="w-3/7  flex flex-col justify-center">
                <div class="flex w-full justify-start text-plomo-490 font-grande">Hora</div>
                <div>          
                    <!-- fecha inicio -->
                    <div class="w-full flex flex-row items-center md:mb-2 -space-x-3 col-span-1 border-r-2 border-plomo-180 pr-4 gap-4">
                        <div class="flex w-full px-2 border-2 rounded ">
                            <input name="fechanac"   type="time" class="w-full px-1 py-2 text-sm border-0  focus:outline-none"> 
                        </div>
                       
                        <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                    </div>
                </div>
            </div>
            <div class="w-1/7  flex flex-col justify-center h-full">
                <div class="flex w-full h-full justify-center text-plomo-490 font-grande items-start ">Manual</div>
                <div class="flex w-full h-full justify-center items-center pt-2 pb-4 border-plomo-180"><input class="rounded-sm" type="checkbox"> </div>
            </div>
        </div>
        <div class="space-y-5 pt-4">
            <div>Designar Personal Participante</div>
            <div class="border-2 border-plomo-180 rounded-lg ">
                <div class="w-full flex justify-center text-plomo-170 font-medium ">
                    <div class="flex justify-start w-full -space-x-1 p-2 ">
                        <div><img class="object-contain w-10" src="assets/img/almacen/persona1.png" alt=""></div>
                        <div><img class="object-contain w-10" src="assets/img/almacen/persona2.png" alt=""></div>
                        <div><img class="object-contain w-10" src="assets/img/almacen/persona3.png" alt=""></div>
                        <div><img class="object-contain w-10" src="assets/img/almacen/persona4.png" alt=""></div>
                        <div><img class="object-contain w-10" src="assets/img/almacen/persona5.png" alt=""></div>
                        <!-- Boton agregar -->
                        <button class="focus:outline-none" ><img class="object-contain w-10" src="assets/img/almacen/inventario/mas.svg" alt=""></button>
                    </div>
                </div> 
            </div>
        </div>
        <div class="flex gap-7 justify-end py-9">
            <button class="text-black text-base border-2 border-plomo-230 hover:border-plomo-270 px-6 py-2 rounded-md focus:outline-none">
                <div>Cancelar</div>
            </button>
            <button class="text-white text-base border-2 border-azul-350 bg-azul-350 hover:bg-azul-400 hover:border-azul-400 px-6 py-2 rounded-md focus:outline-none ">
                <div>Guardar</div>
            </button>
        </div>
    </div>
   
</section>
