/* Color de los check  */
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element .colorrow {
    opacity: 0.03 !important;
    background-color: #1491ED!important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background .colorrow {
    background-color: #1491ED;
  }
