@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body {margin:0; padding:0; height:100%; font-family: Roboto, "Helvetica Neue", sans-serif;}

/*---------------------------------------------------- Personalizacion de mi input de tipo Radio--------------------------------------------------- */
input[type="radio"] + label span {
  transition: background .2s,
  transform .2s;
  box-shadow: 0px 0px 0px 1.8px rgb(158, 157, 157) inset;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
background-color: #3490dc; 
box-shadow: 0px 0px 0px 2px rgb(255, 234, 234) inset;
}

input[type="radio"]:checked + label{
 color: #3490DC; 
}

/* select canjear por */
.canjearpor{
  z-index: 0;
}
/* select tipo anulacion */
.tipoanulacion{
  z-index: 0;
}
/* vederor modal flotante */
.vendedor{
  z-index: 500;
}

/* Posicion centrado del icono del boton:calendario de inicio a fin */
.mat-datepicker-toggle-default-icon {
  display: flex;
  width: 100%;
  justify-content: center;
  vertical-align: middle !important;
}

/* Quitar el border del boton:calendario de inicio a fin */
.mat-focus-indicator:focus{
  border: none;
  outline:none;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 0 !important;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}



/*---------------------------------------------------- Input personalizados en el modal vender --------------------------------------------  */
.form{
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.form input{
  width: 100%;
  height: 100%;
  background: none;
  padding-top: 20px;
  border: none;
  outline: 0px;
}

.form .lbl-nombre{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}

/* ----------------------------BIEN Y ERROR --------*/
 .form .lbl-nombre:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #1491ED;
  transform: translateX(-100%);
  transition: all 0.3s ease;
} 

 /* error */
 /* .form .lbl-nombre:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid red;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }  */

  /*-------------------------- HATA AQUI------------ */



  /* ----------------------------BIEN Y ERROR --------*/
  .form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
    font-size: 14px;
    color: #1491ED;
  } 
  /* error */
  /* .form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
    font-size: 14px;
    color: red;
  } */

  /*-------------------------- HATA AQUI------------ */


  .text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #9F9F9F;
  }

  
.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
  transform: translateX(0%);
}
@media only screen and (min-width:320px) and (max-width:768px){
 .form{
  width:85%;
}
} 


/* hasta aqui */
.scroollpersonalizadotabla{
	background: #fff;
	overflow: auto;
	border-radius: 4px;
}

.scroollpersonalizadotabla::-webkit-scrollbar {
	width: 3px;
}

.scroollpersonalizadotabla::-webkit-scrollbar-thumb {
	background: #E1E1E1;
	border-radius: 7px;
}  

.alrutalogin{
  margin-top: 14px;
}

@media (min-width: 769px) {

  

  .select-box {
    width: 70%;
 }

 .scroollpersonalizadotabla{
	background: #fff;
	overflow: auto;
	border-radius: 4px;
}


.scroollpersonalizadotabla::-webkit-scrollbar {
	width: 8px;
}

.scroollpersonalizadotabla::-webkit-scrollbar-thumb {
	background: #E1E1E1;
	border-radius: 7px;
}  

}
@media (min-width: 992px) {
  .select-box {
    width: 50%;
 }
}
@media (min-width: 1200px) {
  .select-box {
    width: 30%;
 }
}

/* Scroll Personalizado */

.contenedor {
	padding-right: 20px;
	background: #fff;
	overflow: auto;
	border-radius: 4px;
}

.contenedor::-webkit-scrollbar {
	width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
	background: #E1E1E1;
	border-radius: 10px;
}  

/* movimiento de la derecha a la izquierda */
.animaciondederechaizquierda {
  animation-duration: 1s;
  animation-name: abre;
  position: absolute;
}

@keyframes abre {

  from {
      margin-left: 100%;
      width: 100%;   
  }
  to {
      margin-left: 0%;
      width: 100%;
  } 
}

.animaciondeizquierdaderecha{
  animation-duration: 1s;
  animation-name: cierra;
  position: absolute;
}

@keyframes cierra {

  from {
      margin-left: 0%;
      width: 100%;
  }
  to {
      margin-left: 100%;
      width: 100%;
  } 
} 

/* Quitar Margen a los Modales de Angular Material */
.mat-dialog-container {
  display: block;
  padding: 0% !important;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.adorno{
    background-image: url(assets/img/adorno.svg);
    object-fit: contain;
}

/*------------------------------------------------------- imputs y texttarea de color de la empresa */
textarea:focus,
input:focus,
input[type]:focus {
  border-color: #1491ED;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
  0 0 8px rgba(20, 145, 237, 0.6);
  outline: 0 none;
}

textarea[type]:focus {
  border-color: #1491ED;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
  0 0 8px rgba(20, 145, 237, 0.6);
  outline: 0 none;
}

/* Eliminar el spiket de los tipos number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Color Personalizado del los input de type Radio */
/* [type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: rgba(20, 145, 237, 0.87) ;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
} */

/*-------------------------------------------------------------------------------- PAGINA VENTA------------------------------------------------------------------------------ */
/*------------------------------------------------------------------- TABS ----------------------------------------------------------------------- */

/*------------------------------------------------------------- TAB LISTADO--------------------------------------------- */
/*----------------------------------------- TABLA -------------------------------------------- */
.example-container {
  display: flex;
  flex-direction: column;
  height: full;
  min-width: 300px;
}

/* Tamaño de la tabla de venta en el height */
.main{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mat-column-select {
  overflow: visible;
}

/* Posicionar el encabezado de la tabla de manera fija */
.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

/*--------------------------------------------------------------- Dropdown del boton de Comprobantes ---------------------------------*/
/* Estilo de flecha para el navegador Dropdown */
.adornofiltroventa:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  left: 55%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornocomprobante:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  left: 7%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornofiltroexistencialistado:before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornofiltroexistenciamuestra::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornofiltrofiltrar::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornofiltrotiempo::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornofiltromercaderia::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 17%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornofiltrotransferencia::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}


.adornofiltroseguimiento::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}

.adornotiempoentrega::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 40%;
  top: 0;
  transform: translate(-50%, -100%);
} 


.adornofiltroinventario::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}


.adornofiltrocajas::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}

.inventario::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-50%, -100%);
}


/* Combo box personalizable */
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}

select:focus {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  color: #616161;
  box-shadow:none;
  border:0!important;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  cursor:pointer;
  border-radius: .25em;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
   display: none;
}

.selectdiferente{
  position: relative;
  display: flex;
  width: 12rem;
  height: 3em;
  line-height: 3;
  overflow: hidden;
}

.selectdiferente::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}


.selectdiferente:hover::after {
  color: #555756;
} 


.select {
   position: relative;
   display: flex;
   width: 16.9rem;
   height: 3em;
   line-height: 3;
   overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}

.select:hover::after {
  color: #555756;
} 







.personal {
  position: relative;
  display: flex;
  width: 10em;
  height: 3em;
  overflow: hidden;
} 



/*--------------------------------------------------- TABS DE LOS PEDIDOS DE PRODUCTOS DE LA SECCION  ---------------------- */
:root{
    --color:#616161;
}


.selector{
  display: none;
} 


main{
    height: 100%;
    overflow: hidden;
}

/* Necesaruos para el TAB de los pedidos de productos Correctamente */
.main .slides {
  display: flex;
  height: 100%; 
  width: 500%;
}

.main .slides section {
    width:20%;
    align-items: center;
    justify-content: space-around;
    transition: width 2s, height 4s; 
}


#r1:checked ~ .main .slides > section:nth-child(1){
    margin-left: 0% ;   
}
#r2:checked ~ .main .slides > section:nth-child(1){
    margin-left: -20% ;
}
#r3:checked ~ .main .slides > section:nth-child(1){
    margin-left: -40% ; 
}
#r4:checked ~ .main .slides > section:nth-child(1){
    margin-left: -60% ;
}


#r1:checked ~ .controls > div > label:nth-child(1),
#r2:checked ~ .controls > div > label:nth-child(2),
#r3:checked ~ .controls > div > label:nth-child(3),
#r4:checked ~ .controls > div > label:nth-child(4){
    color:var(--color);
    font-weight: bold;
    border-bottom: 3px solid #616161;
}

/*------------------------------------------ Datos Personales e Informacion General --------------------------------------------------- */

.selectpersonal{
  display: none;
}

/* Tab */
.informac{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Necesaruos para el TAB de los pedidos de productos Correctamente */
.informac .personal {
  display: flex;
  height: 100% ;
  width: 500%;
}

.informac .personal section {
  width:20%;
  align-items: center;
  justify-content: space-around;
  transition: width 2s, height 4s;
}

#infopersonal1:checked ~ .pers .informac .personal > section:nth-child(1){
  margin-left: 0%;
}

#infopersonal2:checked ~ .pers .informac .personal > section:nth-child(1){
  margin-left: -20%;
}

#infopersonal1:checked ~ .pers .info > label:nth-child(1),
#infopersonal2:checked ~ .pers .info > label:nth-child(2){
    color:var(--color);
    font-weight:500;
    border-bottom: 3px solid #1491ED; 
    color: #1491ED;
}

/*------------------------------------------------------ TABS DE LOS VENDEDORES DE LA SECCION DE CONTROL DE PEDIDO -------------------------------------------*/

.selectvendedor {
  display: none;
}

.listado{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Necesaruos para el TAB de los vendedores */
.listado .pedido {
  display: flex;
  height: 100% ;
  width: 500%;
}

.listado .pedido section {
  width:20%;
  align-items: center;
  justify-content: space-around;
  transition: width 2s, height 4s;
}


#vende1:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: 0% ;
}
#vende2:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: -20% ;
  
}
#vende3:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: -40% ;
  
}
#vende4:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: -60% ;
}

#vende1:checked ~ .inic .autores .vendedores >  div > label:nth-child(1),
#vende2:checked ~ .inic .autores .vendedores >  div > label:nth-child(2),
#vende3:checked ~ .inic .autores .vendedores >  div > label:nth-child(3),
#vende4:checked ~ .inic .autores .vendedores >  div > label:nth-child(4){
    color:var(--color);
    font-weight: bold;
    border-bottom: 1px solid rgb(233, 233, 233);
    border-top:   2px solid rgb(233, 233, 233) ;
    box-shadow: 0 2px 2px 0 rgb(233, 233, 233);
    border-left: 4px solid #1491ED;
    background: rgba(146, 223, 248, 0.089);
}

/*------------------------------------------------------ GESTION DE PEDIDO - TAB (LISTADO DE PEDIDO) -------------------------------------------*/
.listadotienda{
  display: none;
}

.pedi {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pedi .tiend {
  display: flex;
  height: 100% ;
  width: 700%;
}

.pedi .tiend section {
  width:15%;
  align-items: center;
  justify-content: space-around;
  transition: width 2s, height 4s;
}

#tienda1:checked ~ .gestion .pedi .tiend > section:nth-child(1){
  margin-left: 0%;
}
#tienda2:checked ~ .gestion .pedi .tiend > section:nth-child(1){
  margin-left: -15%;
}

#tienda3:checked ~ .gestion .pedi .tiend > section:nth-child(1){
  margin-left: -30%;
}

#tienda4:checked ~ .gestion .pedi .tiend > section:nth-child(1){
  margin-left: -45%;
}

#tienda5:checked ~ .gestion .pedi .tiend > section:nth-child(1){
  margin-left: -60%;
}

#tienda6:checked ~ .gestion .pedi .tiend > section:nth-child(1){
  margin-left: -75%;
}

#tienda7:checked ~ .gestion .pedi .tiend > section:nth-child(1){
  margin-left: -90%;
}


#tienda1:checked ~ .gestion .lis .contene .tiendas > label:nth-child(1),
#tienda2:checked ~ .gestion .lis .contene .tiendas > label:nth-child(2),
#tienda3:checked ~ .gestion .lis .contene .tiendas > label:nth-child(3),
#tienda4:checked ~ .gestion .lis .contene .tiendas > label:nth-child(4),
#tienda5:checked ~ .gestion .lis .contene .tiendas > label:nth-child(5),
#tienda6:checked ~ .gestion .lis .contene .tiendas > label:nth-child(6),
#tienda7:checked ~ .gestion .lis .contene .tiendas > label:nth-child(7){
    color:var(--color);
    font-weight: bold;
    border-bottom: 1px solid rgb(233, 233, 233);
    border-top:   2px solid rgb(233, 233, 233) ;
    box-shadow: 0 2px 2px 0 rgb(233, 233, 233);
    border: 2px solid #1491ED;
    border-left: 5px solid #1491ED;
    color: #1491ED;
    background: rgba(146, 223, 248, 0.089);
}

/* Calse para esconde elemento */
.showingData {
  display: none;
}

/* Boton deplegable */
.desplegable{
  padding: 0.34rem;
}

/* boton ocultar */
.ocultar{
  padding: 0.34rem;
}

/* boton delete */
.delete{
  padding: 0.34rem;
}

/* filas de los pedidos de los productos */
tr > td   {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e2e2;
}

tr > th   {
  padding-top: 1rem;
  padding-bottom: 1rem;
} 

.tablacontrolpedido tr > th{
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}


.tablaretorno tr > th{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  
}

.tablatraslado tr > th {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

/* Posicionamiento fijo del header de la tabla */
thead tr th { 
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
}

/* Transición suves */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast{
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {

  from{
    opacity:0;
  }
  to {
    opacity: 1;
  }
} 


.fadeIn {
  animation-name:fadeIn;
}

/* selector personalzable */
.select-box {
  position: relative;
  display: block;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}

.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}
@keyframes HideList {
  from {
    transform: scaleY(1);
 }
  to {
    transform: scaleY(0);
 }
}

/* animacion de modal de derecha a izquierda */
.overlay{    
  height: 100%;
  width: 0;
  background: white;
  position:fixed; 
  z-index: 50; 
  left: 100%;
  top: 0;
  overflow-x: hidden; 
  transition: 1s; 
  }
/*------------------------------------------------------------- ALTURAS --------------------------------------------- */

/* Altura y Scrool de la Tabla  */
 #tabla {
  overflow-y:auto;
  height:400px;
} 


.alturalogin{
  height:40rem;
}





@media all and (min-height: 884px) {

  
  .alturalogin{
    height: 47.7rem;
  }

}


@media all and (min-height: 889px) {

  .tablas{
    height: 50.1rem;
  }

  .sidebar{
    height: 65rem;
  }
  .modalvender{
    height: 65rem;
  }

  .tablacontrolpedido{
    height: 35rem;
  }

  .alturalogin{
    height: 50rem;
  }

}

@media all and (min-height: 1020px) {

  .tablas{
    height: 50.1rem;
  }

  .sidebar{
    height: 67rem;
  }
  .modalvender{
    height: 67rem;
  }

  .tablacontrolpedido{
    height: 35rem;
  }

  .alturalogin{
    height: 55rem;
  }
}

@media all and (min-height: 1080px) {

  .tablas{
    height: 50.1rem;
  }

  .sidebar{
    height: 67.650rem;
  }

  .modalvender{
    height: 67.650rem;
  }
  .tablacontrolpedido{
    height: 35rem;
  }

  .alturalogin{
    height: 60rem;
  }
  

}

@media all and (min-height: 1106px) {

  .tablas{
    height: 55rem;
  }

  .sidebar{
    height: 75rem;
  }

  .modalvender{
    height: 75rem;
  }
  .tablacontrolpedido{
    height: 41.5rem;
  }

  .alturalogin{
    height: 70rem;
  }

}

@media all and (min-height: 1138px) {

  .tablas{
    height: 85rem;
  }

  .sidebar{
    height: 120rem;
  }

  .modalvender{
    height: 120rem;
  }
  .tablacontrolpedido{
    height: 69rem;
  }

  .alturalogin{
    height: 70rem;
  }

}

@media all and (min-height: 1603px) {

  .tablas{
    height: 115rem;
  }

  .sidebar{
    height: 130rem;
  }

  .modalvender{
    height: 130rem;
  }
  .tablacontrolpedido{
    height: 98rem;
  }

  .alturalogin{
    height: 100rem;
  }

}











