<main class="w-96 h-84 font-Poppins">
    <!-- Cargando -->
    <!-- <div class="flex flex-col items-center justify-center h-full w-full">
        <img class="w-33 object-contain" src="assets/img/modals/3.gif" alt="">
        <div class="flex flex-col justify-center">
            <div class="flex font-medium text-plomo-550 text-center">Solicitando permisos de anulación</div>
            <div class="text-center text-plomo-327">Por favor espere...</div>
        </div>
    </div>  -->

    <!-- Se aplico exitosamente la nota de credito -->
    <!-- <div class="flex flex-col items-center justify-center h-full w-full">
        <img class="w-33 object-contain" src="assets/img/modals/concedido.svg" alt="">
        <div class="flex flex-col pt-6">
            <div class="text-center text-azul-300 font-grande text-base">Permiso Concedido</div>
            <div class="text-center text-plomo-170 text-medium px-7 pt-1">Se aplicó exitosamente una Nota de Credito al documento Original</div>
        </div>
    </div> -->

    <!-- No se acepto el tipo de anulacion -->
    <!-- <div class="flex flex-col items-center justify-center h-full w-full">
        <img class="w-33 object-contain" src="assets/img/modals/denegado.svg" alt="">
        <div class="flex flex-col pt-6">
            <div class="text-center text-naranja-100 font-grande text-base">Permiso Denegado</div>
            <div class="text-center text-plomo-170 text-medium px-7 pt-1">No se te esta permitido realizar este tipo de anulación.</div>
        </div>
    </div> -->

    <!-- Se acepto pasara a la seleccion de items -->
    <div class="flex flex-col items-center justify-center h-full w-full p-6 pt-32">
        <img class="w-33 object-contain" src="assets/img/modals/concedido.svg" alt="">
        <div class="flex flex-col pt-6">
            <div class="text-center text-azul-300 font-grande text-base">Permiso Concedido</div>
            <div class="text-center text-plomo-170 text-medium px-4 pt-1">A continuación se dará inicio la seleción de items.</div>
        </div>
        <div class="h-full w-full flex items-end">
            <button class="w-full py-2  items-center  bg-azul-300 hover:bg-azul-400 text-white rounded-md focus:outline-none ">Continuar</button>
        </div>
    </div>

    <!-- No se esta permitido -->
    <!-- <div class="flex flex-col items-center justify-center h-full w-full">
        <img class="w-33 object-contain" src="assets/img/modals/denegado.svg" alt="">
        <div class="flex flex-col pt-6">
            <div class="text-center text-naranja-100 font-grande text-base">Permiso Denegado</div>
            <div class="text-center text-plomo-170 text-medium px-7 pt-1">No se te esta permitido realizar este tipo de anulación.</div>
        </div>
    </div> -->
</main>
