<section class="m-7 h-auto" >
    <div class=" relative controls py-1 text-plomo-290 w-full h-full justify-between grid grid-cols-6 gap-9 items-center space-x-5">
        <!-- logo de  punto de  Almacenes-->
        <div class="col-span-2 text-azul-300 flex gap-2 items-center  ">
            <img  class="object-contain " src="assets/img/almacen/inventario.svg" alt=""><span class="text-lg font-bold whitespace-nowrap">Almacenes</span>
        </div>
        <div class="relative  col-span-4 flex items-start pr-6  w-full space-x-3 justify-end">
            <button (click)="onNuevo()" class=" h-9 w-24 flex justify-center items-center  bg-azul-300 hover:bg-azul-350 text-white font-bold rounded-md gap-2 focus:outline-none"> 
                <div>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 5.6H8.4V0H5.6V5.6H0V8.4H5.6V14H8.4V8.4H14" fill="white"/>
                    </svg>
                </div>
                <div>Nuevo</div>
            </button>
        </div>
    </div>
    
    <div  class="verflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white"  >
        <div class="h-full">
            <table class="tablaretorno relative scroollpersonalizadotabla  overflow-x-auto w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                <thead class="z-10 border-b-1  border-plomo-50  w-auto text-plomo-130 font-medium ">
                    <tr  class="text-sm w-full font-extralight ">
                        <th class="w-2/12 "> <div class="whitespace-nowrap w-full flex lg:justify-start justify-center pl-8">Vendedor Solcitante</div> </th>
                        <th class="w-2/12 pl-5"> <div class="whitespace-nowrap w-full flex justify-start  pl-10">Tienda Solicitante</div> </th>
                        <th class="w-3/12 pl-5"> <div class="whitespace-nowrap w-full flex justify-start  pl-10">Producto</div>  </th>   
                        <th class="w-2/12 pl-5"> <div class="whitespace-nowrap w-full flex justify-start  px-10">Talla</div>  </th>                                                                            
                        <th class="w-2/12 px-2"> <div class="whitespace-nowrap w-full flex justify-start  pr-5">Accion</div>  </th>                                  
                    </tr>
                </thead>
                <tbody>
                    <tr  class=" text-sm  text-plomo-170 items-center  ">
                        <td class="w-2/12   ">
                            <div class="whitespace-nowrap pl-8  w-full flex justify-start ">Juan Carlos Meza</div>  
                        </td>
                        <td class="w-2/12 pl-5  ">
                            <div class="whitespace-nowrap pl-10  w-full flex justify-start ">2-Tienda</div>  
                        </td>
                        <td class="w-3/12 pl-5   ">
                            <div class=" flex gap-4 pl-10 justify-start ">
                                <div class="justify-start  lg:flex hidden ">
                                    <img class="object-contain w-20" src="assets/img/venta/controldeventa/tenisazul.svg" alt=""> 
                                    <!-- <img class="object-contain w-20" src="assets/img/venta/retorno/tenisnaranja.svg" alt=""> -->
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-plomo-800 lg:text-lg text-base whitespace-nowrap ">Zapatilla NIKE</div>
                                    <div class="text-plomo-430 lg:text-sm text-xs whitespace-nowrap">New Edition 2020 Rx2</div>
                                </div>
                            </div>
                        </td>
                        <td class="w-2/12 pl-5 ">
                            <div class="whitespace-nowrap px-10 w-full flex justify-start ">7</div>  
                        </td>
                        <td class="w-2/12 px-2  ">
                            <div class="whitespace-nowrap pr-5 w-full flex justify-start relative  gap-5">
                                <button  class="lg:text-base text-sm  bg-white border-plomo-125 hover:text-plomo-270 hover:border-plomo-230 border-2 text-plomo-230 rounded-md focus:outline-none lg:px-5 lg:py-2 px-3 py-1 ">Rechazar</button>
                                <button  class="lg:text-base text-sm  bg-azul-300 text-white hover:bg-azul-350  rounded-md focus:outline-none lg:px-7 lg:py-2 px-4 py-1 ">Aceptar</button>   
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="text-azul-700 pt-6 font-medium ">Mostrando: <strong>1</strong> cajas</div>
</section>